.post-summary {
  float: left;
  width: 100%;
}
.post-summary time {
  float: left;
  width: 11%;
  margin-right: 3%;
}
.post-summary section {
  float: left;
  width: 86%;
}
.flex-box .blog-item .no-image,
.flex-box-group .blog-item .no-image {
  height: 57px;
  min-height: 10px;
}
.captcha {
  float: left;
  margin-right: 10px;
  width: 320px;
}
.captcha img {
  width: auto;
  margin: 0 15px 0 0;
  float: left;
  clear: none;
}
.captcha input {
  float: left;
}
.button.button-contact {
  float: right;
}
.button.button-contact h2 {
  padding: 0;
  margin-top: 5px;
  font-weight: normal;
}
.button.button-contact h2 a {
  padding: 7px 20px 6px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .container-fluid .row-fluid > .span8,
  .container-fluid .row-fluid > .span4 {
    width: 100%;
    margin-left: 0;
  }
  .flex-box .blog-item .no-image,
  .flex-box-group .blog-item .no-image {
    height: 129px;
  }
  .flex-box .blog-item-members .image .no-image,
  .flex-box-group .blog-item-members .image .no-image {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .captcha {
    float: none;
    width: 260px;
    margin: 0 auto 10px;
  }
  .captcha input {
    width: 133px;
  }
  .button.button-contact {
    float: none;
    width: 260px;
    margin: 0 auto 10px;
  }
  .button.button-contact h2 a {
    display: block;
    width: 260px;
    max-width: 100%;
  }
  .detail-blog {
    padding-left: 2%;
    width: 96%;
  }
  .post-summary time {
    width: 98%;
    margin: 0 auto;
    float: none;
  }
  .post-summary time em {
    display: block;
  }
  .post-summary section {
    width: 98%;
    margin: 0 auto;
    float: none;
  }
}
