.modal-content {
  width: 100%;
  margin: 0 auto;
}
.modal-content input {
  width: 233px;
}
.modal-content.modal-preview {
  width: 100%;
  min-height: 370px;
}
.modal-content-small {
  min-height: 250px;
  text-align: center;
  height: 300px;
  padding: 0 0 10px 0;
}
.modal-content-small .info {
  padding: 0 5px;
}
.modal-content-small .info .informationMessage,
.modal-content-small .info .errorMessage,
.modal-content-small .info .successMessage,
.modal-content-small .info .warningMessage {
  margin-bottom: 10px;
}
.modal-content-small .action {
  margin-bottom: 10px;
}
.modal-content-mini h2 span {
  padding-right: 10px;
}
.modal-deal-redeem {
  height: 550px;
}
.modal-content form span.comment {
  display: block;
  font-family: Arial, Verdana, sans-serif;
  font-size: 9px;
  font-weight: normal;
  line-height: 20px;
}
.modal-content .info {
  padding: 10px;
}
.modal-content .customInvoice h3 {
  font-family: Arial, Helvetica, sans-serif;
}
.modal-content .form {
  text-align: center;
}
.modal-content .form div label {
  color: #636363;
  font-size: 11px;
  text-align: left;
  padding-left: 10px;
}
.modal-content-small .form div label {
  text-align: center;
}
.informationMessage,
.errorMessage,
.successMessage,
.warningMessage {
  margin-top: -10px;
}
.popup-review {
  height: 550px;
}
.popup-review > .info,
.send-email > .info {
  padding: 0;
}
.popup-review .left,
.popup-review .right,
.send-email .left,
.send-email .right {
  width: 46%;
  float: left;
  margin-left: 3%;
}
.popup-review .left input,
.popup-review .right textarea,
.send-email .left input,
.send-email .right textarea {
  width: 86%;
}
.popup-review .action,
.send-email .action {
  float: left;
  width: 96%;
  margin: 10px 2%;
}
.popup-review .action .captcha,
.send-email .action .captcha {
  margin: 10px auto;
}
.popup-review .action .captcha input,
.send-email .action .captcha input {
  width: 138px;
}
.send-email {
  height: 500px;
}
.redeem-deal {
  text-align: center;
}
.redeem-deal .comp-info,
.redeem-deal .terms {
  text-align: left;
  padding: 10px;
}
.modal-content.modal-content-upload {
  margin: 0 auto;
}
.modal-content.modal-content-upload  form > p {
  font-size: 0.9em;
  padding: 0 0 0 20px;
}
.modal-content-upload h3 {
  text-align: left;
}
.modal-content .deal {
  width: 100%;
  clear: both;
  padding: 10px 0;
  height: 500px;
}
.modal-content .deal h1 {
  width: 200px;
  margin: 0 auto;
}
.modal-content .deal h2 {
  line-height: 40px;
  margin: 0;
}
.modal-content .deal .terms,
.modal-content .deal .comp-info,
.modal-content .deal .deal-info,
.modal-content .deal .listing-info {
  margin: 10px 0;
  clear: both;
}
.modal-content .deal .text-center {
  display: block;
}
.modal-content .rate {
  height: auto;
  margin: 0 auto 15px auto;
  width: 100%;
}
.modal-content .rate img {
  display: inline;
  margin: 0 0 0 2px;
  width: 25px;
}
.modal-content .rate h3 {
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
}
input[type="password"] {
  font-family: Arial, Helvetica, sans-serif !important;
}
.modal-content-small form .left {
  margin-bottom: 10px;
}
.modal-content.login {
  height: 380px;
  width: 100%;
}
.modal-login {
  width: 233px;
  margin: 0 auto;
}
.modal-login .button-facebook h2,
.modal-login .button-google h2 {
  width: 100%;
}
.modal-login .button-facebook h2 a,
.modal-login .button-google h2 a {
  display: block;
  width: 100%;
}
.modal-login .btn-group.bootstrap-select {
  width: 233px;
  margin-left: -5px;
}
.modal-login input {
  width: 100%;
}
.modal-login button[type="submit"],
.modal-login .button-profile h2 a {
  width: 280px !important;
}
.modal-login .formcheckbox,
.modal-login .loginopenid {
  margin: 5px 0 15px 0;
}
.modal-login .formcheckbox label {
  line-height: 23px;
}
.modal-login input.checkbox {
  margin: 3px 10px 0;
  display: inline;
  width: 13px;
  min-height: 13px;
  height: 13px;
  padding-left: 0;
  border: none;
}
.modal-content .button-facebook,
.modal-content .button-google {
  margin-top: 20px;
  display: block;
}
.modal-content .form p {
  padding: 0 0 10px 0;
}
.modal-content .form .captcha {
  float: none;
  padding: 0;
}
.modal-content .form .captcha img {
  border: 1px solid #B7C0C7;
}
.content-custom p {
  padding: 5px 10px;
}
