/**
* eDirectory - Print ( All pages )
*			
*/

/* Default left */
@page { margin: 1cm } 


* {
	background-color: transparent;
	color: #000;
	margin:0; 
	padding:0; 
	border:0;
	width: auto;
}

body {
	margin:0; 
	padding:0; 
	font-size: 11pt; 
	color:#000;
	background-color: white;
}

-webkit-print-color-adjust: economy;


/* ------- Pagination */
 
h2 {
	font-size: 14pt;
	page-break-after: avoid;
	page-break-before: avoid;
	page-break-inside: avoid;
}
 
p {
      orphans:3;
      widows:3;
      word-wrap: break-word;
      font-size: 11pt;
  }

ul {
	font-size: 11pt;
}

/*Image*/
img, img a, .more-link a {border:none;}


/* Links */
a:link, a:visited {background: transparent; color:#777; text-decoration:underline;  white-space: inherit;  word-wrap: break-word;}

a[href^="http://"]:after  {content: ""; } 


/*Removing*/
.image-bg, .navbar, .advertisement, #boxNewsletter, #myCarousel, .calendar, .daily-calendar, .twitter-widget, #footer, .view-more, .span3.sidebar, .hidden-phone, 
.facebookConnect, .breadcrumb, .tabs.nav.nav-tabs, .bottom-pagination-listing, .visible-phone, .custom-select-listing, #content_video + .row-fluid,.btn-review , .rate, 
.span4.text-right, .galleria-thumbnails-container , .review-item .review-bottom, .content-social-box, .fancy_window_tofriend, .share-social, .content-social-box, 
.pnt-0, .detail-navbar, .post-comments, .contact-form, .top-reviews, #all_reviews, .span4.big-rating, .sidebar-filters, .filter-sidebar, .searchbar
{
	display:none !important;
}

.filter-sidebar + .span9 {width 100%}

[class*="flex-box"] {
	border: none;
	float: none;
	page-break-inside: avoid;
 }

[class*="flex-box"] h2 {
	border: none;
	font-size: 16pt;
 }

 [class*="flex-box"] aside, [class*="flex-box"] aside.span8{
 	float: none; clear: both; width: auto;
 }

 [class*="flex-box"] aside img, .post-summary img{
 	width: 10cm;
 }

 [class*="flex-box"] aside.span8 a span {
 	float: none; position: relative; text-align: left;padding-top: 0.3cm;
 }

 [class*="flex-box"] h5 {
 	display: block;
 }
.flex-box-list { padding-left:0.5cm;}
.well.container {
	border: none;
}

.homepage, .mrgt-30 {
	width: 49%; float:left;
}

.mrgt-30 {
	border: 1px solid #ccc;
	float: right;
}

h5 a:link[href^="http://"]:after,  [class*="flex-box"] aside.span8 a:after {content: " (" attr(href) ") ";  clear:both; color:#ccc; word-wrap: break-word;}

.item-preview h5 a:link[href^="http://"]:after {content: "";}


/*Modules Homepages*/

.span6.flex-box-dashed{
	width: 5cm !important;
}
.container-fluid > .row-fluid {
	page-break-inside: avoid;
}
.container-fluid .span4.flex-box.color-3{
	width: 30%;
	margin-left: 1%;
	float: left;
}

.container-fluid .span4.flex-box.color-3 img{
	width: 100%;
}


.container-fluid > .row-fluid > .span8 {
	width: 65.81196581196582%;
	float: left;
}
.container-fluid > .row-fluid > .span4 {
	float: left;
	width: 30.623931623931625%;		
}

.row-fluid.blog-home > .span8, .row-fluid.detail-blog > .span8, .row-fluid.tablet-full .span8 {
	width: 100%;
}

.blog-home .post-summary section img {
	width:7cm;
}

/*Home Listing*/
.flex-box-list .browse-category {
	width: 200px;
}

/*Results Page*/

.summary, .summary-small {
	page-break-inside: avoid;
	border:none;
	border-bottom: 1px solid #000;
}

.sidebar-filters, .visible-phone, .tabview-results, #return_filter, .summary .line-footer {
	display: none;
}


/*Detail Page*/
.review-item .review-bottom, .content-social-box, .fancy_window_tofriend, .share-social {
	display: none;
}
.top-info h3, .top-info h1{
	height: 1cm; margin:0;
}
.responsive-detail > .row-fluid > .span8 {
	width: 65.81196581196582%;
	float: left;
}
.responsive-detail > .row-fluid > .span4 {
	float: left;
	width: 31.623931623931625%;
	margin-left: 2.564102564102564%;
}
.tablet-full .sidebar, #map {
	width: 16cm;
	page-break-inside: avoid;
}