/**
* eDirectory - Popups ( Modal boxes )
*
* This style sheet describes the structure and the main components
* about eDirectory's interface
*
* @package			layout
* @filesource		popup.css
* @author			Arca Solutions
*			
*/

/* #Typography*/
.modal-content  h2 {font-size: 20px;  font-weight: 400;  line-height: 30px;  margin-bottom: 10px;   text-align: center;}

.modal-content  .button h2 {font-weight:400;line-height:24px; font-size:14px; margin-bottom:20px;}

.modal-content  .button h2 a {padding:5px 35px;}

/* Popups > body */

body
{ background:#f2f2f2; }

/* Popups > modal content */
	
	.modal-content form span.comment { color:#8A8A8A; }

.modal-content .customInvoice h3 { color:#636363; }

/** Popups > buttons */

.modal-content button[type="submit"] {
    padding:6px 20px;
    border-radius:6px;
    color: #ffffff;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #A1C821;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: -moz-linear-gradient(top, #A1C821, #95B91E);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C821), to(#95B91E));
    background-image: -webkit-linear-gradient(top, #A1C821, #95B91E);
    background-image: -o-linear-gradient(top, #A1C821, #95B91E);
    background-image: linear-gradient(to bottom, #A1C821, #95B91E);
    background-repeat: repeat-x;
    border: 1px solid #708c15;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C821', endColorstr='#95B91E', GradientType=0);
 }
.modal-content button[type="submit"]:hover {  color:#333;  background-color: #A1C821;  background-image: none; text-shadow: none; }
 
.modal-content .button-google h2 a {  background-color: #E2E2E2; box-shadow: 1px 1px 0 #FCFCFC inset, 1px 1px 0 #9D9D9D;}
	
p.input-button-form {    
    background-color: transparent;
    border: none!important;
    border-radius:0;
    box-shadow: none;
}

p.input-button-form button {
    background-color: #A2C81F;
    border: 1px solid #749116;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 0 #C5DD74 inset, 1px 1px 1px #DDDDDD;
    color: #FFFFFF;
    padding: 6px 20px;
    cursor:pointer;
}

p.input-button-form button:hover {
    color:#749116;
}

/** Popups > deal */

.modal-content .deal h1{text-align:center; font-size:30px; font-weight:600;border-radius:5px; background-color:#ffffff;text-rendering: optimizeLegibility;}

.modal-content .deal .terms p{font-size:10px;color:#888;}
.modal-content .deal .listing-info p{font-size:11px;}


/** Popups > rate */

.modal-content .rate
{ background-color:transparent; }
	

/** Contact form > form > form tags */

	.modal-content .form div .text, .modal-content .form div .textarea
	{ border:1px solid #BBB;margin-bottom: 2px; }
		

/** Contact form > form > captcha */
			
	.modal-content .form .captcha img
	{ border:1px solid #B7C0C7; }


	