.profile-sidebar > h2 {
  font-weight: normal;
  text-transform: uppercase;
}
.profile-sidebar .user-info {
  background-color: #fcfcfc;
  border: 1px solid #dee1e3;
}
.profile-sidebar .user-info p {
  font-size: 0.9em;
  line-height: 1.46em;
  color: #939496;
}
.profile-sidebar .basic-info h5 {
  font-weight: 600;
  line-height: 1em;
  font-size: 1em;
  padding-bottom: 5px;
}
.profile-sidebar .extra-info p {
  margin: 5px 0;
}
.profile-sidebar .extra-info p a {
  word-break: break-word;
}
.profile-sidebar .extra-info h4 {
  margin: 13px 0 5px;
  font-size: 1.1em;
}
.profile-sidebar .social-network p {
  font-size: 0.9em;
  line-height: 1.8em;
  padding: 5px 0 10px;
}
.viewmore a {
  color: #749116;
}
.viewmore a:hover {
  color: #f0a570;
}
.list-favorites .item-favorite {
  border: 1px solid #dee1e3;
}
.list-favorites .item-favorite .item-info {
  background-color: #fcfcfc;
}
.list-favorites .item-favorite .item-options {
  background-color: #e8e9eb;
}
.list-favorites .item-favorite span,
.list-favorites .item-favorite p {
  color: #939496;
  font-size: 0.95em;
  line-height: 1.4em;
}
.list-favorites .item-favorite h4 {
  color: #3C3C3C;
  font-size: 1em;
  line-height: 2em;
}
.list-favorites .item-favorite h4 a {
  color: #3C3C3C;
}
.list-favorites .item-favorite h4 a:hover {
  text-decoration: underline;
}
.list-favorites .item-favorite abbr {
  font-size: 0.8em;
}
.list-favorites .item-favorite abbr a {
  color: #939496;
}
.list-favorites .item-favorite abbr a:hover {
  text-decoration: underline;
}
.welcome-box h1 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: normal;
  padding-bottom: 15px;
}
.welcome-box > h2 {
  font-size: 1.4em;
  line-height: 20px;
  margin: 0 0 13px;
  font-weight: normal;
  text-transform: uppercase;
}
.welcome-box p {
  line-height: 2em;
}
.search-box {
  background-color: #f8f8f8;
  border: 1px solid #dee1e3;
}
.search-box h3 {
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: normal;
  padding: 10px 0;
}
.search-box p {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 3em;
}
.activity-box h2 {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 15px;
}
.activity-box .item-activity {
  border: 1px solid #dee1e3;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}
.activity-box .item-activity p {
  vertical-align: middle;
  line-height: 1.4em;
}
.activity-box .item-activity:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #e8e9eb;
}
.activity-box .item-activity .activity-detail p {
  color: #939496;
}
.activity-box .item-activity .activity-detail .reply {
  opacity: 0.6;
  filter: alpha(opacity=60);
  padding-left: 50px;
}
.socialicon {
  background-image: url(images/iconography/profile-icons.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.socialicon.social-facebook {
  background-position: 0 0;
}
.socialicon.social-twitter {
  background-position: 0 -30px;
}
.socialicon.social-facebook-mini {
  background-position: 0 -59px;
}
.socialicon.social-twitter-mini {
  background-position: 0 -89px;
}
.socialicon.social-clickcall-mini {
  background-position: 0 -117px;
}
.last-tweets h2 {
  margin: 10px 0 0;
}
.last-tweets ul li span {
  color: #939496;
}
