/*Activation Message*/
.footer-message {
  margin:10px 0;
}
.footer-message + .span4 {
  margin-left: 0 !important;
}

.content-center {
  padding-top: 10px;
}
.well > .container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
}
.alert, .errorMessage, .successMessage {
    display: block;
    margin: 20px auto 0;
    padding: 8px 35px 8px 14px;
    width: 95%;
}
.members .content-center .content {
  width:100%
}
.content-wrapper .members {
  margin-top: -1px;
}
#navbar-wrapper {
  margin-bottom:-49px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-right {
  text-align: right;
}
.text-left {
   text-align: left;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.row-fluid .span8-5 {
    width: 71.81196581196582%;
    *width: 71.75877432260411%;
  }

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row-fluid .span3-5 {
    width: 25.076923076923077%;
    *width: 25.023731587561375%;
}

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}

.order > div.blockcontinue {
  margin: 20px 0 0;
  width: 95%;
}
.members .row-fluid.responsive {padding:40px 0;}

.select-country {
  width: 55% !important;
}
.order .standard-table th {
  width: 25%;
}
.members .container-fluid {
  width: 96%;
  margin: 0 auto;
}
select.payment-cardtype,
select.payment-state {
  width: 309px;
}
select.payment-datemonth,
select.payment-dateyear {
  width: 153px;
}
.standard-table[class*="payment-"] input {
  max-width: 300px;
  width: 55%;
}
.standard-table[class*="payment-"] select {
  max-width: 300px;
  width: 55%;
}
#check_out_payment label {
  display: inline-block;
  margin-left: 10px;
}
form {
  clear: both;
  margin: 10px 0;
}
table {
  clear: both;
  margin: 0 auto;
}
.table-pricing {
  margin: 0;
}
[class*="standard-table"] input.httpInput {
  width: 43.8%;
}
.input-dd-form-banner {
  width: 55% !important;
}
.content-full [class*="standard-table"] input.httpInput {
  width: 41%;
}
[class*="standard-table"] .inputCheckBulk {
  width: 20px;
}
.httpSelect {
  width: 80px;
}
.member-form .cont_100 > input.input-httpSelect {
  width: 81.7%;
}
.select {
  width: 63.5%;
}
.content-full .select {
  width: 60%;
}
.width100 .input-button-form + span {
  float: left;
  clear: both;
  width: 100%;
  margin: 10px;
}
.width100 .input-button-form {
  margin: 10px auto;
  float: left;
}

.member-form .btAdd {
    margin: 0 auto;
    text-align: center;  
    float: right;
    margin: 0;
    padding: 20px 0;
    width: 709px;
}
.Full ul li {
  float: left;
  margin: 0 0 20px 5.2%;
  padding: 10px 1%;
  width: 40%;
}
.Full ul li a {
    float: right;
    font-size: 10px;
    margin: 8px 0 0 15px;
    padding: 4px 10px;
}
.content-full .Full ul li a {
  clear: right;
  font-size: 10px;
}
.Full .galleryImgThumb {
  float: left;
  max-width: 256px;
}
.ie .Full .galleryImgThumb {
  width: 248px;
}
.standard-table .galleryImgThumb {
  margin: 0;
  padding: 0;
}
.previewmember .well-small {
  width: 94%;
}
.summary-image .no-link img {
  display: block;
  float: left;
  margin: 10px 10px 0 0;
}
.review-item .review-top img {
  margin: 0 10px 10px 0;
}
.baseButtons {
  width: 100%;
  clear: both;
  text-align: center;
}
.baseButtons.floatButtons  .standardButton {
  width: 100%;
  float: none;
}
#reportChart {
  max-width: 610px;
}
[class*="standard-table"] {
  width: 100%;
  margin: 10px 0 20px;
  vertical-align: middle;
  font-size: 12px;
}
[class*="standard-table"] th {
  padding: 7px 1px;
}
[class*="standard-table"] th.Full {
  border-bottom: 1px solid transparent;
}
[class*="standard-table"] td {
  padding: 5px 3px;
}
.standard-table span {
  color: #999;
  clear: both;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
}
.standard-table span.categorySuccessMessage {
  color: #2980B9;
  clear: none;
  display: inline;
}
.standard-table .banner-section-type span {
  color: #333;
}

.standard-table .center-line span {
  clear: none;
  display: inline;
}
.ie .packageEditor {
  max-width: 620px;
  width: 620px;
  overflow: auto;
}
.membersExtendedContent .packageTable {
  margin: 10px 0;
}
[class*="standard-table"] input,
[class*="standard-table"] select,
.standardSIGNUPTable select {
  margin: 0;
  font-size: 13px;
}
[class*="standard-table"] textarea {
  width: 55%;
  clear: both;
  margin: 0;
  height: 100px;
}
.help-page [class*="standard-table"] textarea {
  margin: 0;
}
.ie [class*="standard-table"] select {
  padding: 4px;
}
[class*="standard-table"] a {
  cursor: pointer;
}
[class*="standard-table"] i span,
[class*="standard-table"] .standard-tabletitle i span {
  display: none !important;
}
[class*="standard-table"] .width100 {
  padding: 10px 4% 10px;
}
[class*="standard-table"] .columnFile span {
  display: block;
  clear: both;
}
[class*="standard-table"] .videoSnippetInput + span {
  float: left;
  width: 100%;
}
[class*="standard-table"] .textcounter {
  background-color: transparent;
  border: medium none;
  box-shadow: none;
  margin: 0 2px 0 7px;
  padding: 0;
  width: 31px;
  vertical-align: baseline;
}
.standard-table th {
  width: 20%;
  text-align: right;
}
.standard-table td {
  max-width: 400px;
  overflow: hidden;
  padding: 10px;
  text-align: left;
  white-space: inherit;
}
.standard-table td.sample {
  width: 300px;
}
.standard-table.tableTOPBLUECheck th {
  text-align: center;
  width: 30px;
}
.standard-table.center-line {
  text-align: center;
}
.standard-table .bigger th,
.standard-table .bigger th {
  padding: 10px 5px;
  font-size: 18px;
  font-weight: 600;
}
.standard-table .bigger td span {
  font-size: 11px;
  font-weight: normal;
}
.standard-table .bigger input {
  font-size: 14px;
  width: 55%;
}
.standard-table th.standard-tabletitle {
  width: 100%;
}
.standard-table input {
  width: 55%;
  margin-right: 10px;
  height:20px;
  padding:5px;
  vertical-align: middle;
}

.standard-table select, .standard-table textarea  {
  padding:5px;
}

.standard-table input[type="file"] {
  width: 53.5%;
  margin-right: 2%;
  clear: both;
  padding: 5px;
  height: 22px;
  border: 1px solid #ddd;
  background-color: #fcfcfc;
}
.standard-table input[type="radio"],
.standard-table input[type="checkbox"] {
  width: 15px;
  margin: 0 5px;
}
.standard-table table span {
  clear: both;
  margin-left: 5px;
  display: block;
}
.standard-table table td {
  display: inline-block;
}
.standard-table table td.mceToolbar,
.standard-table .mceToolbar td {
  display: table-cell;
}
.standard-table table th {
  width: auto;
}
.standard-table .tableCategoriesADDED td {
  max-width: none;
}
.standard-table th input[type="checkbox"],
.order .standard-table th input[type="checkbox"] {
  clear: none;
  float: none;
  margin: 2px 0 0;
  width: 15px;
}
.standard-table.nomargin .banner-section-type span {
  font-size: 12px;
  margin-right: 4px;
  vertical-align: top;
  display: inline;
}
.standard-table.nomargin  span {
  display: block;
}
.tableCategoriesADDED th,
.standard-table th.table-subtitle {
  text-align: left;
  text-indent: 10px;
}
.table-column .table-box-small table {
  width: 100%;
}
.table-column .table-box-small th {
  width: 35%;
}
.table-column .table-box-small td {
  width: 65%;
}
.table-column .table-box-small .center-info {
  width: 100%;
  margin: 0 0 0 100%;
}
.ie .table-column .table-box-small .center-info input {
  margin-left: 200px;
}
.table-column .table-box-small td label {
  float: left;
  width: 60px;
}
.table-column .table-box-small td input,
.table-column .table-box-small td strong {
  float: left;
}
.table-column .table-box-small td strong {
  margin: 3px 5px 0 0;
}
.table-column .table-box select {
  min-width: 80px;
}
.standard-tableTOPBLUE .table-report {
  text-align: left;
  font-weight: normal;
  padding-left: 10px;
  line-height: 22px;
}
.standard-table .tableOption {
  text-align: left;
  text-indent: 14px;
}
.eventRec table {
  margin: 0;
}
.standard-table.nomargin .banner-section-type span {
  clear: both;
  display: block;
}
table .defaultSkin table.mceToolbar {
  margin-left: 0;
}
table .defaultSkin .mceButton {
  margin-right: 0;
}
td.mceToolbar {
  max-width: none;
  overflow: visible;
}
td.mceToolbar span {
  font-size: 10px;
  clear: none;
  display: block;
  margin-left: 0;
}
td.mceToolbar .mceToolbar tr {
  white-space: normal;
  background-color: transparent;
}
table .defaultSkin table.mceLayout tr.mceFirst td {
  border-top: none;
}
table .defaultSkin table.mceLayout {
  border-top: 1px solid #ccc;
}
.mceLast {
  border: none;
}
td.mceIframeContainer {
  border: 1px solid #ddd;
  max-width: none;
}
.mceIframeContainer.mceFirst.mceLast {
  width: 100%;
}
table .defaultSkin iframe {
  height: 300px !important;
}
.levelTable {
  margin-top: 20px;
  width: 100%;
  float: left;
  clear: both;
}
.levelTable th,
.levelTable td {
  padding: 8px;
}
.paymentMethods tr {
  float: left;
  max-width: 900px;
  height: 60px;
  overflow: auto;
  white-space: nowrap;
  word-wrap: break-word;
}
.ie .paymentMethods tr {
  white-space: normal;
}
.order .standard-table i {
  font-style: normal;
  font-size: 14px;
}
.standardChooseLevel .standard-table-putradio {
  margin: 0;
}
.standardChooseLevel input[type="radio"] {
  width: auto;
}
.levelTable th.listingLevel {
  text-align: right;
}
.levelTable .standardChooseLevel td {
  text-align: left;
}
table.standard-table.members-table {
  margin: 0 0 -6px;
}
.alignTop.width100 input {
  width: auto !important;
  padding: 0 20px !important;
}
.customInvoice .standard-tableTOPBLUE {
  font-size: 11px;
  width: 96%;
  margin: 10px auto;
}
.customInvoice .standard-tableTOPBLUE th,
.customInvoice .standard-tableTOPBLUE td {
  text-align: left;
}
.customInvoice h3 {
  margin-left: 10px;
}
.featured.featured-review {
  padding-top: 20px;
}
img {
  display: inline-block;
}
h2 span.complementaryInfo {
  float: right;
}
.noPadding {
  padding: 0 !important;
}
.noMargin {
  margin: 0 !important;
}
table.noMargin {
  margin: 0 auto !important;
}
#reccuring_ends table.noMargin td {
  width: 100%;
}
.eventRec > label,
#amount_monetary {
  display: inline;
}
.table-column,
.columnFile,
.center-line {
  border-right: 1px solid #ddd;
}
.noBackground {
  background: none !important;
}
.noBorder {
  border: none !important;
}
.content-faq .search button {
  margin-bottom: 10px;
}
table.standard-table td span.required {
  color: #F00;
}
.baseForm {
  clear: both;
  text-align: center;
}
.baseForm form {
  display: inline;
}
a.standardLINK,
a.standardLINK:visited {
  line-height: 50px;
}
a.standardLINK:hover {
  text-decoration: underline;
}
#main-right .list-view li span.ratings {
  background: url(../../images/img_rateMiniStarOn.png) 187px 0 no-repeat;
}
.galleryImgThumb img { 
    height: 100%;
    width: 100%;
  }
.progressBar {
  float: inherit;
  padding: 10px 100px 10px 220px;
}
.browserMessage {
  background: #FBF1BB;
  border-bottom: 1px solid #CEC48D;
}
.browserMessage .wrapper {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}
.featured-review .info .reply {
  background: url(images/structure/bg-reply.gif) no-repeat left bottom;
  border-left: 1px solid #C8CED2;
  margin: 15px 0 0;
  padding: 0 0 0 20px;
}
.featured-review .info .reply p {
  font-style: italic;
}
#navbar-wrapper,
.wrapper .holderFixes #navbar-wrapper {
  position: relative;
}
div.googleBase {
  background: #E5E3DF;
  border: 1px solid #BAB5A9 !important;
  height: 400px;
  margin: auto;
  width: 491px;
  z-index: 1;
}
.tip-base {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
  padding: 20px 20px 10px;
  text-align: center;
  text-align: left;
}
.tip-base p {
  color: #c09853;
}
.tip-base h1 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
p.standardButton.paymentButton,
.claimButton {
  margin: 30px auto 0;
  width: 100%;
  float: left;
}
p.standardButton.paymentButton button {
  width: auto;
}
p.mapTunningButton {
  float: left;
  margin: 0 auto 0 5px;
  width: 32%;
}
p.mapTunningButton button {
  font-size: 12px;
  width: 100%;
}
.standardForm {
  padding: 0 !important;
}
.standardForm tr {
  margin-bottom: 15px;
}
.standardForm th.wrapcaption {
  color: #636363;
  font-weight: normal;
  padding: 15px 0 0 10px;
  text-align: right;
  width: 165px;
}
.standardForm td {
  text-align: center;
}
.standardForm td.TaddImagetxt {
  color: #636363;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  width: 510px;
}
.standardForm td.TaddPreviewtxt {
  width: 190px;
}
.standardForm td.TimageFile {
  color: #636363;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  padding-right: 5px;
  text-align: left;
}
.standardForm td.IimageFile {
  text-align: left;
}
input[type="hidden"] {
  display: none;
  opacity: 0;
}
.standardForm td.IimageFile  .inputExplode {
  background-color: #fcfcfc;
  padding: 0 7px 0 3px;
  font-size: 13px;
  border: 1px solid #ddd;
}
.standardForm td.TaddImage {
  text-align: left;
  width: 330px;
}
.standardForm td.wrapcaption {
  padding: 15px 0 0 10px;
  text-align: left;
  width: 410px;
}
.standardForm td.wrapcaption .inputExplode {
  border: 1px solid #AAA;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
  color: #636363;
  padding: 2px;
  width: 392px !important;
}
.standardForm td.TaddPreview {
  vertical-align: top;
  width: 345px;
}
.standardForm td.TaddPreview div {
  border: 3px solid #D0D5D8 !important;
}
.standardForm td .input-button-form {
  margin: 10px 0 0 0;
}
.standardForm td #imgThumb {
  float: none;
  margin: 0 0 15px;
  padding: 0;
}
.faq-search input.span5 {
  width: 46%;
}
.faq-search h4.span5 {
  width: 36%;
}
table.standard-table .mceToolbar td {
  width: auto;
}
#dinamic_facebooked .facebookRedeem,
#dinamic_facebooked .twitterRedeem {
  text-align: center;
  width: 10px;
}
table.standard-table td table.mceToolbar {
  float: none;
}
.arrow-manage th a {
  margin-left: 5px;
}
.member-form {
  float: left;
  clear: both;
}
.member-form > form {
  margin-top:0;
}
.member-form form > div {
  clear: both;
}
.member-form form > div > div {
  width: 100%;
  float: left;
  clear: both;
}
.member-form .right {
  padding: 35px 13px 0 20px;
  width: 676px;
  min-height: 75px;
  float: right;
}
.member-form .left {
  padding: 10px 2% 5px 2%;
  width: 25%;
  border: none;
  float: left;
}
.member-form .left a {
  vertical-align: top;
  line-height: 20px;
}
.member-form .left h2 {
  margin-bottom: 7px;
  border: none;
  text-transform: capitalize;
}
.member-form select { 
    height: 27px;
    vertical-align: top;
}
.member-form label {
  width: 100%;
  float: left;
  white-space: pre-wrap;
  word-break: break-all;
}
.member-form label > a {
  display: none;
}
.member-form label > em {
  margin-left: 10px;
}
.member-form textarea {
  width: 98%;
  height: 100px;
}
.member-form .cont_50 > input {
  width: 90%;
}
.member-form .cont_100 > input {
  width: 95%;
}
.member-form .cont_100 input[type="radio"] {
  width: 15px;
}
.member-form .cont_30 {
  width: 33%;
}
.member-form .cont_30 input {
  width: 88%;
}
.member-form .cont_checkbox {
  width: 100%;
  margin: 5px 0;
  clear: both;
}
.member-form .cont_checkbox input {
  clear: left;
  float: left;
  margin: 1px 8px 0 0;
  width: 15px;
  height: 15px;
  padding: 0;
}
.member-form .cont_checkbox label {
  width: auto;
  clear: right;
}
.member-form .checking input {
  width: 45%;
  vertical-align: inherit;
}
.member-form .alignIMGtxt {
  margin-left: 3px;
}
.checking label {
  float: right;
  margin-top: 4px;
}
.checking img {
  margin: -4px 5px 0 0;
}
.checking .positive {
  color: #27ae60;
}
.checking .negative {
  color: #c0392b;
}
#loadingEmail {
  width: 15px;
  height: 15px;
}
#personal-info div.right {
  min-height: 240px;
}
#change-email div.right {
  min-height: 40px;
}
#locationPrefs div.right {
  min-height: 110px;
}
#form-action p.standardButton button {
  margin-left: 10px;
}
.hiddenFile-box span.hiddenFile button {
  width: 130px;
}
a.remove {
  width: 12px;
  height: 12px;
  position: absolute;
  top: -5px;
  right: -5px;
}
.members .standard-tableTOPBLUE .review-status {
  padding: 0 !important;
}
.members .standard-tableTOPBLUE select {
  height: 33px;
}
.webitem {
  margin-bottom: 10px;
}
.webitem .title b {
  max-width: 210px;
  display: inline-block;
  padding-bottom: 3px;
}
.webitem .desc {
  padding: 10px 20px 10px 10px;
}
.webitem .desc .status {
  float: right;
  height: 35px;
  margin-right: -6px;
  width: 50px;
  white-space: nowrap;
}
.webitem .action {
  padding: 5px 10px;
}
.webitem .action a {
  margin-right: 10px;
}
.addcontent {
  margin: 20px 0;
}
.addcontent > p {
  padding: 20px;
}
.addcontent > ul {
  padding: 10px 20px;
}
.addcontent > ul li {
  padding: 0 0 5px 0;
}
.dashboard header {
  padding: 20px 20px 15px 25px;
}
.dashboard header p {
  display: inline-block;
}
.dashboard q::before {
  content:"";
}
.dashboard header .btn {
  float: right;
  line-height: 30px;
}
.dashboard section {
  padding: 15px 20px 15px 25px;
}
.dashboard section:last-child {
  padding-bottom: 25px;
}
.dashboard section.stats-summary .row-fluid {
  margin: 32px 0 20px 0;
}
.dashboard section.stats-summary .row-fluid > div {
  padding-left: 15px;
}
.dashboard section.stats-summary .row-fluid > div:first-child {
  padding-left: 0;
}

.dashboard section.stats-summary .row-fluid > div p .alert-new {
  margin-left: 5px;
  min-width: 11px;
  padding: 4px 3px;
  position: absolute;
  text-align: center;
}
.dashboard section.reviews-list .head {
  margin: 22px 0 0 0;
}
.dashboard .item-review {
  margin-bottom: 5px;
}
.dashboard .item-review .review-summary {
  padding: 13px;
}
.dashboard .item-review .review-summary b,
.dashboard .item-review .review-summary span {
        display:inline-block;
        max-width: 190px;
        overflow: hidden;
        text-overflow:ellipsis;
        vertical-align: middle;
        white-space: nowrap;
}
.dashboard .item-review .review-detail {
  padding: 13px;
}
.dashboard .item-review .review-detail img {
  width: 50px;
  height: 50px;
  padding: 4px;
  margin-right: 13px;
  float: left;
}
.dashboard .item-review .review-detail q {
  clear: both;
  display: block;
}
.dashboard .item-review .review-detail .review-text {
  margin: 15px 0 7px 0;
}
.dashboard .item-review .review-detail .review-reply {
  margin: 10px 20px 10px 40px;
}
.dashboard .item-review .review-detail .review-reply span {
  display: block;
}
.dashboard .item-review .review-detail .replythis textarea {
  width: 98%;
  height: 100px;
  margin-bottom:10px;
}
.dashboard .game-completion .completion-chart {
  float: left;
  width: 25%;
  margin-left: 60px;
}
.dashboard .game-completion .completion-chart span {
  position: absolute;
  right: 28px;
  top: 24px;
}

.dashboard .game-completion .large-step {
  float: right;
  padding: 5px 0;
  width: 50%;
}
.dashboard .game-completion .large-step span {
  display: block;
}

.dashboard .stats-complete h2 {
  margin-bottom: 20px;
  display: inline-block;
}
.dashboard .stats-complete canvas {
   margin-left: -8px;
    width: 616px !important;
}
.chart-legends {
  margin-bottom: 50px;
}
.chart-legends > ul {
  display: inline-block;
  float:left;
}
.chart-legends > ul li {
  display: inline-block;
  margin-right: 15px;
}
.chart-legends b {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
}
.chart-legends i.checked {
  height: 15px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 15px;
}
#controlLegend i.checked {
  display:none;
}
.chart-legends span {
  margin: 0 10px 10px;
  display: inline-block;
}
.chart-legends span:hover {
  cursor: pointer;
}
.chart-legends .hidden-legends {
  display: inline-block;
  float: right;
}
.chart-legends .hidden-legends:hover ul {
  display: block;
  z-index: 1000;
}
.chart-legends .hidden-legends ul {
  position: absolute;
  z-index: -1;
}
.chart-legends .hidden-legends ul li {
  padding: 2px 40px 2px 20px;
  position: relative;
}
.minor-nav ul {
  text-align: center;
  padding-top:20px;
}
.minor-nav ul li {
  display: inline;
}
.table-itemlist {
  border-collapse: collapse;
  padding: 0;
  margin: 0 0 10px 0;
  width: 100%;
  float: left;
  clear: both;
  text-align: left;
}
.table-itemlist th {
  padding: 8px;
  white-space: nowrap;
  text-align: left;
}
.table-itemlist td {
  padding: 9px;
}
.package .membersExtendedContent > img {
  float: left;
  margin-right: 30px;
}
.package .content-custom {
  clear: right;
}
.package .standardSubTitle {
  padding-top: 20px;
  padding-bottom: 20px;
}

.backlink  img {
    margin-right:30px; float:left;
  }


.general-item strong {
  width: 170px;
  padding: 6px 10px;
  display: inline-block;
  text-align: right;
}
.payment-options {
  width: 100%;
  clear: both;
}
.payment-options div {
  float: left;
  vertical-align: middle;
  padding: 10px;
  margin-right: 10px;
  min-width: 200px;
}
.payment-options input[type="radio"] {
  float: left;
  margin: -3px 10px 0 0;
}

.treeView ul li {
  margin: 5px 0 5px 17px;
}

.row-fluid.text-center button {
  width: auto;
}

.btn.btn-iconic {

}
.panel.panel-form-media .panel-heading {
  background-color: #e8e9eb;
  font-size: 13px;
  font-weight: 600;
  height: 30px;
  line-height: 27px;
  padding: 6px 0 3px 15px;
  text-align: left;
}
.panel.panel-form-media .panel-body {
  border: 1px solid #efefef;
  padding: 10px;
  color: #2b2b2b;
  background-color: #f8f8f8;
}
.panel.panel-form-media .panel-body .row {
  margin: 0 0 20px 0;
}
.panel.panel-form-media .panel-body .col-sm-3 {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.panel.panel-form-media .panel-body .col-sm-6 {
  width: 30%;
  display: inline-block;
}
.panel.panel-form-media .panel-body img {
  max-width: 200px;
  max-height: 120px;
}
.panel.panel-form-media .panel-body .btn-iconic {
  padding: 2px 2px 5px 5px;
  height: 27px;
  width: 27px;
  display:inline-block;  
  border-radius: 4px;
}
.panel.panel-form-media .panel-body .template-download .col-sm-6 {
  padding-top: 10px;
  padding-bottom: 5px;
  min-height: 70px;
}
.panel .center-block {
  text-align: center;
  padding: 10px 0;
}
.panel .center-block p {
  color: #aaa;
}
.panel .pull-right {
  float: right;
  margin-right: 10px;
}
.content-pills .form-group {
  display: table;
  width: 100%;
}
.content-pills .form-group .col-sm-6 {
  display: table-cell;
  padding: 20px 20px 0 10px;
  width: 50%;
}
.content-pills .form-group .form-control {
  width: 100%;
}
#cropSection {
  margin: 20px 0;
}
#cropSection .nav-pills {
  margin: 20px 0 0;
}
#cropSection .row {
  margin-left: auto;
  margin: 20px 0;
}
#cropPanel {
  padding: 20px;
}