/**
* eDirectory - Advertise Page
*
* @package			layout
* @filesource		advertise.css
* @author			Arca Solutions
*			
*/



/*Pricing Table*/


.pricing-table {
    border: medium none;
    float: left;
    margin: 28px 0 40px 2%;
    width: 96%;
    text-align: center;
}

.pricing-table blockquote {
    text-align:left;
}

.pricing-table .pricinglevel {
    width:180px;
    padding:15px;
    display:inline-block;
    text-align: center;
    background-color:#EDEDED;
    border:1px solid #ccc;
    box-shadow:1px 1px 1px #fff, 1px 1px 1px #fff inset ;
    margin:20px 5px;
    word-wrap: break-word;

}

.pricing-table .pricinglevel .btn {
	font-size:14px;
    display:block;
    width:auto;
    margin: 10px auto;
    background-color: #0072BC;
    border-color: #0072BC;
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding:4px 10px;
    line-height: 30px;
}


.pricing-table .pricinglevel .btn:hover {
	background-color: #01548A;
    border-color: #01548A;
    color: #FFFFFF;
    text-decoration: none;
}
.pricing-table .pricinglevel .hgroup {
    display:inline-block;
}
.pricing-table .pricinglevel h1, .pricing-table .pricinglevel h2 {
    font-size:38px;
    font-weight:400;
    border-bottom:1px solid #d9e3e9;
    margin-bottom:10px;
}

    .pricing-table .pricinglevel h1 small,.pricing-table .pricinglevel h2 small {
        font-size:80%;
    }
    .pricing-table .pricinglevel h1 span, .pricing-table .pricinglevel h2 span {
        font-size:12px;
        white-space:nowrap;
        float:none;
    }

.pricing-table .pricinglevel h2 {
    border:none;
    margin-bottom:-5px;
    background:none;
    color:#000;
    text-transform: none;
}


.pricing-table .pricinglevel h3 {
    font-size:34px;
    font-weight:300;
    line-height: 42px;
}
.pricing-table .pricinglevel h3 small {
    font-size:28px;
}
.pricing-table .pricinglevel h3 span {
    font-size:12px;
}

.pricing-table .pricinglevel h4 {
    font-size:13px;
    font-weight:400;
    color:#333; 
    text-transform: uppercase;
    margin: 10px 0;
}
.pricing-table .pricinglevel h5 {
    font-size:16px;
    line-height:24px;
    text-transform: uppercase;
    font-weight:400;
    color:#EC008C;
}
.pricing-table .pricinglevel h6 {
    font-size:12px;
    font-weight:400;
    color:#a3abb0;
}

.pricing-table .pricinglevel em {
    background-color: #d9e3e9;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 1px;
    line-height: 0;
    margin: 25px 25px 15px;
    text-transform: uppercase;
}

.pricing-table .pricinglevel em span {
  background-color:#EDEDED;
  padding:0 0 0 7px;
}


.pricing-table .pricinglevel ul li {
    font-size:13px;
    line-height:22px;
}

    .pricing-table .pricinglevel ul li.disabled {
        color:#9cb4bf;
        text-decoration:line-through; 
    }

.pricing-table .text-underline {
    text-decoration: underline;
}

.pricing-table .pricinglevel.most-popular {
    box-shadow:0 1px 8px #CDCDCD;
    padding:10px 30px 20px;
    margin:0 -10px;
    background-color:#fff;
    position:relative;
    z-index:99;
}

.pricing-table .pricinglevel.most-popular  em span {
  background-color:#fff;
  padding:0 0 0 7px;
}

.pricing-table .pricinglevel.most-popular h5 {    
    line-height:30px;
}

.pricing-table .lower-level  {
    float:right;
    margin:25px 0 0;
    width: 217px;
}

.pricing-table .lower-level .pricinglevel {
    margin:0;
}


.pricing-table .contact-info {
    float:right;
    width:183px;
    padding:15px;
    margin:5px 0 20px 10px;
    border:1px solid #d9e3e8;
}

.pricing-table .contact-info h2, 
.pricing-table .contact-info p {
    font-size:14px;
    font-weight:400;
    text-align: center;
    word-wrap:break-word;
}

    .pricing-table .contact-info h2 {
        text-transform: uppercase;
        background-image: none;
    	border: medium none;
        line-height: 26px;
        margin: 4px 0 15px;
    }

    .pricing-table .contact-info p{ 
        color:#2980b9;
    }

    .pricing-table .contact-info hr {
        margin:10px 0;
    }





/** Advertise Misc > Structure */

.content
{ padding-top:30px !important; }

/** Tab navigation */

.tabs
{ border-left:1px solid #CCC; border-bottom:1px solid #CCC; height:25px; overflow:hidden; }

	.tabs li
	{ border:1px solid #CCC; border-left:none; display:block; float:left; height:25px; padding:0 15px; width:auto; }
	
		.tabs li a:link,
		.tabs li a:visited,
		.tabs li a:active,
		{ color:#636363; display:block; font-size:11px; line-height:25px; text-align:center; }
		
			.tabs li.active a:link,
			.tabs li.active a:visited,
			.tabs li.active a:active
			{ color:#0072BC; }

.tabs-advertise > li  { color:#636363; float:left; text-align: center; padding:5px 20px; display:inline-block; }
.tabs-advertise > li:hover{ color:#0072BC; cursor: pointer}
.tabs-advertise > li.active { color:#0072BC; }


/** Level */

.level
{ clear:both; height:auto; overflow:hidden; padding:0 0 60px 0; }

/** Level > misc */

	.level h2.level-name
	{ border-bottom-color:#648094; color:#111; font-size:18px; margin-bottom:5px; }
	
	.level .preview-desc
	{ border-bottom:1px solid #C7C7C7; clear:both; color:#636363; font-style:italic; font-size:12px; line-height:28px; margin-bottom:15px; position:relative; text-align:left; }
	
		.level .preview-desc span
		{ bottom:0; font-size:10px; line-height:35px; position:absolute; right:0; }
	
	.level .price
	{ color:#111; font-size:14px; font-weight:bold; padding:12px 0; line-height:20px; }
	
	.level .button-profile
	{ width:150px; }
	
	.level .banner-image
	{ float:right; margin-top:30px; }
	
/** Level > info */

.level-info
{ float:left; padding:20px 0 0 0; width:222px; }
	

		
/** Level > level preview */

.content .level-preview
{ background:#FFF; padding:15px; }

	.level-preview .level-summary
	{ padding-left:0; }

		.level-preview .preview-desc
		{ text-align:left; }
		
/** Level > level banner */

.level-banner
{ background:#F1F1F1; }

	.level-banner img
	{ margin:0 auto; }
	
/** Advertise Misc > Error message difference */

.errorMessage
{ margin:30px; }

/** Preview > Site Manager Area */

.import-body
{ background:none; _width:960px; }

	.import-body .level-preview
	{ _width:940px; }
	
	.import-body .detail h1
	{ font-weight:normal; }
	
	.import-body .level-summary .summary
	{ float:left; }
	
/** Advertise List */

.tabsLevels
{ display:inline-block; width:100%; }

	.tabsLevels li
	{ display:inline; float:left; font-size:0px; }
	
		.tabsLevels li h2
		{ background:#636363; color:#FFF; cursor:pointer; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; line-height:28px; margin:7px 5px 8px 0; padding:0 15px; text-transform:capitalize; }
		
		.tabsLevels li h2
		{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
		
		.tabsLevels li:last-child h2
		{ border:none; }
		
		.tabsLevels li.active h2
		{ background:#0072BC; }