/**
* eDirectory - Print ( All pages )
*			
*/

/* Default left */
@page { margin: 1cm } 


* {
	background-color: transparent;
	color: #000;
	margin:0; 
	padding:0; 
	border:0;
	width: auto;
}

body {
	margin:0; 
	padding:0; 
	font-size: 11pt; 
	color:#000;
	background-color: white;
}

-webkit-print-color-adjust: economy;


/* ------- Pagination */
 
h2 {
	font-size: 14pt;
	page-break-after: avoid;
	page-break-before: avoid;
	page-break-inside: avoid;
}
 
p {
      orphans:3;
      widows:3;
      word-wrap: break-word;
      font-size: 11pt;
  }

ul {
	font-size: 11pt;
}
.featured-listing-special p,
.summary-backlink .title h3 a:link, .summary-backlink .title h3 a:visited, .summary-backlink .title h3 a:active, 
.summary-backlink .title h3 a.map-link:link, .summary-backlink .title h3 a.map-link:visited, .summary-backlink .title h3 a.map-link:active {color: black;}
/*Image*/
img, img a, .more-link a {border:none;}


/* Links */
a:link, a:visited {background: transparent; color:#777; text-decoration:underline;  white-space: inherit;  word-wrap: break-word;}

a[href^="http://"]:after  {content: ""; } 


/*Removing*/
.image-bg, .navbar, .advertisement, #header-wrapper, #boxNewsletter, .slider-wrapper, #myCarousel, .calendar, .daily-calendar, .twitter-widget, #footer, .view-more, .span3.sidebar, .hidden-phone, .facebookConnect, 
#footer-wrapper,.thumbnails h2 .pull-right , .thumbnails .btn-small, .three-columns h2 a, .tabs, .visible-phone, .button-featured, .button-more, .button-back, .detail-info-shadow
.share, .button-send, .button-call, .content-social-box, .ad-image-description, .filter, .pagination, .breadcrumb, .detail-tabs, .ad-nav, .pnt-0, .fb-comments, .contact-form
{
	display:none !important;
}

.thumbnails h2, .list-home h2, .helpful-reviews h2 {
	border:none;
	font-size: 16pt;
	color: black;
	box-shadow: none;
}

.thumbnails li {
	page-break-inside: avoid;
}

h5 a:link[href^="http://"]:after,  [class*="flex-box"] aside.span8 a:after {content: " (" attr(href) ") ";  clear:both; color:#ccc; word-wrap: break-word;}
.browse-category {
	page-break-inside: avoid;
}
.item-preview h5 a:link[href^="http://"]:after {content: "";}

.container-fluid > .row-fluid > .span4,
.container-fluid > .row-fluid > .span8
{ width: 100%; float: none}

.three-columns .thumbnail img, .summary-image .image > img {
	width: 7cm; margin-right: 0.5cm
}
.special-deal {
	margin:0.5cm;
}
.special-deal , .special-deal-border, .special-deal .left, .special-deal .right, .detail-border{border:none!important; height: auto;}
 .special-deal a img {
 	width: 16cm; height: auto;
 }
.featured-deal .featured-item-special .deal-discount,
.special-deal .left .price,
.special-deal .left .discount,
.featured-deal .featured-item-special .deal-tag {
 	color: black;
 }
.content-main {
	width: 100%;
}

.well.container {
	border: none;
}
/* Home Page */
.featured-listing-special, .featured-listing-special ul {overflow:inherit;}
.featured-listing-special .listing-item .right {position: absolute;}
.featured-listing-special .listing-item {overflow: inherit;}

.featured-listing .featured-item img {width: 5cm; height:auto;}


/*Results Page*/

.summary, .summary-small {
	page-break-inside: avoid;
	border:none;
	border-bottom: 1px solid #000;
}

.sidebar-filters, .visible-phone, .tabview-results, #return_filter, .summary .line-footer {
	display: none;
}


/*Detail Page*/
.tablet-full .sidebar, .review-item .review-bottom, .content-social-box, .fancy_window_tofriend, .share-social {
	display: none;
}

.responsive-detail > .row-fluid > .span8 {
	width: 65.81196581196582%;
	float: left;
}
.responsive-detail > .row-fluid > .span4 {
	float: left;
	width: 31.623931623931625%;
	margin-left: 2.564102564102564%;
}