/**
* eDirectory - Main System Structure
*
* @package			layout
* @filesource		structure.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			October, 17, 2011
*			
*/

/**************************************************************************************************\
* Master Reset
* 
* Master Reset for all HTML elements
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button,
caption
{ border:none; margin:0; padding:0; outline: none; }

ol, ul 
{ list-style:none; }

:focus 
{ outline:none; }

table, tbody, tfoot, thead, tr, th, td 
{ border-collapse:collapse; border-spacing:0; margin:0; padding:0; }

main {display:block;}
/**************************************************************************************************\
* Global Items
* 
* Global Items as Definitions, Classes, Typography and Forms
*/

/** Global Definitions */

a:link,
a:visited,
a:active
{ color:#0072BC; text-decoration:none; }

	a:hover
	{ text-decoration:underline; }
	
a img
{ border:7px solid #DBDBDB; }

a img
{ -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }

a:hover img
{ text-decoration:none; }

	/*a:hover img
	{ border:7px solid #004276; }*/
	
.language a img, .language a:hover img
{ border: 0 none; }
	
img
{ display:block; }

/** Global Classes */

.bg-0
{ background:none !important; }

.bd-0
{ border:none !important; }

.pd-0
{ padding:0 !important; }

.pdl-16
{padding-left:16px;}

.mg-0
{ margin:0 !important; }

.left
{ float:left; }

.right
{ float:right; }

.clear
{ clear:both !important; display:block; }

br.clear
{ clear:both; font-size:0; height:0; line-height:0; }

.hide
{ display:none !important; }

.button-featured
{ background:url(images/structure/bg-button.gif) repeat-x 0 0; border-color:#D0D7E1 #D0D7E1 #B4BCC9 #D0D7E1; border-style:solid; border-width:1px; float:right; height:32px; padding:0 15px; }

.button-featured
{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }

	.button-featured a, .button-featured a:visited, .button-featured a:active
	{ color:#898989 !important; font-size:12px; line-height:32px; text-transform:none !important; }


#loadingBar {margin:30px 0;}


/** Global classes > Percentual Width */
[class^="cont_"],
[class*=" cont_"] { float:left;}

.cont_100{width:100%;}
.cont_90{width:90%;}
.cont_80{width:80%;}
.cont_70{width:70%;}
.cont_60{width:60%;}
.cont_50{width:50%;}
.cont_40{width:40%;}
.cont_30{width:30%;}
.cont_20{width:20%;}
.cont_10{width:10%;}

.textleft {text-align: left;}
.textright {text-align: right;}
.textcenter {text-align: center;}

/** Global classes > Show and Hide */

.show,
.show-block
{ display:block !important; }

.show-inline
{ display:inline !important; }

.isHidden, .controlPhoneHide, .controlFaxHide
{ display: none !important; }

/** Global classes > No Image */

.content-main .summary .no-image
{ height:138px; width:244px; }

.no-image
{ -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }

	.level-summary .no-image, .summary .no-image, .content-main .summary .no-image
	{ border:none; height:172px !important; width:320px !important; }
	
	.content-main .summary-deal .no-image
	{ height:170px !important; width:300px !important; }
	
	.summary .full .summary-shadow .no-image
	{ height:171px !important; width:300px !important; }
	
	.level-summary .no-image, .summary .no-image, .content-main .summary .no-image
	{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; }
	
	.level-summary .left .image .no-image
	{ border:none !important; }
	
	.level-summary .summary-modules .full
	{ border:none; margin-right:70px; }

/** Global classes > No Link */

.no-link
{ cursor:default !important; }

/** Global classes > Switch button */

.switchOpen, .switchOpen:visited,
.switchClose, .switchClose:visited,
.switchBlank, .switchBlank:visited
{ background:url(images/iconography/bg_switch_open.gif) no-repeat 0 1px; display: block; float: left; height: 15px; overflow: hidden; text-decoration: none; text-indent: 100px; width: 17px; }

.switchClose, .switchClose:visited
{ background:url(images/iconography/bg_switch_close.gif) no-repeat 0 1px; }

.switchBlank, .switchBlank:visited
{ background:url(images/iconography/bg_switch_blank.gif) no-repeat 0 1px; cursor: default; }

.switchOpen:hover, .switchClose:hover, .switchBlank:hover
{ text-decoration: none; }

/** Global classes > System Messages */

.informationMessage,
.errorMessage,
.successMessage,
.warningMessage
{margin:0 0 15px 0; padding:10px 15px 10px 45px !important; width:auto !important; clear:both; text-align: left;}

.informationMessage,
.errorMessage,
.successMessage,
.warningMessage
{ -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; }


.fancybox-outer .informationMessage, .fancybox-outer .errorMessage, .fancybox-outer  .successMessage, .fancybox-outer .warningMessage { margin:25px 0 0; }

.informationMessage
{ background:#DAEFFB url(../../images/icon-message-info.gif) no-repeat 13px 12px; border:1px solid #8FBFDA; color:#0B3249; }

.errorMessage
{ background:#FDDEDA url(../../images/icon-message-error.gif) no-repeat 15px 12px; border:1px solid #DD8E8E; color:#8A110C; }

.successMessage
{ background:#EEFBCE url(../../images/icon-message-success.gif) no-repeat 15px 12px; border:1px solid #85B904; color:#213204; }

.warningMessage
{ background:#FBF1BB url(../../images/icon-message-warning.gif) no-repeat 15px 12px; border:1px solid #E6D260; color:#3F3603; }

.informationMessage a:link, .informationMessage a:visited, .informationMessage a:active,
.errorMessage a:link, .errorMessage a:visited, .errorMessage a:active,
.successMessage a:link, .successMessage a:visited, .successMessage a:active,
.warningMessage a:link, .warningMessage a:visited, .warningMessage a:active
{ color:#111; }

.browserMessage
{ background:#FBF1BB; border-bottom:1px solid #CEC48D; }

	.browserMessage .wrapper
	{ font-size:14px; font-weight:bold; padding:10px 0; text-align:center; } 
	
.resultsMessage
{ color:#636363; font-size:12px; line-height:20px; }

	.resultsMessage h1
	{ color:#636363; font-family:Arial, Helvetica, sans-serif; font-size:24px; font-weight:bold; line-height:35px; margin-bottom:10px; }
	
	.content .resultsMessage h2
	{ background:none; border:none; color:#636363; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; line-height:20px; margin:20px 0 0; padding:0; text-transform:none; }
	
	.resultsMessage p
	{ line-height:20px; }

/** Typography */

*
{ font-family:Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, h5
{ font-family:Futura, Arial, Helvetica; font-weight:normal; }

.popupWrapper p
{ font-size:16px; text-align:center; }

/** Typography > H2 */

h2
{ border-bottom:1px solid #E6E8E9; color:#EC008C; font-size:21px; height:1%; line-height:30px; margin-bottom:15px; overflow:hidden; text-transform:uppercase; }

.content h2
{ background:url(images/structure/bg-content-title.gif) repeat 0 0; border-top:1px solid #dadada; border-bottom:1px solid #dadada; line-height:43px; padding-left:8px; }

	h2 span
	{ float:left; font-family:"Futura", Arial, Helvetica; margin-right:15px; }

	h2 .view-more:link,
	h2 .view-more:visited,
	h2 .view-more:active
	{ background:url(images/structure/bg-button-action-view.png) repeat 0 0; color:#898989; display:inline-block; font-size:11px; line-height:16px; margin-top:9px; padding:5px 8px; text-shadow:1px 1px 1px #FFF; text-transform:none; }
	
	h2 .view-more:link,
	h2 .view-more:visited,
	h2 .view-more:active
	{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
	
	.sidebar h2 span
	{ margin-right:4px; }
	
	h2 .split, .sidebar h2 .split
	{ color:#898989; font-size:11px; float:right; line-height:43px; margin-right:0; padding:0 2px; }
	
/** Typography > H3 */

h3
{ font-size:12px; font-weight:bold; line-height:14px; padding:4px 0 2px 0; clear:both; }

	h3 a:link,
	h3 a:visited,
	h3 a:active
	{ color:#111; } 
	
	.title h3 a:link,
	.title h3 a:visited,
	.title h3 a:active
	{ color:#0072BC; font-family:"Futura", Arial, Helvetica; font-size:16px; font-weight:normal; line-height:18px; text-transform:uppercase; }

/** Typography > Paragraph */

p
{ color:#636363; line-height:16px; }

/** Forms */

.form .text,
.form .select,
.form .radio,
.form .checkbox,
.form .textarea
{ color:#111; font-size:11px; }

.form .radio
{ vertical-align:top; }

/** 
* @bugfix 
* @affected IE 6/Win - @affected IE 7/Win
* @valid yes 
*/

*+html .form .radio
{ vertical-align:middle; margin:-2px 0 0 0; }

* html .form .radio
{ vertical-align:middle; margin:-2px 0 0 0; }

.form .text,
.form .textarea,
.form .select
{ padding:2px; }

.form .select
{ width:96%; }

/**************************************************************************************************\
* Forms > Contact form
* 
* Form style for contact informations
*/	

.contact-form
{ border-top:1px solid #E3E3E3; clear:both; padding:0 0 15px; }

	.contact-form h2
	{ background:url(images/structure/bg-detail-desc.png) repeat-x 0 bottom;  border: none; font-size:21px; line-height:43px; }

/** Contact form > form */

.contact-form .form
{ height:1%; overflow:hidden; }

/** Contact form > form > form tags */

	.contact-form .form div
	{ padding:0 0 10px 0; }
		
		.contact-form .form div .text,
		.contact-form .form div .textarea
		{ border:1px solid #BBB; border-bottom-color:#BBB; border-right-color:#BBB; width:310px; }
		
		.contact-form .form div label
		{ color:#636363; display:block; padding:0 0 2px 0; }
		
			.contact-form .form div label span
			{ font-style:italic; }

/** Contact form > form > captcha */
			
		.contact-form .form p
		{ padding:5px 0 15px 0; width:205px; }
		
		.contact-form .form .captcha
		{ float: right; clear: right; padding:0 15px 0 0; width:102px; }
			
			.contact-form .form .captcha img
			{ border:1px solid #B7C0C7; margin:0 0 7px 0; }
			
			.contact-form .form .captcha .text
			{ width:96px; }
			
/** Contact form > form > button */
		
		.contact-form .form .button
		{ float:left; padding:15px; width:169px; }
		
/** Real Estate Contact Form */

.realestate-form
{ border:none; float:right; width:670px; }

	.realestate-form h2
	{ background:none; border-bottom:1px solid #CCC; color:#636363; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; line-height:28px; text-transform:none; }

	.realestate-form .form .text, .realestate-form .form .select
	{ border:1px solid #CBCBCB; height:26px; line-height:26px; }
	
	.realestate-form .form .text, .realestate-form .form .select, .realestate-form .form textarea
	{ -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
	
	.realestate-form .button-contact h2 a:link, .realestate-form .button-contact h2 a:visited, .realestate-form .button-contact h2 a:active
	{ background:#0072BC; color:#FFF; font-weight:bold; text-shadow:none; text-transform:capitalize; }
	
	.realestate-form .button-contact h2 a:link, .realestate-form .button-contact h2 a:visited, .realestate-form .button-contact h2 a:active
	{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
	
	.realestate-form .form .button
	{ clear:both; float:right; padding:0; width:100px; }
	
	.real-left
	{ float:left; }
	
	.real-right
	{ float:right; }
	
	.realestate-form .real-info
	{ width:415px; }
	
		.realestate-form .contact-form .form .real-info p
		{ float:left; }
		
	.realestate-form .form .captcha
	{ padding:0; }
	
	.realestate-form .form p
	{ float:left; }

/** Body */

body
{ background:url(images/structure/bg-body.gif) repeat 0 0; font-size:11px; height:1%; }

/** Wrapper */

.wrapper
{ margin:0 auto; text-align:left; width:980px; }

/**************************************************************************************************\
* Top Navbar
*/

.top-navbar
{ background:#000; overflow:visible; height: 25px; }

.top-wrapper
{ height:24px; margin:0 auto; padding:3px 0 0; width:980px; }

	.top-wrapper ul
	{ float:left; width:570px; }

	.top-wrapper ul, .top-wrapper ul li
	{ display:inline-block; list-style:none outside none; }
	
	.top-wrapper ul li
	{ background:url(images/structure/bg-top-navbar-split.png) repeat-y right top; display:inline; float:left; line-height:20px; padding:0 10px 0 7px; }
	
	.top-wrapper ul li:last-child
	{ background:none; }
	
		.top-wrapper ul li a
		{ color:#FFF; text-transform:uppercase; }

/**************************************************************************************************\
* User Navbar
* 
* User navbar located at the top, fixed.
*/

#user-navbar
{ display:block; float:right; position:relative; width: 570px; }

	#user-navbar .wrapper
	{ width:auto; }

/** user navbar > user options */

.user-options
{ clear: both; float:right; margin-bottom:5px; }

	.user-options li
	{ background:url(images/structure/bg-user-navbar-split.gif) repeat-y right top; color:#111; float:left; font-size:10px; height:16px; line-height:16px; padding:0 6px 0 3px; }
	
		.user-options li:last-child
		{ background:none; }
		
		.user-options li a:link,
		.user-options li a:visited,
		.user-options li a:active
		{ color:#111; text-transform:uppercase; }

/**
* Theme
* 
* Theme Dropdown to choose Themes on Demo mode.
*/

.theme
{ float:right; padding-right:6px; }

	.theme select
	{ color:#111; font-size:11px; margin:0; padding:2px; width:160px; }

/**
* Language
* 
* Content to hold the flags for language purposes
*/

.language
{ clear:both; display:inline-block; float:right; height:12px; margin-bottom:5px; padding-right:6px; width:125px; z-index:999 }

	.language a:link,
	.language a:visited,
	.language a:active
	{ display:block; float:left; padding:0 2px 0 0; }

/** language > all languages */
	
.all-languages
{ background:url(images/structure/bg-black-opacity-90.png) repeat; border-top:1px solid #000; height:auto; padding:15px; position:absolute; right:10px; top:29px; width:200px; z-index:9999; }

	.all-languages h3
	{ color:#FFF !important; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-transform:uppercase; }
	
	.all-languages p
	{ color:#636363 !important; padding:0 0 6px 0; }
	
	.all-languages ul
	{ height:auto; overflow:hidden; }
	
		.all-languages ul li
		{ border-bottom:1px solid #333; color:#FFF; float:left; padding:5px 0 2px 0; width:50%; }
		
			.all-languages ul li:last-child
			{ border:none;}
		
			.all-languages ul li img
			{ float:left; margin:0 6px 0 0; }

#all-languages-button:link,
#all-languages-button:visited,
#all-languages-button:active
{ background:url(images/iconography/icon-view-more.gif) no-repeat 0 1px; cursor:help; height:12px; padding:0; text-indent:-9999px; width:11px; }

/**
* Live Chat
* 
* Content to hold the Live CHat button, script.
*/

.live-chat
{ left:0; position:absolute; top:5px; }

.live-chat
{ -moz-box-shadow: -4px 2px 2px #666; -webkit-box-shadow: -4px 2px 2px #666; box-shadow: -4px 2px 2px #666; }

	.live-chat a img,
	.live-chat a:hover img
	{ border:none; }
	

/**
* Top Navbar Open
*/

.top-button
{ left: -170px; overflow: visible; position: absolute; top: 0; z-index:3; }

	.top-open
	{ background:url(images/structure/bg-button-options.gif) repeat-x 0 0; height:30px; padding:0 15px; text-align:center; width: 90px; }
	
	.top-open
	{ -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; -moz-box-shadow:1px 2px 4px #AAA; -webkit-box-shadow:1px 2px 4px #AAA; box-shadow:1px 2px 4px #AAA; }
	
		.top-open a
		{ color:#FFF; font-family:"Futura", Arial, Helvetica; font-size:16px; line-height:26px; text-transform:uppercase; }
		
		.top-open a:hover
		{ color:#EC008C; text-decoration:none; }
		
		

/**************************************************************************************************\
* Header
* 
* Header contents, search, advanced search, banner and other elements.
*/

#header-wrapper
{ background:url(images/structure/bg-header-wrapper.jpg) repeat-x top; border-bottom:1px solid #FFF; clear:both; height:72px; margin:0 auto; overflow:visible; }

#header
{ height:58px; margin:0 auto; overflow:visible; padding:7px 0 7px 0; position: relative; width:980px;  z-index:100; }

/** Header > Logo */
	.brand {
		padding: 0;margin:0; float: left;width: 32%;display: inline-block;vertical-align: middle;
	}
	.brand-logo {
		padding: 0; margin:18px 0 0; max-width: 400px; max-height: 60px; border: none; border-radius: 0;
	}

/** Header > Navbar */

#navbar-wrapper, .wrapper .holderFixes #navbar-wrapper
{ background:url(images/structure/bg-navbar.png) repeat-x 0 0 !important; left:0; position:absolute; top:0; width:100%; z-index:1; }

.wrapper .holderFixes #navbar-wrapper
{ position:relative; }

#navbar
{ height:59px; margin:0 auto; width:1035px; }

	#navbar li
	{ background:url(images/structure/bg-navbar-split.png) no-repeat right 50%; float:left; height:58px; line-height:58px; position:relative;}
	
	#navbar li:last-child
	{ background:none; }
	
		#navbar li a:link,
		#navbar li a:visited,
		#navbar li a:active
		{ color:#FFF; display:block; font-size:15px; padding:0 28px 0 28px; text-shadow:1px 1px 1px #000; }
			
				#navbar li a:hover,
				#navbar .menuActived a:link,
				#navbar .menuActived a:visited,
				#navbar .menuActived a:active
				{ color:#C7C7C7; text-decoration:none; }
		
/**************************************************************************************************\
* Advanced Search
* 
* Advanced Search properties
*/
		
#advanced-search
{ clear:both; height:auto; overflow:hidden; padding:15px 0 0 0; width:100%; }

/** Header > Advanced Search > Misc */

#advanced-search .left
{ clear:both; color:#111; display:inline-block; float:none; margin:0 0 15px; white-space:nowrap; width:100%; }

	#advanced-search .match div
	{ line-height:20px; }
	
	#advanced-search .zipcode div
	{ float:left; line-height:24px; margin-right:5px; }

/** Header > Advanced Search > Search Tips */	

#advanced-search .search-tips
{ border-right:1px solid #999EA2; height:70px; margin:0 20px 0 0; padding:0 10px 0 10px !important; white-space:normal; width:266px }

	#advanced-search .search-tips h4
	{ color:#111; font-size:11px; padding:4px 0 4px 0; text-transform:uppercase; }

	#advanced-search .search-tips p
	{ color:#636363; font-style:italic; line-height:14px; }

/** Header > Advanced Search > Special Form Tags */	
	
	#advanced-search label
	{ border:0 !important; color:#020E16; display:block; font-size:11px; line-height:20px; text-transform:capitalize; }
	
		.textshadow #advanced-search label
		{ text-shadow:1px 1px 0 #DDD; }
	
	#advanced-search .text
	{ border:1px solid #BBB; float:left; margin-right:5px; width:40px; }
	
	#advanced-search select
	{ width:236px; }
	
	#advanced-search #LocationbaseAdvancedSearch select
	{ margin-right:5px; width:185px; }
	
	#advanced-search .clear
	{ clear:both; float:left; font-size:10px; font-style:italic; padding:6px 0 0 0; }
	
/** Header > Advanced Search > Special Items */	
	
	#advanced-search .loading-location
	{ float:left; padding:3px 2px 0 0; }
	
	#advanced-search .clear-location
	{ display:block; }
	
/** Sidebar > Search **/

.sidebar .content-search
{ background:url(images/structure/bg-search-shadow.png) no-repeat 0 bottom; margin-bottom:25px; padding:0 0 9px 0; }

	.sidebar .search
	{ border:1px solid #E5E5E5; border-bottom:1px solid #B5B5B5; width:283px; }
	
	.sidebar .search
	{ -moz-border-radius:0 10px 0 0; -webkit-border-radius:0 10px 0 0; border-radius:0 10px 0 0; }
	
		.sidebar .search .search-box
		{ background:#EDEDED url(images/structure/bg-search-box.png) no-repeat 50% bottom; border:1px solid #FFF; border-bottom:none; color:#111; padding:6px 18px 18px 22px; position:relative; width:241px; }
		
		.sidebar .search .search-box
		{ -moz-border-radius:0 10px 0 0; -webkit-border-radius:0 10px 0 0; border-radius:0 10px 0 0; }
		
			.sidebar .search .search-box h2
			{ color:#111; margin-left:0; }
			
			.sidebar .search .search-box fieldset 
			{ margin:0 0 15px; }
			
				.sidebar .search .search-box button
				{ background:url(images/structure/bg-search-button.gif) repeat-x 0 0; color:#636363; cursor:pointer; font-size:11px; font-style:italic; height:33px; letter-spacing:-0.5px; line-height:33px; margin-top:20px; padding:0 10px; text-shadow:1px 1px 1px #FFF; text-transform:uppercase; width:235px; }
				
				.sidebar .search .search-box button
				{ -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px; -moz-box-shadow:1px 1px 0 #FFF; -webkit-box-shadow:1px 1px 0 #FFF; box-shadow:1px 1px 0 #FFF; }
			
				.sidebar .search .search-box select
				{ border:1px solid #BBB; float:left; font-size:12px; height:24px; line-height:24px; margin:0; padding:2px; width:236px; }
				
				.sidebar .search .search-box input
				{ border:1px solid #BBB; display:block; font-size:12px; height:18px; line-height:18px; margin:0; padding:2px; width:230px; }
				
					.sidebar .search .search-box input.ac_loading
					{ background:#FFF url(images/iconography/icon-loading-search.gif) no-repeat 215px 3px; }
				
				.sidebar .search .search-box input.radio
				{ clear:both; float:left; margin-right:5px; width:auto; }
				
				.sidebar .search .search-box input.inputAuto
				{ border:none; display:inline; height:14px; position:relative; top:3px; *top:0; width:20px; }
				
			.sidebar .search .search-box .templateRange
			{ background: url(images/structure/bg-templateRange.png) no-repeat scroll 0 2px transparent; display: block; height: 47px; margin: 0 -9px 15px; overflow: hidden; padding: 0 9px 0 10px; width: 235px; }
			
				.sidebar .search .search-box .templateRange fieldset
				{ margin: 0; width: auto; }
				
					.sidebar .search .search-box .templateRange fieldset legend
					{ background: #EDEDED; padding: 0 5px; }
				
				.sidebar .search .search-box .templateRange select
				{ margin: 1px 0 0 0; width: 104px;}
				
				.sidebar .search .search-box .templateRange p
				{ color:#343D44; float:left; font-size:11px; line-height:24px; margin: 1px 0 0 0; text-align:center; width:27px; }
				
				.sidebar .search .search-box p
				{ color:#898989; font-size:10px; }
				
				.sidebar .search .search-box label
				{ display:block; line-height:18px; }
				
				.sidebar .search .search-box .templateCheckbox 
				{ margin-bottom:10px; }
				
					.sidebar .search .search-box .templateCheckbox label
					{ display:inline; }
					
				.sidebar .search .search-box .view-button
				{ background:url(images/structure/bg-search-view-button.png) repeat-x 0 0; border:1px solid #D8D8D8; color:#636363; float:left; height:22px; line-height:22px; padding:0 10px; text-align:center; }
				
				.sidebar .search .search-box .view-button
				{ -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }
				
					.sidebar .search .search-box fieldset .view-button a, .sidebar .search .search-box fieldset .view-button a:visited,
					.sidebar .search .search-box fieldset .view-button a:active
					{ color:#636363; }
					
				.sidebar .search #advanced-search-button	
				{ color:#0072BC; line-height:22px; }
	
/**************************************************************************************************\
* Footer
* 
* Footer content, classes, styles.
*/

#footer-wrapper
{ background:#DCDCDC url(images/structure/bg-footer-wrapper.gif) repeat-x top; clear:both; height:128px; margin:0 auto; overflow:hidden; padding:0; }

#footer
{ height:103px; margin:0 auto; overflow:hidden; padding:25px 0 0 0; position:relative; width:1000px; }
			
/** Footer > Content > Copyright */
		
	#footer p, #footer h5, #footer h5 a
	{ color:#898989; font-family:Verdana, Geneva, sans-serif; font-size:10px; line-height:12px; text-transform:uppercase; }
	
	#footer h5 a
	{ color:#666; }
	
	#footer p.site-url
	{ bottom:10px; left:0; position:absolute; }
	
	#footer .social-buttons
	{ position:absolute; right:0; top:20px; }
	
		#footer .social-buttons a
		{ border:none; float:left; margin:0 2px; }
		
			#footer .social-buttons a img
			{ border:none; }
			
			#footer .social-buttons a, #footer .social-buttons a img
			{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; }
	
/**************************************************************************************************\
* Slider Wrapper
*/

.slider-wrapper
{ border-bottom:1px solid #FFF; padding-top:57px; position:relative; width:100%; }

	.slider-content
	{ height:611px; margin:-57px auto 0; width:1080px; }
	
		.slider-content-full
		{ height:611px; overflow:hidden; width:1080px; background-size: 100% 100% !important; }
		
		.slider-content-box
		{ height:87px; margin-top:525px; position:relative; z-index:8000; }

	.slider-wrapper .slider-info
	{ background:url(images/structure/bg-slider-info.png) repeat-x 0 0; bottom:0; display:inline-block; height:87px; left:0; position:absolute; width:100%; z-index:1; }
	
		.slider-box
		{ height:auto; overflow:hidden; }
		
			.slider-box-info
			{ background:url(images/structure/bg-slider-info.png) repeat-x 0 0; bottom:0; height:87px; position:absolute; }
	
		.slider-wrapper .slider-info-content
		{ margin:0 auto; padding:0 50px; width:980px; }
		
		.slider-wrapper .slider-marker
		{ margin:0 auto; position:relative; width:1080px; }
				
		.slider-wrapper .slider-title
		{ float:right; margin:15px 20px 0 0; }
		
			.slider-wrapper .slider-title h2
			{ border-bottom:none; color:#FFF; font-family:Verdana, Geneva, sans-serif; font-size:12px; line-height:18px; margin:0; text-transform:uppercase; }
			
			.slider-wrapper .slider-title p
			{ color:#FFF; font-family:Verdana, Geneva, sans-serif; font-size:12px; line-height:18px; margin:0; }
			
		.slider-wrapper .slider-price
		{ border-left:1px solid #FFF; float:right; margin-top:25px; padding:0 25px 0 20px; }
		
			.slider-wrapper .slider-price p
			{ color:#FFF; font-family:Verdana, Geneva, sans-serif; font-size:12px; line-height:16px; margin:0; }
			
		.slider-wrapper p.button-read
		{ background:url(images/structure/bg-read-button.png) repeat-x 0 0; float:right; margin:20px 0 0 0; padding:5px 10px; }
		
		.slider-wrapper p.button-read
		{ -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; } 
		
			.slider-wrapper p.button-read a, .slider-wrapper p.button-read a:visited, .slider-wrapper p.button-read a:active
			{ color:#898989; }
	
/** Slider Marker */	

ol#controls-real-estate 
{ bottom:46px; clear:both; height:15px; left:58px; position:absolute; }

ol#controls-real-estate li 
{ display:inline; font-size:0; height:16px; line-height:9px; margin:0 5px 0 0; width:17px; }

ol#controls-real-estate li a 
{ background:url(images/iconography/bg-slider-navigation.png) no-repeat 0 -16px; display:block; float:left; height:16px; margin:0 3px 0 0; text-indent:-9999px; width:16px; }

ol#controls-real-estate li.current a 
{ background:url(images/iconography/bg-slider-navigation.png) no-repeat 0 0; }

ol#controls-real-estate li a:focus 
{ outline:medium none; }    
	
/**************************************************************************************************\
* Content Structure
* 
* Content structure elements
*/

.content-wrapper
{ clear:both;background:url(images/structure/bg-content.gif) repeat-x 0 0; display:block; height:auto; overflow:visible; width:100%; }

.content-center
{ height:auto; margin:0 auto; overflow:visible; width:1000px; }

.content
{ float:left; width:670px; padding:30px 0 30px 20px; }

	.content-main
	{ height:1%; overflow:hidden; padding:35px 0 0 0; }
	
	.content-top
	{ padding:10px 0; width:670px; }

/** Content structure > differences */

.content-general
{ padding-top:0 !important; }

.content-full
{ float:none; margin:0 auto; padding:0 0 30px !important; width:1000px !important; }

.error-page
{ background:url(images/structure/bg-error-page.png) no-repeat center 15%; height:373px; }

	.error-page .sidebar
	{ float:left; width:280px; }
	
/**************************************************************************************************\
* Featured Items
* 
* Featured items style, structure and differences
*/

.featured
{ height:1%; overflow:hidden; padding:0 0 30px 0; }

	.featured .first,
	.featured .first h3
	{ padding-top:0 !important; clear:none;}
		
	.featured .last
	{ border:none !important; padding-bottom:0 !important; }

/** Featured > featured listing */

	.featured-listing .featured-item
	{ display:inline-block; margin:15px 0 30px 0; width:97%; }
	
	.listing-home .featured-listing .featured-item
	{ background:url(images/structure/bg-detail-desc.png) repeat-x 0 bottom; padding-bottom:30px; }
	
		.listing-home .featured-listing .pd-0
		{ background:none; }
	
	.featured-listing .featured-item .listing-content
	{ float:left; width:360px; }
	
		.featured-listing .featured-item a.image
		{ float: left; margin:0 25px 0 5px; }
		
		.featured-listing .featured-item h3 a, .featured-listing .featured-item h3 a:active, .featured-listing .featured-item h3 a:visited,
		.featured-event .featured-item h3 a, .featured-event .featured-item h3 a:active, .featured-event .featured-item h3 a:visited,
		.featured-article .featured-item h3 a, .featured-article .featured-item h3 a:active, .featured-article .featured-item h3 a:visited,
		.featured-classified .featured-item h3 a, .featured-classified .featured-item h3 a:active, .featured-classified .featured-item h3 a:visited,
		.featured-deal .featured-item h3 a, .featured-deal .featured-item h3 a:active, .featured-deal .featured-item h3 a:visited
		{ color:#0072BC; font-family:"Futura", Arial, Helvetica; font-size:16px; font-weight:normal; line-height:18px; text-transform:uppercase; }
		
		.featured-deal .featured-item h3 a, .featured-deal .featured-item h3 a:active, .featured-deal .featured-item h3 a:visited
		{ font-size:22px; line-height:26px; }
		
		.featured-listing .featured-item p a, .featured-listing .featured-item p a:active, .featured-listing .featured-item a:visited
		{ color:#898989; font-family:Verdana, Geneva, sans-serif; font-size:11px; text-transform:uppercase; }
		
		.featured-listing .featured-item p.price span
		{ background:url(images/structure/bg-button-action-view.png) repeat 0 0; color:#0072BC; display:inline-block; font-family:"Futura", Arial, Helvetica; font-size:24px; line-height:35px; margin:10px 0; padding:5px 10px; white-space:nowrap; }
		
		.featured-listing .featured-item p.price span
		{ -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
		
		.featured-listing .featured-item p.description
		{ font-family:Verdana, Geneva, sans-serif; font-size:12px; }
		
/** Featured > featured classified */

	.featured-classified .left
	{ background:url(images/structure/bg-detail-desc.png) repeat-x 0 bottom; margin-bottom:20px; }
	
	.featured-classified .featured-item
	{ float:none !important; padding:0 15px 0 0; width:100% !important; }
		
/** Featured > featured event */

	.featured-event .left
	{ background:url(images/structure/bg-detail-desc.png) repeat-x 0 bottom; margin-bottom:20px; }

	.featured-event .featured-item
	{ float:none !important; padding:0 15px 0 0; width:100% !important; }
		
		.featured-event .featured-item .date
		{ background:#EDEDED; color:#636363; height:30px; overflow:hidden; }
		
			.featured-event .featured-item .date .calendar
			{ background:#E1E1E1; float:left; height:30px; margin-right:5px; width:36px; }
			
				.featured-event .featured-item .date p
				{ font-size:10px; float:left; height:14px; line-height:14px; padding:0 0 0 3px; overflow:hidden; width:170px; }
				
					.featured-event .featured-item .date p strong,
					.featured-event .featured-item .date p span
					{ display:block; float:left; }
					
					.featured-event .featured-item .date p strong
					{ font-weight:normal; width:32px; }
					
					.featured-event .featured-item .date .recurring
					{ height:auto; overflow:visible; width:150px; }
					
				.featured-event .featured-item .date .calendar span
				{ display:block; text-align:center; }
				
					.featured-event .featured-item .date .calendar .month
					{ background:#0072BC; color:#FFF; font-size:9px; height:11px; line-height:11px; text-transform:uppercase; }
					
					.featured-event .featured-item .date .calendar .day
					{ color:#636363; font-size:18px; height:19px; line-height:19px; }

/** Featured > featured deals */

	.featured-deal .left
	{ background:url(images/structure/bg-detail-desc.png) repeat-x 0 bottom; margin-bottom:20px; padding-bottom:20px; }
	
	.featured-deal .featured-item
	{ border-bottom:1px solid #E6E9EC; clear:right; float:none !important; height:auto; overflow:hidden; padding:10px 0; width:100% !important; }
	
		.featured-deal .featured-item h3,
		.featured-deal .featured-item p
		{ padding-left:95px; clear: none;}
		
	.featured-deal .left .featured-item-special
	{ border:none; float:left; margin:0 6px; padding:0; position:relative; width:322px !important; }
	
		.featured-deal .featured-item-special h3, 
		.featured-deal .featured-item-special p
		{ padding-left:0; }
	
		.featured-deal .featured-item-special .price-tag
		{ background:url(images/iconography/icon-tag-special.png) no-repeat 0 bottom; position:absolute; right:0; top:21px; width:101px; }
		
		.featured-deal .featured-item-special .deal-feat-big
		{ width:322px; }
		
			.featured-deal .featured-item-special .deal-feat-big .deal-image
			{ background:url(images/structure/bg-deal-featured-shadow.png) no-repeat 0 bottom; padding-bottom:15px; }
			
			.featured-deal .featured-item-special .deal-feat-big a.image
			{ border:1px solid #CCC; display:block; }
		
			.featured-deal .featured-item-special .deal-feat-big a img
			{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; border:10px solid #FFF; }
	
		.featured-deal .featured-item .deal-tag
		{ background:url(images/iconography/icon-tag.png) no-repeat 0 bottom; color:#FFF; float:left; font-size:20px; height:39px; line-height:39px; margin-right:20px; padding-left:20px; text-align:center; width:81px; }
		
		.featured-deal .featured-item-special .deal-tag
		{ background:none; color:#FFF; float:none; font-size:20px; height:40px; line-height:40px; margin:0; padding-left:20px; text-align:center; }
		
		.featured-deal .featured-item-special .deal-discount
		{ color:#FFF; height:19px; line-height:19px; padding-left:20px; text-align:center; width:81px; }
		
			.featured-deal .featured-item-special .deal-tag .cents, .featured-deal .featured-item .deal-tag .cents
			{ font-size:12px; }
		
/** Featured > featured article */

	.featured-article .price-tag
	{ margin-bottom:20px; }

	.featured-article .featured-item
	{ border-bottom:1px solid #E6E9EC; clear:right; float:none !important; height:auto; overflow:hidden; padding:5px 0; width:100% !important; }
	
	.featured-article .left
	{ float:left; height:1%; overflow:hidden; width:426px; }

	.featured-article .featured-item-special
	{ border:none; clear:left; float:left; padding:0 0 15px 0; width:416px; }
	
		.featured-article .featured-item-special .image
		{ float:left; }
		
		.featured-article .featured-item-special p,
		.featured-article .featured-item-special h3
		{ padding:0 0 2px 173px; }
		
/** Featured > featured reviews */

	.featured-review .featured-item
	{ background:url(images/structure/bg-detail-desc.png) repeat-x 0 bottom; border-bottom:none; display:inline-block; float:none; margin:0 0 15px 0; padding:0 0 10px 0; width:100% }

	.sidebar .featured-review .featured-item
	{ background:none; border-bottom:1px solid #E9E9E9; float:left; padding:15px 0 !important; width:285px; }
	
		.featured-review .featured-item img
		{ border:none; }
		
		.featured-review .featured-item .image
		{ float:left; margin:0 15px 10px 0 !important; padding:0 !important; width:86px; }	
		
		.featured-review .featured-item a
		{ font-size:10px; }	
		
		.featured-review .featured-item .rate
		{ height:1%; overflow:hidden; padding:10px 0; }
		
		.sidebar .featured-review .featured-item .featured-review-text
		{ width:180px; }
		
		.sidebar .featured-review .featured-item .rate
		{ height:1%; overflow:hidden; padding:5px 0; }
		
			.featured-review .featured-item .rate img
			{ float:left; height:13px; margin:0 1px 0 0; width:13px; }
			
		.featured-review .featured-item h3
		{ font-family:Arial, Helvetica, sans-serif; padding-top:0; clear:none;}
		
			.featured-review .featured-item h3 a
			{ font-size:12px; }
		
		.featured-review .featured-item .info
		{ clear:both; padding:6px 0 0 0; }
		
			.featured-review .featured-item .info a, .featured-checkin .featured-item a
			{ color:#111; font-size:11px; }
		
			.featured-review .featured-item .info p
			{ color:#111; display:block; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; padding-left:0; }
			
			.sidebar .featured-review .featured-item .info p
			{ color:#636363; display:block; }
			
			.featured-review .featured-item .info p.date
			{ display:block; }
			
		.featured-review .featured-item p.review-text
		{ font-size:12px; padding:5px 0; }
		
		.featured-review .featured-item .reply
		{ background:url(images/structure/bg-reply.gif) no-repeat left bottom; border-left:1px solid #C8CED2; margin:15px 0 0 0; padding:0 0 0 20px; }
		
			.featured-review .featured-item .reply p
			{ color:#898989; font-style:italic; }
		
		.featured-review-text
		{ float:left; }

	.featured-review .no-image
	{ background:#FFF url(images/iconography/icon-user-thumb.gif) no-repeat center center !important; border:none; height:86px; width:86px; }
	
	.featured-review-detail .featured-item
	{ width:670px; }
	
	.featured-review-detail .first, 
	.featured-review-detail .last
	{ padding:15px 0 !important; }
	
	.content h2 a.rate-it
	{ background:none; color:#EC008C; float:right; font-family:"Futura",Arial,Helvetica; font-size:18px; font-weight:normal; margin:0; padding-top:15px; }
	
	.sidebar h2 a.view-more
	{ background:none; color:#EC008C; float:right; font-family:"Futura",Arial,Helvetica; font-size:18px; font-weight:normal; line-height:43px; margin:0; padding:0; text-transform:none; }

	.featured-review .last
	{ border:none; padding-right:0; }
	
	.featured-review .featured-review-text
	{ width:560px; }
	
/** Featured > featured listing special **/

.content-featured-listing
{ background:url(images/structure/bg-featured-shadow.png) no-repeat left bottom; margin:-50px 0 10px; padding-bottom:15px; }

	.content-featured-align
	{ margin-top:0 !important; }

.featured-listing-special
{ background:#FFF; border:1px solid #DFDFDF; clear:both; height:276px; overflow:hidden; padding:10px; position:relative; width:650px; z-index:2; }

	.featured-listing-special ul
	{ height:274px; overflow:hidden; width:648px; }
	
		.featured-listing-special ul li
		{ height:auto; overflow:hidden; width:648px; }
			
	.featured-listing-special .listing-item
	{ height:auto; overflow:hidden; }

	.featured-listing-special .left
	{ float:right; }

	.featured-listing-special .right
	{ background:url(images/structure/bg-featured-info.png) repeat 0 0; border-right:1px solid #33759F; float:left; height:249px; padding:15px 7px 10px 12px; width:141px; }

	.featured-listing-special h2
	{ background:none; border:none; color:#FFF799; font-family:"Myriad Pro", Arial, Helvetica; font-size:14px; font-weight:normal; height:auto; line-height:20px; margin:0 0 12px 0; padding:0; text-transform:uppercase; }
	
		.featured-listing-special h2 a:link,
		.featured-listing-special h2 a:visited,
		.featured-listing-special h2 a:active
		{ color:#FFF; font-size:13px; font-weight:bold; text-transform:none; }
		
			.featured-listing-special a:hover img
			{ border:none; }
	
	.featured-listing-special p
	{ clear:both; color:#FFF; font-size:11px; }
	
		.featured-listing-special p a
		{ color:#FFF; }
	
	.featured-listing-special p.desc
	{ padding-right:15px; }
	
	.featured-listing-special .info
	{ background:#DEDEDE; float:left; margin:0 0 10px 0; padding:5px; }
	
		.featured-listing-special a img, .featured-listing-special .no-image, .featured-listing-special .no-image:hover
		{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; border:none; }

.featured-listing-special .no-image,
.featured-listing-special .no-image:hover
{ border:none; height:274px; width:487px; }
	
/** Featured > featured check-in */

	.featured-checkin .featured-item
	{ border-bottom:1px solid #DDD; float:left; padding:15px 0; width:285px; }
	
		.featured-checkin .featured-item img
		{ height:50px; width:50px; }
		
		.featured-checkin .featured-item .image
		{ float:left; margin:0 15px 0 0 !important; padding:0 !important; }		
			
		.featured-checkin .featured-item h3
		{ padding-top:0; }
		
	.featured-checkin .no-image
	{ background:#FFF url(images/iconography/icon-user-thumb.gif) no-repeat center center !important; border:none; height:86px; width:86px; }
	
/**************************************************************************************************\
* Content Miscelaneous
* 
* Misc items with special style on the content
*/		

/* Content misc > share box */

.share-box
{ background:url(images/structure/bg-content-share.gif) repeat-x 0 0; border:1px solid #DDD; padding:6px; position: absolute; width:150px; z-index:9999; }

	.share-box img,
	.share-box img:hover
	{ border:none; }
	
	.share-box ul
	{ height:1%; overflow:hidden; }
	
		.share-box ul li
		{ float:left; padding:0 3px 0 0; }
		
			.share-box ul li.close a:link,
			.share-box ul li.close a:visited,
			.share-box ul li.close a:active
			{ color:#636363; font-size:10px; }
			
			.share-box ul li.close
			{ float:right; padding:1px 0 0 0; }

/* Content misc > breadcrumb */

.breadcrumb
{ color:#111; font-size:10px; line-height:30px; margin:0; padding:15px 0 0 0; text-transform:uppercase; }

	.breadcrumb a, .breadcrumb a:visited
	{ color:#898989; }
	
/* Content misc > deals tag */

	.deal-tag-sold-out
	{ background:url(images/iconography/icon-tag-sold-out.png) no-repeat 0 0 !important; }
	
	.deal-tag-special-sold-out
	{ background:url(images/iconography/icon-tag-special-sold-out.png) no-repeat 0 0 !important; }

/* Content misc > Buttons */

	.button h2
	{ background:none; margin:0; height:28px; overflow:hidden; text-align:center; }

		.button h2 a:link,
		.button h2 a:visited,
		.button h2 a:active
		{ color:#FFF; display:block; font-size:12px; height:26px; line-height:26px; }
		
		.button h2 a:link,
		.button h2 a:visited,
		.button h2 a:active
		{ -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px; }
		
		.textshadow .button h2 a
		{ text-shadow:1px 1px 0 #000; }

/* Content misc > Buttons > Button profile */

.button-profile
{ margin-bottom:15px; }

	.button-profile h2
	{ padding:0 !important; margin:0 !important; }
	
		.button-profile h2 a:link,
		.button-profile h2 a:visited,
		.button-profile h2 a:active
		{ background:url(images/structure/bg-search-button.gif) repeat-x 0 0; cursor:pointer; color:#636363; font-size:11px; font-style:italic; font-weight:normal; height:28px; letter-spacing:-0.5px; line-height:28px; padding:0 10px; text-shadow:1px 1px 1px #FFF; text-transform:uppercase; }
		
			.button-profile h2 a:hover
			{ color:#111; text-decoration:none; }
			
/* Content misc > Buttons > Button contact */

	.button-contact h2
	{ border:none; margin:0 !important; padding:0; }
	
		.button-contact h2 a:link,
		.button-contact h2 a:visited,
		.button-contact h2 a:active
		{ background:url(images/structure/bg-search-button.gif) repeat-x 0 0; color:#636363; height:28px; line-height:28px; text-shadow:1px 1px 1px #FFF; }
			
/* Content misc > Buttons > Button facebook */
			
	.button-facebook
 	{ background:none; margin:0 auto; padding:0; width:192px; }
	
	.modal-content .button-facebook
	{ padding:10px 0 0 0; }
	
		.button-facebook h2
		{ border:0; font-size:11px; height:22px; line-height:22px; margin:0; }
		
			.button-facebook h2 a:link,
			.button-facebook h2 a:visited,
			.button-facebook h2 a:active
			{ background:url(images/iconography/button-facebook.gif) no-repeat 0 0; font-size:11px; height:22px; line-height:22px; text-transform:none; }
			
			.button-facebook h2 a:link,
			.button-facebook h2 a:visited,
			.button-facebook h2 a:active
			{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; }
			
	.facebookConnect h2
	{ background:#537dae !important; }
	
	.facebookConnect h2
	{ -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px; }
			
/* Content misc > Buttons > Button google */
			
	.button-google
 	{ background:none; margin:0 auto; padding:0; width:192px; }
	
	.modal-content .button-google
	{ padding:10px 0 0 0; }
	
		.button-google h2
		{ border:0; font-size:11px; height:22px; line-height:22px; margin:0; }
		
			.button-google h2 a:link,
			.button-google h2 a:visited,
			.button-google h2 a:active
			{ background:url(images/iconography/button-google.gif) no-repeat 0 0; color:#FFF; font-size:13px; font-weight:bold; height:22px; line-height:22px; text-shadow:0 1px 1px rgba(0, 0, 0, 0.3) !important; text-transform:none; }
			
			.button-google h2 a:link,
			.button-google h2 a:visited,
			.button-google h2 a:active
			{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; }
			
/* Content misc > Buttons > Button send to phone */

	.button-send
	{ line-height:20px; margin:3px 0; }
	
		.button-send a, .button-send a:visited
		{ background:url(images/iconography/icon-send-phone.png) no-repeat 3px 2px; border:1px solid #C4C9CC; padding:2px 3px 2px 20px; }
		
		.button-send a, .button-send a:visited
		{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
		
		.button-send a:hover
		{ border-color:#9BAEB9; text-decoration:none; }
		
/* Content misc > Buttons > Button call */

	.button-call
	{ line-height:20px; margin:3px 0; }
	
		.button-call a, .button-call a:visited
		{ background:url(images/iconography/icon-call-phone.png) no-repeat 4px 2px; border:1px solid #C4C9CC; padding:2px 3px 2px 20px; }
		
		.button-call a, .button-call a:visited
		{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
		
		.button-call a:hover
		{ border-color:#9BAEB9; text-decoration:none; }
		
/* Content misc > Buttons > Button more */

	.button-more
	{ background:url(images/structure/bg-button-action-more.png) repeat-x 0 0; border:1px solid #16A1D9; height:36px; line-height:36px; margin-top:10px; padding:0; text-align:center; width:auto; }
	
	.button-more
	{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
		
		.button-more a, .button-more a:visited
		{ height:36px; line-height:36px; }
		
/* Content misc > Buttons > Button email */

	.button-email
	{ background:url(images/structure/bg-button-email.gif) repeat-x 0 0; border:1px solid #CFCFCF; display:inline-block; margin:5px 0; width:auto; }
	
	.button-email
	{ -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; }
	
		.button-email a, .button-email a:visited
		{ color:#0072BC; font-family:"Futura", Arial, Helvetica; font-size:21px; height:45px; line-height:45px; padding:0 10px; text-transform:uppercase; }
		
/* Content misc > Buttons > Button back */	
		
	.button-back
	{ background:url(images/structure/bg-button-back.gif) repeat-x 0 0; border:1px solid #CFCFCF; display:inline-block; float:right; height:21px; line-height:21px; margin:32px 0; *margin:7px 0 32px; width:auto; }
	
	.button-back
	{ -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
	
		.button-back a, .button-back a:visited
		{ background:url(images/iconography/icon-back.gif) no-repeat 5px 1px; color:#636363; padding:0 5px 0 18px; }
			
/* Content misc > Pagination */

.pagination
{ background:url(images/structure/bg-content-title.gif) repeat-x 0 0; height:43px; overflow:hidden; padding:0 15px; }

	.pagination .letters
	{ float:left; }
	
	.pagination .pages,
	.pagination .controls
	{ float:right; }
	
	.pagination .pages
	{ padding:0 20px 0 0; }

	.pagination li
	{ color:#636363; display:block; float:left; line-height:43px; padding:0 2px; }
	
		.pagination li a:link,
		.pagination li a:visited,
		.pagination li a:active
		{ color:#636363; display:block; text-transform:uppercase; }
		
			.pagination li a.active
			{ color:#111; font-weight:bold; }

/* Content misc > Filter */

.filter
{ clear:both; color:#636363; height:25px; line-height:25px; overflow:hidden; padding:0 0 5px 0; }

	.filter p
	{ line-height:25px; padding:0 4px 0 0; }
	
	.filter strong
	{ color:#111; }

	.filter select,
	.filter label
	{ float:left; }
	
	.filter label
	{ color:#636363; padding:0 3px 0 0; }
	
	.filter .left
	{ width:230px; }	
	
		.filter .left select
		{ width:145px; }
		
	.filter .right
	{ width:440px; }
	
		.filter .right p,
		.filter .right .form
		{ float:right; padding-top:0; }	
		
		.filter .right select
		{ width:50px; }
		
	.rss-feed
	{ background:url(images/iconography/icon-rss-feed.png) no-repeat 0 0; display:block; float:right; height:16px; margin:2px 0 0 5px; text-indent:-9999px; width:16px; }

/** Content Misc > Default List */

.list
{ padding:10px 15px 10px 0; }

	.list li
	{ background:url(images/iconography/bullet-location.gif) no-repeat 10px 50%; padding:4px 4px 4px 25px; }
	
		.list li a:link,
		.list li a:visited,
		.list li a:active
		{ color:#898989; font-size:11px; line-height:16px; }
		
			.list li a.see-all
			{ color:#898989; } 
			
		.list li span
		{ color:#898989; }

/* Content misc > Category List */

.list-category
{ padding:0 15px 10px 0; }

	.list-category li, .list-category-blog li
	{ background-image:url(images/iconography/bullet-category.gif); background-repeat:no-repeat; }
	
	.list-category-blog li
	{ background-position:0 center; line-height:20px; padding:4px 4px 4px 10px; }
	
		.list-category li.level-1, .list-category-blog li.level-1
		{ background-position:2px center; padding:0 0 0 12px; }
		
		.list-category li.level-2, .list-category-blog li.level-2
		{ background-position:12px center; padding:0 0 0 22px; }
		
		.list-category li.level-3, .list-category-blog li.level-3
		{ background-position:22px center; padding:0 0 0 32px; }
		
		.list-category li.level-4, .list-category-blog li.level-4
		{ background-position:32px center; padding:0 0 0 42px; }
		
		.list-category li.level-5, .list-category-blog li.level-5
		{ background-position:42px center; padding:0 0 0 52px; }
	
	.list-category li a:link, 
	.list-category li a:visited, 
	.list-category li a:active
	{ color:#898989; }
	
	.list-category-blog li a:link, 
	.list-category-blog li a:visited, 
	.list-category-blog li a:active
	{ color:#111; }
	
.level-banner a.no-image
{ display: block !important; margin: 0 auto; }
	
/* Content misc > Browse by category */

.browse-category
{ height:1%; overflow:hidden; padding:0 0 22px 0; }

	.browse-category li
	{ float:left; padding:0 30px 8px 0; width:200px; }
	
	.browse-category-box .browse-category li
	{ width: 180px; }
	
		.browse-category li span
		{ color:#898989; font-style:italic; }
		
		.browse-category li.last
		{ padding-right:0; }
		
		.browse-category li.view-all-cat
		{ font-style: italic; padding: 5px 0 0; text-align: right; width: 100%; }
		
			.browse-category li.view-all-cat a,
			.browse-category li.view-all-cat a:visited
			{ color: #898989; }
		
	.browse-category li ul
	{ padding:4px 0 4px 10px; }
		
		.browse-category li ul li
		{ padding:1px 0; width:190px; }
			
			.browse-category li ul li a:link,
			.browse-category li ul li a:visited,
			.browse-category li ul li a:active
			{ color:#636363; }
			
				.browse-category li ul li span
				{ color:#898989; }
				
	.browse-category li.clear
	{ font-size:0; float:none; line-height:0; padding:0; width:auto; }
	
.browse-category-box .browse-category 
{ background: none repeat scroll 0 0 #EAEAEB; border-top: 1px solid #B6BEC5; height: 1%; margin-top: 20px; overflow: hidden; padding: 15px; }	
				
/* Content misc > Browse locations */

.browse-locations
{ height:1%; overflow:hidden; padding:0 0 30px 0; }

	.browse-locations .child
	{ clear:both; height:1%; overflow:hidden; padding:5px 5px 5px 20px; }
	
		.browse-locations .child li
		{ padding:2px; }
		
			.browse-locations .child li.link
			{ clear:none; float:left; padding:5px; }
	
	.browse-locations .parent
	{ padding:5px }
	
		.browse-locations .parent li
		{ clear:both; display:block; padding:5px; }
		
			.browse-locations .parent li a:link,
			.browse-locations .parent li a:visited,
			.browse-locations .parent li a:active
			{ font-size:11px; }
			
/* Content misc > Sitemap */

.sitemap
{ padding:0 0 30px 0; }

	.sitemap h3
	{ border-bottom:1px solid #E6E8E9; margin:0 0 10px 0; padding:0 0 4px 0; text-transform:uppercase; }
	
		.sitemap h3 a:link,
		.sitemap h3 a:visited,
		.sitemap h3 a:active
		{ color:#111; }
	
	.sitemap ul
	{ height:1%; overflow:hidden; padding:0 0 22px 0; }
	
		.sitemap ul li
		{ float:left; padding:0 30px 8px 0; width:190px; }
		
/* Content misc > Twitter */
	
	.last-tweets .loading
	{ background:url(images/iconography/icon-loading-footer.gif) no-repeat center; height:60px; }
	
	.last-tweets ul
	{ color:#636363; padding-top:10px; }
	
		.last-tweets ul li
		{ font-size:12px; line-height:16px; padding:0 0 10px 0; }
	
		.last-tweets ul li a:link,
		.last-tweets ul li a:visited,
		.last-tweets ul li a:active
		{ clear:both; color:#898989; display:block; font-size:10px; font-style:italic; }
		
			.last-tweets ul li span a:link,
			.last-tweets ul li span a:visited,
			.last-tweets ul li span a:active
			{ color:#0072BC; display:inline; font-size:11px; font-style:normal; padding:0; }

.twitter-widget {
	margin-top: 30px;
	margin-bottom: 20px;
}
			
/**************************************************************************************************\
* FAQ
* 
* FAQ section styles
*/

.content-faq
{ padding:0 0 30px 0; }

/** FAQ > Misc */

	.content-faq h2
	{ margin-top:20px; }
	
		.content-faq h2 span
		{ float:right; font-size:11px; text-transform:none; }
		
	.faqAnswers .standardSubTitle
	{ color:#111; font-weight:normal; padding-top:15px; }
	
		.faqAnswers .standardSubTitle a
		{ color:#111; }
	
	.faqAnswers p
	{ color:#636363; font-size:12px; line-height:20px; padding-bottom:5px; }

/** FAQ > Search */

	.content-faq .search
	{ height:auto; overflow:hidden; }

			.content-faq .search input
			{ border:1px solid #BBB; color:#636363; font-size:12px; height:22px; line-height:22px; margin:1px 4px 0 0; padding:2px 4px; width:234px; }				
			
		.content-faq .search input:focus
		{ border-color:#EC008C; }
	
	.content-faq .search button
	{ background:url(images/structure/bg-search-button.gif) repeat-x 0 0; color:#636363; cursor:pointer; font-size:11px; font-style:italic; height:30px; letter-spacing:-0.5px; line-height:30px; padding:0 10px; text-shadow:1px 1px 1px #FFF; text-transform:uppercase; width:165px; }
	
	.content-faq .search button
	{ -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px; }
	
		.content-faq .search button:focus,
		.content-faq .search button:hover
		{ color:#111; }
		
		.content-faq .search button:active
		{ color:#111; }

/**************************************************************************************************\
* Slider
* 
* Slider style ( check the structure on the .css file in the scripts folder )
*/

.content-top-slider
{ padding-bottom:17px !important; }

/** Slider > slider structure */

#slider
{ background:#FFF; border:1px solid #DFDFDF; clear:both; height:230px; overflow:hidden; padding:10px; position:relative; width:650px; }

	#slider ul
	{ height:228px; overflow:hidden; width:648px; }
	
		#slider ul li
		{ height:auto; overflow:hidden; width:648px; }
			
	#slider .slider-item
	{ height:auto; overflow:hidden; }

/** Slider > slider style */

	#slider .left
	{ float:right; }

	#slider .right
	{ background:url(images/structure/bg-slider-info.png) repeat 0 0; border-right:1px solid #33759F; float:left; height:203px; padding:15px 15px 10px 15px; width:162px; }

	#slider h2
	{ border:none; color:#FFF799; font-size:14px; font-weight:normal; height:auto; line-height:28px; margin:0 0 10px 0; text-transform:uppercase; }
	
		#slider h2 a:link,
		#slider h2 a:visited,
		#slider h2 a:active
		{ color:#FFF; font-size:15px; font-weight:bold; text-transform:none; }
	
	#slider p
	{ clear:both; color:#FFF; }
	
	#slider .info
	{ background:#DEDEDE; float:left; margin:0 0 10px 0; padding:5px; }
	
		#slider a img
		{ border:none; }

/** Slider > slider style > no image */

#slider .no-image,
#slider .no-image:hover
{ border:none; height:241px; width:440px; }
		
/** Slider > slider control */
		
	ol#controls 
	{ clear:both; height:9px; padding:6px 0 0 328px; text-align:center;}
	
		ol#controls li 
		{ display:inline; font-size:0; height:9px; line-height:9px; margin:0 5px 0 0; width:9px; }
	
			ol#controls li a 
			{ background:url(images/iconography/bg-slider-navigation.png) no-repeat 0 -12px; display:block; float:left; height:8px; margin:0 3px 0 0; text-indent:-9999px; width:9px; }
			
			ol#controls li.current a 
			{ background:url(images/iconography/bg-slider-navigation.png) no-repeat 0 0; }
			
			ol#controls li a:focus
			{ outline:none; }
		
/**************************************************************************************************\
* Sidebar
* 
* Sidebar structure and elements
*/
	
.sidebar, .level-detail .sidebar
{ float:right; padding:25px 0 30px 5px; width:285px; }

/**************************************************************************************************\
* Sidebar Differences
* 
* Differences for the items with special style on the sidebar
*/

.sidebar h2
{ background:url(images/structure/bg-detail-desc.png) repeat-x 0 bottom; border:none; font-size:21px; line-height:43px; margin-bottom:10px; margin:5px 0 10px 0; }

/**************************************************************************************************\
* Accordion
* 
* Accordion style for the Triggers, links and Titles
*/

#accordion
{ height:auto; margin:0 0 30px 30px; overflow:hidden; }

	#accordion ul
	{ display:none; }
	
	#accordion .view-all
	{ font-style:italic; padding:10px 0 0 0; text-align:right; }
	
	#accordion .view-all a, #accordion .view-all a:visited, #accordion .view-all a:active 
	{ color:#898989; }
	
	#accordion li h3
	{ line-height:22px; margin:0 0 1px 0; padding:0; }
	
		#accordion li h3 a:link,
		#accordion li h3 a:visited,
		#accordion li h3 a:active
		{ color:#636363; display:block; font-size:12px; font-weight:normal; padding:0 10px; text-transform:uppercase; }
				
/**************************************************************************************************\
* Calendar
* 
* Calendar style
*/

.table-calendar
{ background:#EDEDED; color:#636363; }

	.table-calendar td
	{ padding:6px; }
	
	.table-calendar .calendar-header 
	{ background:#E1E1E1; border-bottom:1px solid #D4D4D4; height:27px; }
	
	.table-calendar .calendar-weekday
	{ height:26px; padding:10px 0 0 0; }
	
	.table-calendar .calendar-button
	{ background-image:url(images/iconography/bt-calendar-arrow.png); display:block; height:27px; width:27px; }
	
	.table-calendar .left
	{ background-position:0 0; }
	
	.table-calendar .right
	{ background-position:0 -27px; }
	
	.table-calendar .today,
	.table-calendar .selected
	{ color:#636363; font-size:17px; font-weight:bold; }
	
	.table-calendar .selected
	{ color:#EC008C; }

/**************************************************************************************************\
* Advertisement
* 
* Advertisement classes for banners on Header, Content and Sidebar.
*/

.advertisement
{ height:auto; overflow:hidden; }

	.advertisement .banner
	{ height:auto; overflow:hidden; }

		.advertisement .banner a img
		{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; border:none; }
		
		.advertisement .info p a:link,
		.advertisement .info p a:visited,
		.advertisement .info p a:active
		{ color:#636363; font-size:10px; font-style:italic; }
		
		.advertisement .banner .no-image
		{ border:none; display:inline-block; }
		
		.advertisement .banner .no-image
		{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; }
	
/** Advertisement > Sidebar */

.sidebar .advertisement
{ height:auto; margin:30px 0 0 0; text-align:center; overflow:hidden; }

	.sidebar .advertisement .banner
	{ float:none; margin:0 auto; }
	
		.sidebar .advertisement .banner img
		{ display:inline; }
	
	.sidebar .advertisement .info
	{ margin:0 auto; padding:4px; text-align:left; width:172px; }

		.sidebar .advertisement .info p
		{ line-height:12px; }
		
/** Advertisement > Sponsored */

.sponsored
{ background:#FFF; border:1px solid #EEE; display:block; margin:15px auto 0 auto; padding:4px; width:170px; }

	.sponsored:hover
	{ border-color:#0072BC; text-decoration:none; }

	.sponsored .url
	{ color:#636363; }
	
	.sponsored .title
	{ font-size:11px; font-weight:bold; }
	
	.sponsored .text
	{ color:#898989; display:block; font-size:11px; line-height:16px; }
    
    
/** Pop ups > Preview Banners */

.previewmember .advertisement .featured{ padding:0; }

.previewmember a img {border-radius:0; display:inline;}
.previewmember .advertisement .top img{height: 90px; width: 728px;}
.previewmember .advertisement .bottom img{ height: 60px; width: 468px;}
.previewmember .advertisement .top.right img {height: 90px; width: 120px;}
.previewmember .advertisement .top.right {float:none; margin-top:15px}
.previewmember .advertisement .sponsored.links {margin:20px auto 0;}
.previewmember .advertisement .sponsored.links .sponsored {width: 100%;margin:0; padding:0; border:none;}

.previewmember .advertisement {width:92%; margin: 30px auto; text-align:center;}
.previewmember .advertisement .top  { text-align:center; margin-top:10px; }
.previewmember .advertisement .bottom { text-align:center; margin-top:40px; }
	
/** Advertisement > Bottom */

.advertisement-bottom
{ height:1%; margin:0 auto; overflow:hidden; padding:30px 0 0 0; width:468px; }

	.advertisement-bottom .banner .no-image
	{ height:60px; text-decoration:none; width:462px; }
	
/** Order Page > Standard steps */
.real-steps {width:940px; margin:0 auto;}

.standardStep-Title {float:left;margin-top: 50px;width: 190px; font-size:18px;}
.standardStep-Title span{font-weight:600; display: block; }

.standardStep
{ height:75px; margin: 0px auto; overflow:hidden; padding: 30px 0; width:720px; }

	.standardStep li
	{ font-size: 12px; font-style: italic;  height: 75px; padding: 0 10px;  text-align: center;  width: 30%;}
	
     .standardStep li.steps-ui {float:right;}
     
		.standardStep li span
		{ color:#636363; display:block; font-size:60px; line-height:54px; }
		
		.standardStep li span
		{ text-shadow:1px 1px 0 #FFF; }
	
	.standardStep .standardStepAD
	{ color:#111; font-size:18px; padding:20px 0 0 0; width:190px; }
	
		.standardStep .standardStepAD span
		{ font-size:12px; line-height:15px; }
		
		.standardStep .stepActived span
		{ color:#EC008C; text-decoration:none !important; }

/** Popups > TB_window */

#TB_window
{ background:#FFF !important; } 

/** Remove from favorites div */

.boxFavorites 
{ background: url(images/structure/bg-black-opacity-65.png) repeat; cursor:pointer; float:left; height:23px; position:absolute; width:320px; }

	.favoritesGrid .boxFavorites
	{ top: -37px; left: 0; }
    
	.boxFavorites span a,
	.boxFavorites span a:visited
	{ color: white; font-size: 10px; font-style: italic; line-height: 23px; float: right; text-align: right; padding-right: 8px; width: 300px; }
	
	.boxFavorites span a img
	{ display: inline; position: relative; top: 2px; margin: 0 0 0 5px; }
			
			
/*Input hidden*/
.hiddenFile-box {}
.hiddenFile-box span.hiddenFile{}
.hiddenFile-box span.hiddenFile input[type="file"]{cursor: pointer;opacity: 0;filter:alpha(opacity=00);padding: 0;margin: -90px 0 0 -155px;width: 145px;height: 120px;position:absolute;color:transparent;}
.hiddenFile-box span.hiddenFile button {border: 1px solid #ccc;    cursor: pointer;    font-size: 10px;    height: 30px;    outline: medium none;  width: 100px;}
.hiddenFile-box button:hover, .hiddenFile-box button:active {background-color:#EAEAEA;}


.identification div.inputimg, .create-profile div.inputimg {float:left;}
		.identification div.inputimg > i, .create-profile div.inputimg > i {float:left;margin:0; height:17px;padding:5px; width:10px;border:1px solid #ccc; border-right:none;line-height:16px;font-size: 11px; }
		.identification div.inputimg > input, .create-profile div.inputimg > input {float:left;height: 17px;  width:113px; border:1px solid #ccc; border-left:none;padding:5px 1px 5px 4px;}
		.identification div.inputimg.large > input[type=text], .create-profile div.inputimg.large > input[type=text]{width:263px;}
		.identification label#checkUsername, .create-profile label#checkUsername { float: left;  margin: 5px 0 -6px;}
		
		.identification .inpname, .create-profile .inpname{ background:#fff url(images/iconography/user.png) no-repeat 3px;}
		.identification .inpemail, .create-profile .inpemail{ background:#fff url(images/iconography/mail.png) no-repeat 3px; width:265px; margin-right:0}
		.identification .inppassword, .create-profile .inppassword{ background:#fff url(images/iconography/lock.png) no-repeat 5px;}
		

	.identification div.inputimg.large > input {width:263px;}
	
/* New advertising */
.order > div {clear:both}
.order > form > div {float:left;}
.order > div.blockcontinue {float:left;clear:none;}
.order > div.blockcontinue .cont_70.empty {min-width:650px;height: 30px;}
.content-main.order {padding-bottom:30px;}		
.order-head {width:100%;border-bottom:1px solid #eee;float:left;padding: 5px 0 15px 0;margin: -10px 0 20px 0;}	
.order-head h2 {font-weight:normal; text-transformation:capitalize;border:none; padding:0;line-height: 15px;margin:0;float:left;}
.order-head i {font-style:normal; color:#004276;}
.order-head ol{padding-left: 20px;font: bold 14px Sans Serif;}
.order-head li{width:33%; float:left;clear:none; color:#ddd; margin-right:-15px;}
.order-head li.active{color:#000}	
.order-head span#taxInfo {color: #888; font-size: 12px; clear:both; line-height: 33px; display:block; text-align: left;}				
.order .warningBOXtext { text-align: left;}
.order .left {text-align:right;padding:0 20px 0 10px;width:247px}
.order .right {border-left:1px solid #eee;padding: 22px 30px 40px 30px; min-height:40px; width:650px;}
	
.order h3 {font-size: 14px; margin-bottom:10px;}	
.order h1 {font-size: 24px;margin: auto 0 35px 30px;}
.order .right p {margin-top:10px; font-size:12px; line-height:25px;}		
			
.blockcontinue { border: 1px solid #DDDDDD; border-left:none; border-right:none; margin: 20px 0 -16px;  padding: 20px 5px;  width: 99%;}
.blockcontinue .orderTotalAmount {display: table-cell;  height: 54px;  text-align: right;  vertical-align: middle; width:270px;}
.blockcontinue #checkoutfree_total {margin-top: 18px;}
.blockcontinue	#checkoutpayment_total {margin:0;}
			
			
.order .right div.cont_100 {width:650px;}
.order .right div.cont_70 {width:434px;}
.order .right div.cont_50 {width:325px;}
.order .right div.cont_30 {width:216px;}
.order .right div.cont_25 {width:162px;}
			
/* New advertising  Form*/	
.order label {font-size:12px; color:#62707B; line-height: 30px; float:left;}
.order label > span {display: none;position: absolute;font-size: 10px;font-style: normal;display:none; position:static; font-size: 10px;font-weight: normal;padding: 4px;background-color: #f4f4f4;border: 1px solid #ccc; line-height:20px;box-shadow:0px 0px 10px #eee;}
.order label#checkUsername > span {display: inline;position: relative;padding: 0;background-color: transparent;border:none;margin:0;line-height: 10px;box-shadow:none}
.order label:hover span {display: inline;}	
.order .option label { line-height: 12px;    padding-top: 10px;}
.order .option div {  height: 46px;   width: 170px; float:left;}
.order .option input[type="checkbox"]  {clear: left;float: left;margin: 9px 15px 0 0;width:15px;height:15px;}
.order .option input[type="radio"] {float: left;margin: 9px 15px 0 15px;width:15px;height:15px;}	
.order input[type="text"], .order input[type="password"], .order textarea, .order select{ border:1px solid #ddd; padding:3px;float: left;}		
.order .cont_100 input, .order .cont_100 textarea {width:620px;}
.order .cont_70 input {width:404px;}
.order .cont_50 input {width:295px;}
.order .cont_30 input {width:188px;}
.order .cont_25 input {width:133px;}	
.order select {margin:0;width:303px;}	
.order select#feed {margin:0;width:100%;}	
.order .cont_100 select {margin:0;width:303px;clear:both; float:left;}	
.order select#feed {font-size:11px;}
.order .cont_30 select {width:196px;}			
.order .cont_100 input[type="radio"] {width:15px;}	
#removeCategoriesButton {font-size: 12px; padding:10px;display: block;clear: both;}		
.order .identification > div > div, .order .identification > div > div > div {margin-bottom:20px;float:left;}			
.order label#checkUsername {line-height:6px;}
			
.order .option .standard-table th {text-align:right;}
.order .option .standard-table .standard-tabletitle {text-align:left; padding: 5px 0 8px;}
.order .option .standard-table th input[type="checkbox"] { clear: none; float: none; margin: 5px 0 0; width: 15px;}
			
/*Button*/

.bt-highlight {text-align: right ;margin-right: 40px;}
.bt-highlight button {padding:7px 10px; border-radius:30px; font-weight:bold;cursor:pointer; margin-left:10px;}
p.bt-highlight a {width: 100%;float: left;}
p.bt-highlight em {float: right;clear: both; margin: 0 0 -10px;}
.order .biggerbutton button {width:250px;white-space: pre-wrap;}
.order .biggerbutton button span {width:200px;white-space: pre-wrap;}



/*Package*/
			
.packageTable {width:100%;}
.packageTable td {padding:5px;}
.order-package .right {border:none;}

input { color: #000; }
.placeholder { color: #aaa; line-height:10px; }
:-moz-placeholder {color:#aaa;}

/*Payment Method*/
.order #payment-method select {width:152px;}
.order .standard-table input {width:292px;}
.order .standard-table span {margin: 1px 0 -15px;}
.order .standardChooseLevel input[type="radio"] {width:15px}
.order .standardChooseLevel td {border-bottom:none;}

/* #Newsletter

	The box at sidebar for sign up the newsletter.
	'
	<div class="newsletter">
			<div class="box-newsletter">
				<h3>Sign up for our newsletter</h3>
				<form>					
					<label for="newsname">Name</label><input type="text" id="newsname"/>
					<label for="newsemail">E-mail</label><input type="text" id="newsemail"/>
					<button type="submit">Subscribe</button>
				</form>
			</div>
	</div>
	'	 
*/

.box-newsletter {padding:5px;border-radius: 0 10px 0 0;}
.newsletter h3 {font-size:14px; font-weight:normal; text-transform: uppercase; text-align:center; line-height:18px; padding-bottom:5px; margin-bottom:10px;}
.newsletter label, .newsletter input {float:left; width:100%; font-size: 11px; height: 23px; line-height: 21px;}
.newsletter button {cursor: pointer;height: 36px;margin: 18px 0 15px 58px;text-align: center;width: 140px;border:1px solid #fff;}


/*Fix*/

.modal-content .content-custom {padding:0;}
.order ul.basePrintNavbar li a {display:inline;padding:0;}
.order .order-package {clear:both;float:none;}

/* #Fix for includes forms*/
table.standard-tableTOPBLUE {border:1px solid #dedede;}

table.standard-table th i > span, table.standard-table td i > span{z-index:999; display: none !important;  line-height: 12px; padding: 2px;    position: static;float:left;}
table.standard-table td i > span{ margin-top: -17px;  margin-left: -25px;}
table.standard-table th i > span{ margin-top: -33px;margin-left: 29px;}
		
		
.ie table.standard-table th i > span, .ie table.standard-table td i > span{ margin-top: -34px; }
.ie table.standard-table td i > span{ margin-top: -33px;  margin-left: -10px;}


table.standard-table td.treeView i span, table.standard-table td.treeView div.treeviewMainMenu_divNodes2 i span {color:#999; text-decoration: none;}

#crop {width: 99%;}


.login-box {
  font-size: 14px;
  padding: 30px;
  width: 420px;
  margin: 10px auto 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login-box .btn,
.login-box .form-login input,
.login-box .form-signup input {
  height: 35px;
}
.login-box .action {
  margin-top: 20px;
}
.login-box form {
  margin: 0;
}
.login-box label {
	width:100%;
	float:left;
}
.login-box .span12 {
	width:100%;
}
.login-box .span6{ 
	margin-left: 10px;
    width: 174px;
	float:left;
}
.login-box .span6:first-child{
	margin-left:0;
}
.login-box .action {
	height:50px;
	clear:both;
	padding-top: 20px;

}
.login-box .checkbox {
	vertical-align: middle;
}
.login-box .checkbox label{
	padding-top:20px;
}
.login-box .checkbox input[type="checkbox"] {
	margin: 0 10px 0 0;
    vertical-align: baseline;
}
.login-page .pull-left {
	float:left;
}
.login-page .pull-right {
	float:right;
}
.login-page .link-highlight{ 
	padding: 8px 15px;
}
.login-box form input[type="text"],
.login-box form input[type="password"],
.login-box form input[type="email"] {
  padding: 4px 8px;
  border:1px solid #ddd;
  margin-left:0;
  line-height: 30px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login-box .action p.doubleline {
	padding-top:5px;
}
.login-underbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 420px;
  margin: -1px auto 20px;
  padding: 21px 30px 25px;
}		

.identification .login-button {
  float: left;
  margin-bottom: 10px;
  width: 289px;
}

.login-modal .login-box{
	width:266px;
	padding:20px 0;
}

.login-modal .login-box form {
	padding-top:0;
}
.login-modal .login-box .labelcheckbox label {
	line-height:2em;
}

.login-modal .login-box button {
	width:100%;
}


/*Form Encourage*/
.form-encourage {
  margin: 1em 0;
  padding: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.form-encourage form {
  margin: 2em 0 0;
}
.form-encourage form input[type="text"],
.form-encourage form input[type="password"],
.form-encourage form input[type="email"] {
  padding: 4px 8px;
  height: 45px;
}
.form-encourage form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
   width: 100%;
}
.form-encourage form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 8px;
  height: 200px;
  max-width: 100%;
   width: 100%;
}
.form-encourage form label {
  padding: 16px 0 0 0;
  width: 100%;
  display: block;
}
.form-encourage .action {
  margin: 20px 0 0;
}