
/**
* eDirectory - Color Scheme
*
* @package			design
* @filesource		colorscheme.php
* @author			Arca Solutions
* @copyright		Copyright (c) 2013, Arca Solutions Inc.
* @version			eDirectory 10.0.0.00
* @since			September, 1, 2013
*			
*/

/**
* Typography
*/

body { font-family:"Open Sans",sans-serif; }

/**
* Body
*/

body {
    background-color: #EEEEEE;
}

body.allpopup {
    background-color: white;
}

body, body p, .content-custom, 
.flex-box-list ul li a,
section.item-preview b ,
.content-custom h1, .content-custom h2, .content-custom h3, .content-custom h4, .content-custom h5, .content-custom h6 {
	color:#999899;
}

/*
* LINKS
*/

a, a:link, a:visited, .btn, a.btn, .user-info p a, [class*="sidebar"] a,
section.item-preview a, 
section.item-preview h5 a {
    color: #2980B9;
}

a:hover, a:focus, .btn:hover, a.btn:hover, .user-info p a:hover, .memberMenu h2 a:hover, a.categoryAdd:hover,
[class*="sidebar"] a:hover, .login-underbox a:hover, 
[class*="flex-box"] section h5 a:hover{
    color: #2980B9;
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

[class*="flex-box"] a:hover, .brand.logo:hover, .share-social a:hover , .button-call a:hover , .button-send a:hover  {
	opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

a.btn, a.input-button-form,
.btn-facebook, .btn-google, .btn-id, .btn-twitter, .btn-facebook a, .btn-google a, .btn-twitter a,
a.btn-facebook, a.btn-twitter, .standardButton a,
.modal-content-mini > h2 > span > a:hover, .level-preview > h2 > span > a:hover, [class*="flex-box"] h2 > a:hover {
	color:#fff;
}

.flex-box .button-facebook h2, .flex-box .button-google h2 {
    background-color: transparent;
}

.flex-box .button-google h2 a:hover {
	background-color:#ddd;
	color:#111;
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}


/**
* Header
*/

.navbar .nav > li > a, .search-advanced .title {
    color: #FFFFFF;
}

.navbar {
    background-color: #383838;
}

.navbar .nav > .menuActived > a, .navbar .nav > .menuActived > a:hover, .navbar .nav > .menuActived > a:focus, .nav-collapse-members .nav > .menuActived > a, .nav-collapse-members .nav > .menuActived > a:hover, .nav-collapse-members .nav > .menuActived > a:focus,
.nav-collapse-members .nav > li > a:hover, .navbar .nav > li > a:hover {
	color: #3498db;
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.navbar-inner, .advanced-search-box {
 	background-image: none;
	background-color: #232323 ;
	border-color:#232323;
}


/**
* Footer
*/
.footer-wrapper {
	background-color:#383838;
	border-color:#383838;
	color:#FFFFFF;
}

.footer-wrapper p, .footer-wrapper h5, .footer-wrapper h3, .footer-wrapper h4 {
	color:#FFFFFF;
	border-color:#FFFFFF;
}

.footer-wrapper .nav a, .footer-wrapper a,  .footer-wrapper a:active ,  .footer-wrapper a:focus {
	color:#D8D9D9;
	background-color:transparent;
}

.footer-wrapper .nav a:hover, .footer-wrapper a:hover {
	color:#D8D9D9;
	opacity:0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}


/**
* Bootstrap Main Colors
*/

[class*="flex-box"] h2, 
[class*="sidebar"] h2, 
.modal-content-mini > h2,
.content-profile .standardSubTitle,
.box-title h2, .box-title > h3,
.content > h2,
.standardStep-Title,
.order-head > h2,
.level-preview > h2 {
    background-color:#2980B9;
}

[class*="flex-box"] section b, 
.help-block, .help-inline, .flex-box-list ul li span {
    color: #27AE60;
}

b.divisor {
	border-color:white;
 	opacity:0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}



/******
**** Background-colors*/

.calendar-event li.active, 
.calendar-event li:hover {background-color:#2C3E50; opacity:0.8;}

.color-1 h2, 
.order-head > h2, 
.calendar-event li, 
.stars-rating,
.large-rating .stars-rating,
.item-review .large-rating .stars-rating,
.calendar-event,
.domainItemsTitle,
.minor-nav ul li a:hover, 
.minor-nav ul li a.active,
.calendar h2 {background-color:#16A085;}

.color-1 h2, .order-head > h2 { border-color:#16A085;}

.color-2 h2 {background-color:#27AE60;}

.color-3 h2, .sidebar h2,
.button.button-profile h2 a,
.button.button-profile h2 a:hover,
.input-button-form, a.input-button-form, 
.bt-highlight button, .standardButton button, .button h2 a, 
.content-faq button, .standardButton > a,
.input-button-form:hover, a.input-button-form:hover, 
.bt-highlight button:hover, .standardButton button:hover,
.button h2 a:hover, .content-faq button:hover, .standardButton > a:hover,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, .dropdown-submenu:focus > a  {background-color:#2980B9;}

.color-4 h2,
.box-title h2,
.box-title > h3,
.standardStep-Title,
.level-preview > h2,
.modal-content > h2 {background-color:#2C3E50;}

.color-5 h2 {background-color:#F39C12;}

.color-6 h2, .listing-tag-deal, .deal-tag-small {background-color:#D35400;}

.color-7 h2 {background-color:#C0392B;}



/******
**** Font Colors */

.color-1 a:hover, .color-1 section h5 a:hover, .color-1 a
[class*="sidebar"] [class*="icon-caret"] {color:#16A085;}

.color-2 a:hover, .color-2 section h5 a:hover, .color-2 a, .text-success  {color:#27AE60;}
.color-3 a:hover, .color-3 section h5 a:hover, .color-3 a, .well-small ol, .pagination li > a.active, .text-info  {color:#2980B9;}
.color-4 a:hover, .color-4 section h5 a:hover, .color-4 a, .box-newsletter h3 {color:#2C3E50;}
.color-5 a:hover, .color-5 section h5 a:hover, .color-5 a {color:#F39C12;}
.color-6 a:hover, .color-6 section h5 a:hover, .color-6 a, .text-warning  {color:#D35400;}
.color-7 a:hover, .color-7 section h5 a:hover, .color-7 a, .text-error {color:#C0392B;}

/**
* Buttons
*/

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #16A085;
}

.btn.btn-info,
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info:active,
.btn.btn-info.active,
.modal-content .button-profile h2 a, 
.modal-content .button-profile h2 a:hover {
  background-color: #2980B9;
}

.btn.btn-danger,
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
  background-color: #C0392B;
}

.btn.btn-success ,
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success:active,
.btn.btn-success.active,
.modal-content button[type="submit"], 
.modal-content button[type="submit"]:hover {
  background-color: #27AE60;
}
.btn.btn-warning, 
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning:active,
.btn.btn-warning.active {
  background-color: #F39C12;
}
.btn.btn-inverse,
.btn.btn-inverse:hover,
.btn.btn-inverse:focus,
.btn.btn-inverse:active,
.btn.btn-inverse.active,
.btn:active, 
.btn-group.open 
.btn.dropdown-toggle, 
.btn.active {
  background-color: #2C3E50;
}

.login-button a ,
.login-button a:hover ,
.button.button-profile h2 a:hover,
.btn.btn-inverse:hover,
.btn.btn-warning:hover,
.btn.btn-success:hover,
.btn.btn-danger:hover, 
.btn.btn-info:hover,
.btn.btn-primary:hover,
.input-button-form:hover, a.input-button-form:hover, 
.bt-highlight button:hover, .standardButton button:hover,
.button h2 a:hover, .content-faq button:hover, .standardButton > a:hover,
.modal-content button[type="submit"]:hover, .modal-content .button-profile h2 a:hover {
	opacity:0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	color:white;
}

.modal-content .button-google h2 a, .modal-content .button-google h2 a:hover,
.button-google h2 a, a.btn-google  {
	background-color:#E8E8E8;
	color:#111;
}

.button-facebook h2 a, a.btn-facebook, div.btn-facebook, a.btn-facebook:focus, a.btn-facebook:active, 
.button-facebook h2 a:hover {
	background-color:#5C6A90;
}


/**
* Carousel 
*/

.carousel-indicators {	
   	background: #2C3E50;
   	opacity: 0.9;
}

.carousel-indicators li {
	box-shadow:-1px 0 0 #2C3E50 inset;
}

.carousel-indicators li.active {
	background: #3498db;
	
}
.ie .carousel-indicators {
	background-color:#2C3E50;
}


/*
* TABS
*/

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    background-color: #2980B9;
    border-color: -moz-use-text-color -moz-use-text-color #2980B9;
}

.nav-tabs {
    border-color: #2980B9;
}

.tabs-advertise > .active > a, .tabs-advertise > .active > a:hover, .tabs-advertise > .active > a:focus,
.profile-tabs > .active > a, .profile-tabs > .active > a:hover, .profile-tabs > .active > a:focus {
	background-color:#2C3E50;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .tabs-advertise > li > a:hover, .tabs-advertise > li > a:focus, .profile-tabs > li > a:hover, .profile-tabs > li > a:focus {
    background-color: #2980B9;
    border-color: #2980B9;
}

.tabsBase .tabs > li.tabActived > a, .tabsBase .tabs > li > a:hover {
    background-color: #16A085; 
}




/*
* RESULTS
*/

.name-tag-deal, .name-tag-deal a, .name-tag-deal a:hover {
	color:white;
}

/*PROFILE*/
a.delete {
    background-color: #D35400;
    color:white;
}

a.delete:hover {
    background-color: #D35400;
    opacity:0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}



/* MEMBERS*/

.notify, .alert-new {
	background-color:#16A085;
}
.dashboard section.stats-summary h5, .dashboard section.stats-summary h1 {
	color:#16A085;
}
.status-active:before {
    background-color:#27AE60;
}

.status-suspended:before {
    background-color:#F39C12;
}

.status-expired:before {
    background-color:#C0392B;
}

.status-pending:before {
    background-color:#D35400;
}


.levelTitle {
    background-color:#16A085;
}

.levelTable .tableOption {
    background-color:#f3f3f3;
}

.levelTopdetail {
    background-color:#16A085;
    opacity:0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.standard-table span.categorySuccessMessage, .categorySuccessMessage {
	color:#16A085;
}


/*CLAIM*/
.steps-ui.stepActived > span {
    background-color: #2C3E50;    
}

.steps-ui.stepActived, .order-head li.active,
a.mainImageLink.mainImageLinkBK {
    background-color: #2980B9;
}

a.ImageEditCaptions:hover, a.ImageDelete:hover, a.mainImageLinkBK:hover {
	background-color:white;
}

/*ORDER*/
.orderTotalAmount {
	color:#16A085;
}