/**
* eDirectory - FAQ
*
* @package			layout
* @filesource		faq.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			April, 17, 2012
*			
*/

/** FAQ */

.wrapper
{ background:#FFF; border:1px solid #CCC; }

/** FAQ Paging */

	.paging	button
	{ color:#FFF; }

	.descNavigation strong
	{ color:#0072BC; }

.letterNavigation
{ color:#898989; }

	.letterNavigation a, .letterNavigation a:visited
	{ color:#898989; }
	
/** FAQ Search */

.faqSearch
{ border-bottom:5px solid #F7F7F7; }

.faqSearch form
{ border:1px solid #CCC; }
