/**
* eDirectory - Members Section
*
* @package      layout
* @filesource   members.css
* @author     Arca Solutions
*     
*/

h2 {
  font-size: 20px;
  font-weight: normal;
}
#fancybox-outer {
  border-radius: 0 !important;
}
input {
  border:1px solid #eee;
  padding:5px;
  height:20px;
}
input[type="checkbox"], input[type="radio"] {
  border:none;
  padding:0;
  margin: 4px 0 0 0;
  vertical-align: baseline;
  height:auto;
  width: auto;
}
a:focus,
a:active {
  border: none;
  outline: none;
}
.review-name a {
  font-size: 14px;
  font-weight: normal;
  color: #333;
}
.review-name a:hover {
  color: #1abc9c;
}
strong {
  font-weight: 600;
}
button {
    background: url("images/structure/bg-search-button.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #636363;
    text-shadow: 1px 1px 1px #FFFFFF;
    border-radius: 100px;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    height: 33px;
    letter-spacing: -0.5px;
    line-height: 33px;
    padding: 0 10px;
    text-shadow: 1px 1px 1px #555;
    text-transform: uppercase;
    width: 120px;
    cursor: pointer;
}
.hiddenFile-box span.hiddenFile button {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    font-size: 10px;
    height: 30px;
    outline: medium none;
    width: 100px;
    background: none;
    border-radius: 0;
    width: 130px;
    text-transform: none;
    font-size:12px;
    line-height: 25px;
}
.member-form div#image_fb, .member-form div#image_fb > img {
    float: right;
    height: 130px;
    max-height: 130px;
    max-width: 130px;
    width: 130px;
}
.member-form input[type="text"], .member-form input[type="password"], .member-form textarea {
    border: 1px solid #DDDDDD;
    padding: 3px;
}
.member-form label {
  padding:15px 0 5px;
}

.member-form input[type="checkbox"] {border: none;}

.member-form .cont_checkbox label {
  padding:0;
}

.member-form label > em {
  color: #999999;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.member-form .btAdd {
  background-color: white;
  border-left: 1px solid #DEE1E3;

}
.wrapcaption {
  font-size: 12px;
}
.muted,
.text-muted {
  color: #939496;
}
.muted:hover,
.muted:focus,
.text-muted:hover,
.text-muted:focus {
  color: #939496;
}
.text-success {
  color: #27ae60;
}
.text-success:hover,
.text-success:focus {
  color: #32d175;
}
.text-info {
  color: #749116;
}
.text-info:hover,
.text-info:focus {
  color: #f0a570;
}
.text-warning {
  color: #EA8239;
}
.text-warning:hover,
.text-warning:focus {
  color: #ee9c62;
}
.text-danger {
  color: #d9534f;
}
.text-danger:hover,
.text-danger:focus {
  color: #e17875;
}
.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fffdf4;
  border: 1px solid #fff2bf;
  text-shadow: none;
  color: #FFDC52;
}
.alert-success {
  background-color: #e0f8ea;
  border: 1px solid #46d683;
}
.alert-success,
.alert-success .alert-heading {
  color: #27ae60;
}
.alert-danger,
.alert-error {
  background-color: #fbebea;
  border: 1px solid #e48583;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #d9534f;
}
.alert-info {
  background-color: #fdf1ea;
  border: 1px solid #f1ae7f;
}
.alert-info,
.alert-info .alert-heading {
  color: #749116;
}
.notify {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #EC008C;
  color: white;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  right: 2px;
  top: 7px;
  border-radius: 20px;
  pointer-events: none;
  line-height:21px;
}
.ie .notify,
.ie .alert-new {
  background: url(images/iconography/ie-notification.png) no-repeat 0 0 transparent;
  font-size: 9px;
  width: 20px !important;
  height: 20px;
  padding: 0;
}
.complementaryInfo {
  font-size: 9px;
}
.loginComplementaryInfo {
  text-align: center;
}
.list-back {
  margin: 20px 0;
}
p.standardButton {
  text-align: center;
  margin: 15px 20px;
  display: inline;
}
.baseButtons p.standardButton {
  margin: 15px 0;
}
#img_customtime {
  padding: 10px;
  display: inline;
}
.admin-actions {
  display: block;
  width: 99.6%;
  padding: 10px 0 0;
  text-align: right;
}
.admin-actions .admin-btn {
  background-color: #EC008C;
  color: #FFFFFF;
  font-size: 11px;
  line-height: 16px;
  padding: 10px 30px;
  text-transform: uppercase;
  border: none;
}
.admin-actions .admin-btn:hover,
.admin-actions .admin-btn:focus {
  background-color: #b6df2d;
}
table.warningBOXtext {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
}
table.warningBOXtext tr {
  display: block;
  padding: 15px 20px;
}
.warningBOXtext th {
  vertical-align: middle;
}
a.ImageEditCaptions,
a.ImageDelete,
a.mainImageLinkBK {
  color: #666;
}
a.ImageEditCaptions,
a.ImageDelete,
a.mainImageLinkBK {
  background-color: #eee;
}
a.ImageEditCaptions:hover,
a.ImageDelete:hover,
a.mainImageLinkBK:hover {
  background-color: #ccc;
}
a.mainImageLink.mainImageLinkBK {
  background-color: #2980b9;
  color: #fff;
}
a.mainImageLink.mainImageLinkBK:hover {
  background-color: #3498db;
  color: #fff;
}
.Full ul li {
  background-color: #DEDEDE;
  border: 1px solid #C9C9C9;
}
.Full ul li h5 {
  font-size: 12px;
  font-weight: normal;
  color: #333;
  font-style: italic;
}
a.warningBOXcontent {
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  padding: 10px 20px;
  margin-left: 50px;
  background-color: #2ECC71;
  border: none;
  white-space: nowrap;
}
a.warningBOXcontent {
  font-size: 11px;
  font-weight: normal;
}
a.warningBOXcontent:hover {
  background-color: #58D68D;
}
.warningBOX td a {
  display: none;
}
.warningBOX td {
  margin-left: -10px;
}
.warningBOXtext {
  font-size: 12px;
  padding: 10px;
}
[class*="standard-table"] {
  color: #2b2b2b;
  background-color: #f8f8f8;
  border: 1px solid #e8e9eb;
}
[class*="standard-table"] .highlight, 
[class*="standard-table"]  input[type="file"].highlight {
    border-color:#EC008C;
    background-color: #ffeeff;
  }
[class*="standard-table"] .highlight.successMessage {
      color:#EC008C;
      background-image: none;
}
.standard-table input, 
.standard-table textarea  {
  color:#797979;
  border:1px solid #E0E0E0;
  font-size: 12px;
}
[class*="standard-table"] p {
  font-size: 12px;
}
.standard-table-putradio {
  background-color: #000;
}
.ie .standard-table-putradio {
  background-color: transparent;
}
[class*="standard-table"] tr {
  border: 1px solid #efefef;
}
.ie7 [class*="standard-table"] td,
.ie7 [class*="standard-table"] th {
  border: 1px solid #ddd;
}
[class*="standard-table"] table tr {
  border: none;
}
[class*="standard-table"] i span {
  font-size: 9px;
  font-style: normal;
  color: #999;
}
[class*="standard-table"] i {
  font-style: normal;
  font-size: 16px;
  color: #666;
}
[class*="standard-table"] td strong {
  font-size: 14px;
  margin: 0 2px 0 -8px;
}
.right [class*="standard-table"] td strong,
[class*="standard-table"] td select + strong {
  margin-left: 0;
}
[class*="standard-table"] td p.warningBOXtext strong,
[class*="standard-table"] td span > strong,
[class*="standard-table"] .tableCategoriesTITLE strong,
[class*="standard-table"] .standard-tableContent strong {
  margin: 0;
  padding: 5px;
}
.standard-table th {
  font-weight: 400;
  font-size: 13px;
}
.standard-table .standard-tabletitle {
  background-color: #e8e9eb;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 0 7px 15px;
  text-align: left;
}
.standard-table .standard-tabletitle span {
  font-size: 11px;
  font-weight: 400;
  display: inline !important;
}
.standard-table.tabsTable {
  background-color: transparent;
  border: none;
}
.standard-table.tabsTable tr {
  background-color: transparent;
  border: none;
}
.well-steps {
  background-color: #f8f8f8;
  border: 1px solid #dee1e3;
  padding: 10px;
  text-align: center;
}
.well-steps p {
  padding: 10px 0;
  font-size: 13px;
}
.well-steps textarea {
  height: 100px;
}
.well-text p {
  line-height: 2em;
  font-size: 1em;
  padding-bottom: 10px;
}
.faq-search h4 {
  font-size: 1.3em;
}
.tableTOPBLUECheck {
  background-color: #f8f8f8;
  border: 1px solid #dee1e3;
}
.tableTOPBLUECheck td {
  text-align: left;
}
.standard-tableTOPBLUE {
  border: 1px solid #dee1e3;
  background-color: white;
  text-align: center;
}
.standard-tableTOPBLUE th {
  background-color: #f8f8f8;
  font-weight: normal;
}
.standard-tableTOPBLUE td,
.standard-tableTOPBLUE th {
  border: 1px solid #dee1e3;
}
.standard-tableTOPBLUE th {
  color: #000;
}
.standard-tableTOPBLUE .innerTable td {
  border-left: none;
}
.standard-tableTOPBLUE .hideForm td {
  border: none;
}
.standard-tableTOPBLUE.arrow-manage {
  font-size: 0.9em;
}
.levelTable th,
.levelTable td {
  font-weight: normal;
  font-size: 1em;
  text-align: center;
}
.levelTitle {
  background-color: #EC008C;
  color: white;
}
.levelTopdetail {
  background-color: #cecece;
  color: #fff;
}
.levelTable .tableOption {
  text-align: left;
  background-color: #f8f8f8;
}
.levelTable .tableOption a {
  color: #666;
}
.levelTable .tableOption a:hover {
  text-decoration: underline;
}
.levelTable .tableOption a:before {
  background: url("images/iconography/glyphicons-halflings.png") no-repeat scroll -25px -45px transparent;
  content: "";
  display: block;
  height: 18px;
  width: 16px;
  float: left;
  opacity: 0.7;
}
.levelTabe table {
  color: #888;
}
.standard-innerTable {
  width: 98%;
  border: 1px solid #ccc;
  margin: 1%;
}
.standard-innerTable td,
.standard-innerTable th {
  border: 1px solid #ccc;
}
.standardChooseLevel td {
  border-bottom: none;
}
[class*="standard-table"] .paymentMethods td {
  border: none;
  font-size: 10px;
}
.tableCategoriesTITLE {
  background-color: #E9E9E8;
}
.tableCategoriesTITLE strong {
  font-weight: 600;
}
.categoryTreeview {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dedede;
}
.sidebar > h2,
.previewmember .advertisement > h2 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee1e3;
}
.memberMenu {
  margin-bottom: 20px;
  clear: both;
}
.sidebar p {
  line-height: 17px;
  padding: 0;
}
.ie .sidebar .user-info img {
  border: 3px solid #ccc;
}
.user-info p {
  font-size: 0.9em;
  display: block;
}
.user-info p span {
  display: block;
  margin-bottom: 10px;
}
.user-info p a {
  color: #749116;
}
.user-info p a:hover {
  color: #b5df2e;
}
.member-form {
  font-size: 12px;
}
.member-form label {
  font-size: 1em;
  cursor: default;
}
.member-form .right {
  background-color: #fff;
  border-left: 1px solid #dee1e3;
}
.member-form .left a {
  line-height: 20px;
}
.member-form .left span {
  font-size: 1em;
  font-weight: normal;
  line-height: 14px;
  color: #696969;
}
blockquote.high {
  background-color: #f9f9f9;
}
blockquote p {
  font-size: 11px;
}
blockquote.low {
  background-color: #fafafa;
}
a.remove {
  background: url(images/iconography/bg_switch_close.gif) no-repeat center;
}
.member-activity .activity {
  border: 1px solid #dee1e3;
  border-bottom: none;
}
.member-activity .activity p {
  font-size: 0.9em;
  line-height: 1.6em;
}
.member-activity .option {
  background-color: #f8f8f8;
  border: 1px solid #dee1e3;
}
.member-activity .option a {
  font-size: .8em;
  line-height: .5em;
}
.sitemgr-icon-gear {
  background-position: 0 0;
  margin: 0 5px -3px;
}
[class*="sitemgr-icon"] {
  background-image: url(images/iconography/sitemgr-icons.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: inline-block;
}
.webitem {
  border: 1px solid #e8e9eb;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.4s ease 0.13333333333333s;
  -moz-transition: all 0.4s ease 0.13333333333333s;
  -o-transition: all 0.4s ease 0.13333333333333s;
  transition: all 0.4s ease 0.13333333333333s;
}
.webitem .title {
  font-size: 1.1em;
}
.webitem p {
  font-size: 0.9em;
  font-weight: 300;
}
.webitem b {
  font-weight: 600;
  color: #2b2b2b;
}
.webitem .desc {
  background-color: #fcfcfc;
}
.webitem .desc p span {
  color: #d35400;
  font-size: 0.95em;
  font-style: italic;
  font-weight: 600;
}
.webitem .desc span.status {
  position: relative;
  text-align: center;
}
.webitem .desc span.status > span {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  cursor: default;
}
.webitem .desc span.status > span:before {
  content: "";
  display: block;
  margin: 0 auto;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.webitem .desc span.status > span.status-active {
  color: #27ae60;
}
.webitem .desc span.status > span.status-active:before {
  background-color: #27ae60;
}
.webitem .desc span.status > span.status-suspended {
  color: #d35400;
}
.webitem .desc span.status > span.status-suspended:before {
  background-color: #d35400;
}
.webitem .desc span.status > span.status-expired {
  color: #d9534f;
}
.webitem .desc span.status > span.status-expired:before {
  background-color: #d9534f;
}
.webitem .desc span.status > span.status-pending {
  color: #f39c12;
}
.webitem .desc span.status > span.status-pending:before {
  background-color: #f39c12;
}
.webitem .action {
  background-color: #f8f8f8;
  font-size: 0.9em;
  font-weight: 300;
  color: #2980b9;
}
.webitem.active,
.webitem.active:hover {
  border-color: #EC008C;
  box-shadow: 1px 2px 2px #f2f3f5;
  opacity: 1;
  filter: alpha(opacity=100);
}
.webitem.active .desc,
.webitem.active:hover .desc {
  background: white;
}
.webitem:hover {
  border-color: #d9d9d9;
  box-shadow: 0 0 2px #dee1e3;
}
.webitem:hover .desc {
  cursor: pointer;
}
.addcontent {
  border: 1px solid #e8e9eb;
  background-color: white;
}
.addcontent > p {
  font-size: 1.18em;
  line-height: 1em;
  color: #2b2b2b;
  border-bottom: 1px solid #e8e9eb;
}
.addcontent a {
  color: #33b5e5;
}
.addcontent a:hover {
  color: #1a5b73;
}
.alert-new {
  background-color: #EC008C;
  font-style: normal;
  font-size: 11px;
  color: white;
  border-radius: 10px;
  line-height: 10px;
}
.dashboard {
  border: 1px solid #e8e9eb;
  color: #2b2b2b;
  font-size: 13px;
  background-color:#fcfcfc;
}
.dashboard header {
border-bottom: 1px solid #e8e9eb;
}

.dashboard header h1 {
  font-weight: 400;
  font-size: 1.6em;
  line-height: 0.9em;
}
.dashboard header .btn {
  font-weight: 600;
  font-size: 1em;
}
.dashboard header p {
  font-weight: 300;
  line-height: 0.9em;
  font-size: 0.9em;
  margin: 9px 0 5px;
}
.dashboard header p b {
  font-weight: 600;
}
.dashboard section h2 {
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 1.2em;
}
.dashboard section.stats-summary .row-fluid > div {
  border-left: 1px solid #f2f3f5;
}
.dashboard section.stats-summary .row-fluid > div:first-child {
  border: none;
}
.dashboard section.stats-summary h1 {
  color: #EC008C;
  font-weight: 400;
  font-size: 2.6em;
  line-height: 1em;
}
.dashboard section.stats-summary h5 {
  color: #EC008C;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1em;
}
.dashboard section.stats-summary p {
  color: #939496;
  font-size: 0.9em;
  line-height: 1.4em;
}
.dashboard section.reviews-list .head p {
  color: #939496;
  font-size: 0.9em;
}
.dashboard section.reviews-list .paging {
  text-align: right;
}
.dashboard section.reviews-list .viewmore {
  text-align: center;
  font-size: 0.9em;
  line-height: 3em;
}
.dashboard .game-completion {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e8e9eb;
}
.dashboard .game-completion h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8em;
}
.dashboard .game-completion p {
  font-size: 0.9em;
  font-weight: 400;
  color: #616161;
}
.dashboard .game-completion .step {
  color: #939496;
  font-size: 13px;
}
.dashboard .game-completion .step.large-step {
  text-align: right;
}
.dashboard .game-completion .step a,
.dashboard .game-completion .step a:visited {
  color: #EC008C;
  line-height: 1.7em;
}
.dashboard .game-completion .step a:hover {
  color: #6ab0de;
}
.dashboard .completion-chart {
  position: relative;
}
.dashboard .completion-chart span {
  font-weight: 600;
}
.dashboard .completion-chart input {
  color: #333 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  box-shadow: none;
}
.dashboard .item-review {
  border: 1px solid #e8e9eb;
  background-color: #fcfcfc;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}
.dashboard .item-review .stars-rating [class*="rate-"] {
  background-color: #fcfcfc;
}
.dashboard .item-review .review-text,
.dashboard .item-review .review-reply {
  font-size: 0.9em;
  color: #939496;
}
.dashboard .item-review time {
  line-height: 1em;
  color: #939496;
  font-size: 0.9em;
  vertical-align: middle;
}
.dashboard .item-review .review-summary span,
.dashboard .item-review .review-summary a {
  font-size: 0.9em;
  line-height: 2.2em;
}

.dashboard .item-review .review-summary :hover {
  cursor: pointer;
}
.dashboard .item-review .review-summary.new {
  border:1px solid #EC008C; 
}
.dashboard .item-review .review-summary span.text-muted {
  color: #939496;
}
.dashboard .item-review .review-summary span.text-highlight {
  color: #EC008C;
}
.dashboard .item-review .review-detail img {
  border: 1px solid #e8e9eb;
  border-radius: 10px
}
.dashboard .item-review .review-detail em {
  font-size: 0.9em;
  font-style: normal;
  color: #939496;
}
.dashboard .item-review .review-detail input[type="radio"],
.dashboard .item-review .review-detail label {
  margin: 0 10px 3px 0;
  vertical-align: middle;
}
.dashboard .item-review:hover {
  border-color: #939496;
  box-shadow: 0 0 3px #e8e9eb;
}
.chart-legends ul li {
  color: #939496;
  font-size: .9em;
  line-height: 25px;
  cursor: pointer;
}
.chart-legends span {
  color: #2b2b2b;
  font-size: .9em;
}
.chart-legends .hidden-legends ul {
  background-color: white;
  box-shadow: 0 0 1px #ddd;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease 0.13333333333333s;
  -moz-transition: all 0.4s ease 0.13333333333333s;
  -o-transition: all 0.4s ease 0.13333333333333s;
  transition: all 0.4s ease 0.13333333333333s;
}
.chart-legends .hidden-legends ul li {
  border-top: 1px solid #f8f8f8;
}
.chart-legends .hidden-legends ul li:first-child {
  border-top: none;
}
.chart-legends .hidden-legends ul li:hover {
  background-color: #fcfcfc;
}
.chart-legends .hidden-legends:hover ul {
  opacity: 1;
  filter: alpha(opacity=100);
}
.chart-legends .checked {
  background: url(images/iconography/sponsors-checked.png) no-repeat center center;
}
.ie .chart-legends .hidden-legends ul {
  border: 1px solid #f2f3f5;
}
.minor-nav ul {
  text-align: center;
  border-bottom: 1px solid #e8e9eb;
}
.minor-nav ul li a {
  background-color: #e8e9eb;
  line-height: 35px;
  padding: 11px 30px;
}
.minor-nav ul li a:hover,
.minor-nav ul li a.active {
  background-color: #EC008C;
  color: white;
  text-decoration: none;
}
.sitemgr-pagination.top-pagination {
  border-bottom: none;
}
.table-itemlist .main-options b {
    color:#0072BC;
}

.table-itemlist [class*="status-"] {
    background-color: transparent;
}
.table-itemlist a:hover {
    text-decoration: none;
}
.table-itemlist a:link:hover {
    text-decoration: underline;
}
.table-itemlist .status-pending {
    color: #E4C238;
}
.table-itemlist .status-suspended {
    color: #EA8239;
}
.table-itemlist .status-expired {
    color: #d9534f;
}
.table-itemlist .status-active {
    color: #27ae60;
}

.table-itemlist th {
  background-color: #939496;
  border-bottom: none;
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.table-itemlist tr {
  border: 1px solid #e8e9eb;
}
.table-itemlist tr:nth-child(2n) {
  background-color: #f2f3f5;
}
.table-itemlist .standard-innerTable .tableTitle {
  background-color: #e8e9eb;
  border: 1px solid #e8e9eb;
}
.table-itemlist .standard-innerTable th {
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #e8e9eb;
  color: #3C3C3C;
}
.table-itemlist .standard-innerTable tr {
  background-color: white;
}
.table-itemlist .standard-innerTable td {
  border: 1px solid #e8e9eb;
}
.stars-rating {
  background: url(images/iconography/stars-full.png) repeat-x left center scroll transparent;
  display: inline-block;
  height: 14px;
  width: 78px;
  margin-top: 3px;
  margin-bottom: -2px;
}
.stars-rating [class*="rate-"] {
  height: 13px;
  float: right;
  background: url(images/iconography/stars-empty.png) repeat-x left center scroll #ffffff;
}
.large-rating .stars-rating {
  background: url(images/iconography/large-stars-full.png) repeat-x left center scroll transparent;
  display: inline-block;
  height: 25px;
  width: 110px;
  margin-top: -6.8px;
  margin-bottom: -2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.large-rating .stars-rating [class*="rate-"] {
  height: 25px;
  float: right;
  background: url(images/iconography/large-stars-empty.png) repeat-x left center scroll white;
}
.btn.btn-primary {
  background-color: #0072BC;
  color: #ffffff;
  border-radius: 30px;
  padding:3px 30px;
}
.btn.btn-primary:hover {
  background-color: #006697;
  text-decoration: none;
}
.tooltip {
  background-color:white;
  position:absolute;
  color:black;
  padding:5px 10px;
  border-radius: 5px;
  border:1px solid #ddd;
}

.ie button {
    background: url("images/structure/bg-search-button.gif") repeat-x scroll 0 0 transparent;
  }

.baseButtons {padding-top:20px;}



.icon-ion-ios7-trash-outline,
.icon-edit38,
.icon-ion-ios7-close-empty {
  background: url(images/iconography/icons-image-gallery.png) no-repeat 0 0 transparent;
  height: 27px;
  width: 27px;
  float: left;
}
.icon-edit38 {
  background-position: 0 -29px;
}
.icon-ion-ios7-close-empty {
  background-position: 0 -56px;
}
.content-pills .form-group label {
  font-size: 14px;
}
.panel .panel-heading input[type="file"] {
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  line-height: 1;
}
.template-download {
  background-color: #f2f3f5;
}
.template-download .col-sm-3.pull-right {
  text-align: right;
  padding-top: 20px;
}
.btn-danger.btn-iconic {
  background-color: #d35400;
}
.btn-danger.btn-iconic {
  background-color: #f39c12;
}
#cropSection {
  font-size: 14px;
  color: #2b2b2b;
  background-color: #f8f8f8;
  border: 1px solid #e8e9eb;
}
#cropSection .nav-pills {
  border-bottom: 1px solid #e8e9eb;
}
#cropSection .nav-pills > li > a {
  line-height: 20px;
  margin-bottom: -1px;
}
#cropSection .nav-pills > li.active  > a {
  background-color: #9BC11D;
  color: white;
}
#cropSection .modal-footer {
  text-align: center;
  background-color: rgba(255,255,255,0);
}