/**
* eDirectory - Popups ( Modal boxes )
*
* This style sheet describes the structure and the main components
* about eDirectory's interface
*
* @package			layout
* @filesource		popup.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			April, 17, 2012
*			
* WARNING: Always use the id "#TB_window" as hierarchy for Popup styles.
*/

/* Popups > body */

body
{ background:none !important; }

/* Popups > modal content */

.modal-content
{ background:none; }
	
	.modal-content form span.comment
	{ color:#8A8A8A; }

.modal-content .customInvoice h3
{ color:#636363; }

/** Popups > buttons */

button
{ background:url(images/structure/bg-search-button.gif) repeat-x 0 0; color:#555; text-shadow:1px 1px 1px #FFF; }
	
	button:focus, button:hover
	{ color:#111; }
	
	button:active
	{ color:#111; }
	
/** Popups > deal */

	.deal h1
	{ background:#E5E7E9; }
	
	.deal h2
	{ color:#081C2A; }
	
	.deal h3
	{ color:#081C2A; }
	
	.deal strong
	{ color:#061826; }
	
	
/** Popups > slideshow */

	.slideshow li span
	{ color:#999; }
		
	.slideshow .control
	{ background:#F2F3F4; }

/** Contact form > form > form tags */

	.modal-content .form div .text, .modal-content .form div .textarea
	{ border:1px solid #BBB; }
		
	.modal-content .form div label
	{ color:#636363; }

/** Contact form > form > captcha */
			
	.modal-content .form .captcha img
	{ border:1px solid #B7C0C7; }
		
/** Contact form > form > structure */
	
	.modal-content .form .action
	{ background:#E5E7E9; border-top:1px solid #D0D5D8; }
	