/**
* eDirectory - Print ( All pages )
*			
*/

/* Default left */
@page { margin: 1cm } 


* {
	background-color: transparent;
	color: #000;
	margin:0; 
	padding:0; 
	border:0;
	width: auto;
}

body {
	margin:0; 
	padding:0; 
	font-size: 11pt; 
	color:#000;
	background-color: white;
}

-webkit-print-color-adjust: economy;


/* ------- Pagination */
 
h2 {
	font-size: 14pt;
	page-break-after: avoid;
	page-break-before: avoid;
	page-break-inside: avoid;
}
 
p {
      orphans:3;
      widows:3;
      word-wrap: break-word;
      font-size: 11pt;
  }

ul {
	font-size: 11pt;
}

/*Image*/
img, img a, .more-link a {border:none;}


/* Links */
a:link, a:visited {background: transparent; color:#777; text-decoration:underline;  white-space: inherit;  word-wrap: break-word;}

a[href^="http://"]:after  {content: ""; } 


/*Removing*/
.image-bg, .navbar, .advertisement, #boxNewsletter, #myCarousel, .calendar, .daily-calendar, .twitter-widget, #footer, .view-more, .span3.sidebar, .hidden-phone, 
.facebookConnect, .breadcrumb, .tabs.nav.nav-tabs, .bottom-pagination-listing, .visible-phone, .custom-select-listing, #content_video + .row-fluid,.btn-review , .rate, 
.span4.text-right, .galleria-thumbnails-container , .review-item .review-bottom, .content-social-box, .fancy_window_tofriend, .share-social, .content-social-box, 
.pnt-0, .detail-navbar, .post-comments, .contact-form, .top-reviews, #all_reviews, .span4.big-rating, .sidebar-filters, .filter-sidebar, .i-top-rated, .i-top-deal, .i-top-review,
#footer-wrapper,.thumbnails h2 .pull-right , .thumbnails .btn-small, .three-columns h2 a, .tabs, .top-locations, .top-categories, .pagination, .hidden-desktop,
.downloadmenu
{
	display:none !important;
}
.three-columns img {
	width: 3cm; height: auto;
}
.three-columns .top-review ul {margin:0;}
.list-home li {
	width: 3cm;
}
.thumbnails h2, .list-home h2, .helpful-reviews h2 {
	border:none;
	font-size: 16pt;
	color: black;
	box-shadow: none;
}

.thumbnails li {
	page-break-inside: avoid;
}

h5 a:link[href^="http://"]:after,  [class*="flex-box"] aside.span8 a:after {content: " (" attr(href) ") ";  clear:both; color:#ccc; word-wrap: break-word;}

.item-preview h5 a:link[href^="http://"]:after {content: "";}

.container-fluid > .row-fluid > .span4,
.container-fluid > .row-fluid > .span8
{ width: 100%; float: none}

.three-columns .thumbnail img, .summary-image .image > img {
	width: 7cm; margin-right: 0.5cm
}

.well.container {
	border: none;
}


/*Results Page*/

.summary, .summary-small {
	page-break-inside: avoid;
	border:none;
	border-bottom: 1px solid #000;
}

.sidebar-filters, .visible-phone, .tabview-results, #return_filter, .summary .line-footer {
	display: none;
}


/*Detail Page*/
#galleria {
	height: 130px !important;
}
#map {
	border:none;width: 100%;
	page-break-before: avoid;
	page-break-inside: avoid;
}

.middle-info .span6 {
	width: 7cm; float:left; margin-right:1cm;
}
.middle-info .span6 {
	width:auto;
}
.well-top, .span7 .well-small{
	width: 7cm; margin-left:15px; border:none;
}
.review-item .review-bottom, .content-social-box, .fancy_window_tofriend, .share-social {
	display: none;
}

.responsive-detail > .row-fluid > .span8 {
	width: 65.81196581196582%;
	float: left;
}
.responsive-detail > .row-fluid > .span4 {
	float: left;
	width: 31.623931623931625%;
	margin-left: 2.564102564102564%;
}

.sidebar .map {
	width: 8cm;
	height: 5cm;
	page-break-inside: avoid;
}