/**
* eDirectory - Content Custom ( Dynamic content )
*
* @package			layout
* @filesource		content_custom.css
* @author			Arca Solutions
* @copyright		Copyright (c) 2009, Arca Solutions Inc.
* @version			eDirectory 9.3
* @since			October, 17, 2011
*			
*/
.content-full {clear:both;}

.content-custom {clear:both; margin:0 auto 30px; }

.content-custom ol {list-style: decimal}
.content-custom ul {list-style: disc;}

.content-custom ol,  .content-custom ul {line-height:17px; margin:10px 0 10px 20px;}

.content-custom h1, 
.content-custom h2, 
.content-custom h3, 
.content-custom h4, 
.content-custom h5, 
.content-custom h6
{ color:#353535; background:none; border:none;}



.content-custom h1 {font-size:2em; line-height: 2.2em; font-weight: bold; }
.content-custom h2 {font-size:1.8em; line-height: 2em; font-weight: bold;}
.content-custom h3 {font-size:1.6em; line-height: 1.8em; font-weight: bold;} 
.content-custom h4 {font-size:1.4em; line-height: 1.6em; font-weight: bold;} 
.content-custom h5 {font-size:1.2em; line-height: 1.4em;}
.content-custom h6 {font-size:1em; line-height: 1.4em; text-transform: uppercase;}

.content-custom p {line-height:1.4em;}

.content-general .content-main .content-custom  h2 {border:none;}

.flex-box .content-custom {margin:10px 0 0;}
.flex-box .content-custom h2, .flex-box .content-custom h3 {padding:0 10px;}

.content-custom.cont_100 {
	h2 {
		margin-top:30px;
	}
	h2, h3 {
		clear:both;
		display:block;
		padding:0;
	}
}

section .content-custom {
	margin-left:15px;
}