/**
* eDirectory - Home Page ( Modules )
*
* @package			layout
* @filesource		front.css
* @author			Arca Solutions
*			
*/


/* Deal Fix*/
.ie .btn.span12.btn-success {line-height:33px;padding:2px 0;}


/*Filters*/
.sidebar-browseby .item-select {display:block;}


/* Title */
.span4 > .row-fluid.flex-box-title h2 {padding-top:0; line-height: 14px;}

.span8 > .row-fluid.flex-box-title h2 {padding-top: 0;line-height: 14px;}



/* #Responsive
*/
@media (min-width: 980px) {

	//Box height

	.row-fluid .span4.flex-box {min-height:327px;}

	.span8 .row-fluid .span6.flex-box section {min-height:178px;}
	.span8 .row-fluid .span6.flex-box-dashed section {min-height:67px;}

	.span8 .row-fluid .flex-box.row-fluid .span12 section {padding-bottom:0;}
	.span8 .row-fluid .flex-box.row-fluid .span12 time {padding-bottom:3px;}


//
	.btn.span12.btn-success {width:101%;}
	.span3 .btn.span12.btn-success {width:100%;}


	.oneline {
	    overflow:hidden;
	    white-space:nowrap;
	    text-overflow:ellipsis;
	    max-width: 100%;
	    display:block;
	}

}

@media (min-width: 768px) and (max-width: 979px) {
	
.flex-box-group .item-preview aside .no-image { height: 28px !important; min-height: 28px;}

.flex-box aside span.no-image {min-height:89px;}

.flex-box section aside { padding-bottom: 0;}

.flex-box.span6 > a > .no-image { height: 93px;}

.flex-box .span12 > aside.span8 > a > span.no-image { height: 167px;}

.sidebar-browseby .item-select {display:block;}


.span9 .span4.flex-box .no-image { height: 70px;}
.flex-box .span12 > aside.span8 > a > span.no-image {height:144px;}

.span8.flex-box section aside .no-image {height:90px;}



}

@media (max-width: 767px) {
.no-image {background:none!important;height:0 !important; min-height:0;}
.span8.flex-box section aside .no-image{min-height:90px;}
.flex-box .span12 > aside > a > span.no-image {background:none; min-height:0px; height:0px!important;}
.flex-box aside span {display:block;position:inherit;background-color:#222;}

.sidebar-browseby .item-select {display:none;}

[class*="flex-box"] .price-tag {
	display:block;
	float:none;
}

	/* #Search*/
		.row-fluid.box-order{
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
			display: -ms-flexbox;      /* TWEENER - IE 10 */ 
			-moz-box-orient:vertical;
			-webkit-box-orient:vertical;
			display: -ms-flexbox;       
			-ms-flex-flow: column;          
		}
		
		.box-order .order-1 {
			-webkit-box-ordinal-group: 1;   
			-moz-box-ordinal-group: 1;      
			-ms-flex-order:1;              
			-webkit-order:1;               
			order: 1;                       
		}
		
		.box-order .order-2 {
			-webkit-box-ordinal-group: 2;  
			-moz-box-ordinal-group: 2;     
			-ms-flex-order: 2;     
			-webkit-order: 2;  
			order: 2;
		}
		.box-order .order-3{
			-webkit-box-ordinal-group:3;  
			-moz-box-ordinal-group: 3;     
			-ms-flex-order: 3;     
			-webkit-order: 3;  
			order: 3;
		}

   
}


@media (max-width: 480px) {	  
    .span8.flex-box section aside .no-image {display:none;}
    .flex-box section aside {width:100%;}
    
}