/**
* eDirectory - Print ( All pages )
*			
*/

/* Default left */
@page { margin: 1cm } 


* {
	background-color: transparent;
	color: #000;
	margin:0; 
	padding:0; 
	border:0;
	width: auto;
}

body {
	margin:0; 
	padding:0; 
	font-size: 11pt; 
	color:#000;
	background-color: white;
}

-webkit-print-color-adjust: economy;


/* ------- Pagination */
 
h2 {
	font-size: 14pt;
	page-break-after: avoid;
	page-break-before: avoid;
	page-break-inside: avoid;
}
 
p {
      orphans:3;
      widows:3;
      word-wrap: break-word;
      font-size: 11pt;
  }

ul {
	font-size: 11pt;
}

/*Image*/
img, img a, .more-link a {border:none;}


/* Links */
a:link, a:visited {background: transparent; color:#777; text-decoration:underline;  white-space: inherit;  word-wrap: break-word;}

a[href^="http://"]:after  {content: ""; } 


/*Removing*/
.image-bg, .navbar, .advertisement, #boxNewsletter, #myCarousel, .calendar, .daily-calendar, .twitter-widget, #footer, .view-more, .span3.sidebar, .hidden-phone, 
.facebookConnect, .breadcrumb, .tabs.nav.nav-tabs, .bottom-pagination-listing, .visible-phone, .custom-select-listing, #content_video + .row-fluid,.btn-review , .rate, 
.span4.text-right, .galleria-thumbnails-container , .review-item .review-bottom, .content-social-box, .fancy_window_tofriend, .share-social, .content-social-box, 
.pnt-0, .detail-navbar, .post-comments, .contact-form, .fb-like-box , .pagination
{
	display:none !important;
}

[class*="flex-box"] {
	border: none;
	float: none;
	page-break-inside: avoid;
 }

[class*="flex-box"] h2 {
	border: none;
	font-size: 16pt;
 }

 [class*="flex-box"] aside, [class*="flex-box"] aside.span8{
 	float: none; clear: both; width: auto;
 }

 [class*="flex-box"] aside img, .post-summary img{
 	width: 10cm;
 }

 [class*="flex-box"] aside.span8 a span {
 	float: none; position: relative; text-align: left;padding-top: 0.3cm;
 }

[class*="flex-box"] h5 {
 	display: block;
 }


h5 a:link[href^="http://"]:after,  [class*="flex-box"] aside.span8 a:after {content: " (" attr(href) ") ";  clear:both; color:#ccc; word-wrap: break-word;}

.item-preview h5 a:link[href^="http://"]:after {content: "";}

.container-fluid > .row-fluid > .span4,
.container-fluid > .row-fluid > .span8
{ width: 100%; float: none}


/*Results Page*/

.summary, .summary-small {
	page-break-inside: avoid;
	border:none;
	border-bottom: 1px solid #000;
}

.sidebar-filters, .visible-phone, .tabview-results, #return_filter, .summary .line-footer {
	display: none;
}


/*Detail Page*/
#galleria {
	height: 130px !important;
}
#map {
	border:none;width: 100%;
	page-break-before: avoid;
	page-break-inside: avoid;
}

.middle-info .span7 {
	width: 10cm; float:left; margin-right:1cm;
}
.middle-info .span5 {
	width:auto;
}
.well-top, .span7 .well-small{
	width: 7cm; margin-left:15px; border:none;
}
.responsive-detail > .row-fluid > .span8 {
	width: 65.81196581196582%;
	float: left;
}
.responsive-detail > .row-fluid > .span4 {
	float: left;
	width: 31.623931623931625%;
	margin-left: 2.564102564102564%;
}