.flex-box,
.flex-box-group {
  border: none;
}
.flex-box h2,
.flex-box-group h2 {
  padding: 10px 0 0;
}
.flex-box .blog-item .item,
.flex-box-group .blog-item .item {
  display: block;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #dee1e3;
  padding: 20px 0;
}
.flex-box .blog-item .item h3,
.flex-box-group .blog-item .item h3 {
  font-size: 1em;
  line-height: 1.2em;
}
.flex-box .blog-item .item h3 a,
.flex-box-group .blog-item .item h3 a {
  color: #3d3d3d;
}
.flex-box .blog-item .item h3 a:hover,
.flex-box-group .blog-item .item h3 a:hover {
  color: #6ab0de;
}
.flex-box .blog-item .item p,
.flex-box-group .blog-item .item p {
  font-size: 0.9em;
}
.flex-box .blog-item .item:first-child,
.flex-box-group .blog-item .item:first-child {
  border: none;
}
.flex-box .blog-item-members .image,
.flex-box-group .blog-item-members .image {
  float: left;
  width: 55px;
  height: 55px;
  margin-right: 10px;
}
.flex-box .blog-item-members .image .no-image,
.flex-box-group .blog-item-members .image .no-image {
  background-image: url(images/iconography/icon-user-thumb.gif);
  border: 1px solid #dee1e3;
  background-size: 100%;
}
.post-summary time {
  color: #939496;
  font-size: 1.2em;
  line-height: 2em;
  text-align: center;
  white-space: nowrap;
}
.post-summary time b {
  font-size: 1.6em;
  display: block;
  text-align: center;
}
.post-summary time em {
  font-weight: 300;
}
.post-summary section h2 {
  font-size: 2em;
  line-height: 1em;
  padding-bottom: 11px;
}
.post-summary section h2 a {
  color: #3d3d3d;
}
.post-summary section h2 a:hover {
  color: #2980b9;
}
.post-summary section img {
  width: 100%;
  margin-top: 11px;
}
.post-summary section .posts {
  line-height: 1.4em;
  font-size: .9em;
  margin: 21px 0;
}
.post-summary section footer {
  background: url(images/iconography/comments.png) no-repeat left top transparent;
  padding-left: 30px;
  width: 100%;
  float: left;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #dee1e3;
  padding-bottom: 11px;
}
.post-summary section footer small a {
  color: #3d3d3d;
}
.post-summary section footer small a:hover {
  color: #939496;
}
.post-results .post-summary .image {
  width: 30%;
  float: left;
  margin: 15px 20px 10px 0;
}
.results-per-page {
  float: left;
}
.responsive-blog .tabview-results {
  clear: none;
  float: right;
  width: 180px;
}
.results-info {
  float: none;
  margin-bottom: 10px;
}
.results-info .search-info {
  margin: 0;
  float: right;
  font-weight: normal;
}
.results-info .search-info p {
  font-size: 0.9em;
  margin-top: 6px;
}
.blog-top-info {
  border-bottom: 1px solid #dee1e3;
  margin-bottom: 10px;
}
.blog-top-info h3 {
  line-height: 1.4em;
}
.blog-top-info time {
  font-size: 0.9em;
  display: block;
  margin: 5px 0 10px 0;
}
.blog-content p {
  font-size: .9em;
  line-height: 1.4em;
}
.contact-form {
  float: left;
}
.contact-form textarea {
  width: 100%;
}
.contact-form form {
  margin: 10px 0;
}
.post-comments {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
.post-comments h2 {
  padding: 20px 0;
}
.post-comments .comments-list .comment {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0;
  clear: both;
}
.post-comments .comments-list .comment .image {
  float: left;
  margin-right: 10px;
}
.post-comments .comments-list .comment .image img {
  max-width: 60px;
  max-height: 60px;
}
.post-comments .comments-list .comment .image .no-image {
  background-size: 100%;
  background-color: transparent;
}
.post-comments .comments-list .reply {
  width: 55%;
  margin: 25px 0 0 40px;
  float: left;
  padding: 0;
  clear: both;
}
.blog-image .image-caption strong {
  font-size: 1em;
}
#accordion {
  margin-top: 20px;
  float: left;
  width: 100%;
  clear: both;
  border-bottom: 1px solid #dee1e3;
}
#accordion .accordion-item {
  border-top: 1px solid #dee1e3;
  position: relative;
}
#accordion .accordion-item h3 {
  background: url(images/iconography/bg-accordion-trigger.png) no-repeat 99% 15px transparent;
  font-size: 1em;
  line-height: 1em;
  padding: 10px;
}
#accordion .accordion-item h3 a {
  color: #3d3d3d;
}
#accordion .accordion-item.active h3 {
  background-position: 99% -10px;
}
#accordion .accordion-item ul {
  margin: 0 0 10px 20px;
}
#accordion .accordion-item .list li {
  display: block;
  font-size: 0.9em;
}
