/**
* eDirectory - Members Section

*/
//Activation Message
.footer-message + .span4 {
	margin-left: 0;
}
.well > .container-fluid {padding-top:30px;padding-bottom:30px;}

/* #Orders Page*/
.order > div.blockcontinue {margin: 20px 0 0;  width: 95%}                                  
.select-country {width:55%!important;}  


/* #Tables*/
.order .standard-table th {width: 25%;}

.profile-tabs {
	margin-top:10px;
	clear: both;
}


/*Payment Method*/
select.payment-cardtype ,
select.payment-state {
	width:309px;
}

select.payment-datemonth,
select.payment-dateyear {
	width:153px;
}

.standard-table[class*="payment-"] input{
	max-width:300px; width: 55%;;
}

.standard-table[class*="payment-"] select {
	max-width:300px; width: 55%;
}

/*Claim*/
#check_out_payment {
	label {display:inline-block;margin-left:10px;}
}
/* Form and Inputs*/
form { clear: both; margin: 10px 0;}
table {clear:both; margin: 0 auto;}
.table-pricing {margin:0;}

[class*="standard-table"] input.httpInput { width: 43.8%;}
.input-dd-form-banner {width:55%!important;}
.content-full [class*="standard-table"] input.httpInput { width: 41%;}
[class*="standard-table"] .inputCheckBulk {width:20px;}
.httpSelect {width:80px;}
.member-form .cont_100 > input.input-httpSelect {width:81.7%;}
.select {width:63.5%;}
.content-full .select {width: 60%;}

.width100 .input-button-form + span {float:left; clear:both; width:100%; margin:10px;}
.width100 .input-button-form {margin:10px auto;float:left;}

.member-form {
	.btAdd {
		margin:30px auto;
		text-align: center;
	}
	#image_fb img {
		width: 130px;
		height: 130px;
		float: right;
		border:1px solid #ddd;
	}
}

/* #Gallery*/
.Full ul li{
	float: left;
    margin: 0 0 20px 5.2%;
    padding: 10px 1%;
    width: 40%;
}

.Full ul li a {
	float:right;
	padding:1px 5px;
	margin:8px 0 0 15px;
	font-size:9px;
}

.content-full .Full ul li a {clear:right;font-size:10px;}

.Full .galleryImgThumb {
	float:left;
	max-width:256px;
}

.ie .Full .galleryImgThumb {width:248px;}

.standard-table .galleryImgThumb {margin:0; padding:0;}

/* Preview*/
.previewmember .well-small { width: 94%;}

.summary-image .no-link img {
    display: block;
    float: left;
    margin: 10px 10px 0 0;
}
.review-item {
	.review-top {
		img {margin:0 10px 10px 0;}
	}
}
/*Buttons*/

.baseButtons {width:100%; clear:both; text-align:center;}
.baseButtons.floatButtons  .standardButton {width:100%; float:none;}

/*#Report Screen*/
#reportChart {max-width:610px;}

/* #Standard Table*/

[class*="standard-table"] { 
	width: 100%; 
	margin: 10px 0 20px;
	vertical-align:middle;
	font-size: 0.9em;
	th{ 
		padding: 7px 1px;
		&.Full {
			border-bottom:1px solid transparent;
		}

	}
	td{ 
		padding: 5px 3px;
	}
}

.standard-table span {color:#999; clear:both; display:block; font-size:1em; line-height: 1.5em;} 
.standard-table span.categorySuccessMessage {color:#2980B9; clear:none; display:inline;} 

.standard-table .banner-section-type span {color:#333;}
.standard-table .center-line span {clear:none; display:inline;}

.ie .packageEditor {max-width:620px; width:620px; overflow:auto;}

/* #Standard Table Items*/

[class*="standard-table"] input, [class*="standard-table"] select, .standardSIGNUPTable select {margin:0;font-size: 13px;}
[class*="standard-table"] textarea { width:55%; clear:both; margin:0; height:100px;}
.help-page [class*="standard-table"] textarea { margin:0;}
.ie [class*="standard-table"] select {padding:4px;}
[class*="standard-table"] a {cursor:pointer;}
[class*="standard-table"] i span,[class*="standard-table"] .standard-tabletitle i span {display:none!important}
[class*="standard-table"] .width100 {padding:10px 4% 10px}
[class*="standard-table"] .columnFile span {display:block; clear:both;}
[class*="standard-table"] .videoSnippetInput + span {float:left; width:100%;}
[class*="standard-table"] .textcounter {  background-color: transparent; border: medium none; box-shadow: none;  margin: 7px 2px 0 7px; padding:0; width: 31px; vertical-align: baseline;}


/* Only Standard-table*/
.standard-table {
	th {
		width:20%; 
		text-align:right; 
	}
	td{
		max-width: 400px; 
		overflow: hidden;  
		padding: 10px;  
		text-align: left; 
		white-space: inherit;
		&.sample {
			width: 300px;
		}
	}
	&.tableTOPBLUECheck th {
		text-align:center; 
		width:30px;
	}
	&.center-line {
		text-align:center;
	}
	.bigger { 
		th, th {
			padding:10px 5px; 
			font-size:18px; 
			font-weight:600;
		}
		td span { 
			font-size:11px; 
			font-weight:normal;
		}
		input { 
			font-size: 14px;
			width: 55%;
		}
	}
	input[type="radio"], input[type="checkbox"] {
		margin: 0 3px 3px;
		vertical-align: middle;
		width: auto;
	}
}


.standard-table th.standard-tabletitle {width:100%;}
.standard-table input { width: 55%;margin-right: 2%;}
.standard-table input[type="file"] {
	width: 53.5%;
	margin-right: 2%;
	clear: both;
	padding: 5px;
	height: 22px;
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}

.standard-table table span {clear:both; margin-left:5px; display:block;}
.standard-table table td { display:inline-block;}
.standard-table table td.mceToolbar, .standard-table .mceToolbar td { display:table-cell;}
.standard-table table th { width:auto;}



.standard-table .tableCategoriesADDED td {max-width: none;}
.standard-table th input[type="checkbox"], .order .standard-table th input[type="checkbox"] { clear: none; float: none; margin: 2px 0 0; width: 15px;}

.standard-table.nomargin .banner-section-type span { font-size: 12px;  margin-right: 4px; vertical-align: top; display:inline;}
.standard-table.nomargin  span {display: block;}

.tableCategoriesADDED th, .standard-table th.table-subtitle {text-align:left;text-indent:10px;}

/* # Table Column and Table Box Small*/
.table-column {
		.table-box-small {
			table {
				width:100%;
			}
			th {
				width:35%;
			}
			td {
				width:65%;
				label {
					float:left; 
					width:80px;
				}
			}
			input, td strong {
				float: left;
			}
			strong { 
				margin:3px 5px 0 0;
			}
			.center-info  {
				width: 100%;
				margin: 0 0 0 100%;
				.inputCheck {
					margin:3px 10px 0 0;
				}
				label {
					width: auto;
					display: block;
					vertical-align: middle;
					clear: both;
					margin-bottom: 10px;
				}
			}
		}
		.table-box {
			select {
				min-width:80px;
			}
		}
	}  

.ie .table-column .table-box-small .center-info input  {margin-left:200px;}

/*# Table Reports*/
.standard-tableTOPBLUE .table-report{ text-align:left; font-weight: normal;padding-left:10px;line-height:22px;}
.standard-table .tableOption {
	text-align: left;
	text-indent: 14px;
}

/*Table Recurrent Event*/
.eventRec table {margin:0;}

/*Banner section type*/
.standard-table.nomargin .banner-section-type span {clear:both; display:block;}

/*Table mce toolbar and Edit*/
table .defaultSkin table.mceToolbar { margin-left: 0;}
table .defaultSkin .mceButton {margin-right:0;}
td.mceToolbar {max-width:none; overflow:visible;}
td.mceToolbar span {font-size: 10px;  clear: none; display: block;  margin-left: 0;}
td.mceToolbar .mceToolbar tr {white-space:normal;background-color:transparent;}
table .defaultSkin table.mceLayout tr.mceFirst td {border-top: none;}
table .defaultSkin table.mceLayout {border-top:1px solid #ccc;}
.mceLast {border:none;}
td.mceIframeContainer {border:1px solid #ddd; max-width:none;}
.mceIframeContainer.mceFirst.mceLast {width: 100%;}
table .defaultSkin iframe {height:300px !important;}
/* #Table levelTable*/
.levelTable {margin-top: 20px; width: 100%;}
.levelTable th, .levelTable td{padding:8px;}

/* #Table PaymentMethods*/
.paymentMethods tr { float: left; max-width: 900px; height:60px; overflow: auto; white-space: nowrap; word-wrap:break-word;}

.ie .paymentMethods tr {white-space: normal;}

.order .standard-table i {font-style: normal; font-size:14px;}

.orderPayment {}
/* Table Choose Level*/
.standardChooseLevel {input[type="radio"] {width:auto;}}

.levelTable th.listingLevel  {text-align:right;}
.levelTable .standardChooseLevel td { text-align: left; }

/*Table tabs*/
table.standard-table.members-table {margin: 0 0 -6px;}

/*#Table Width 100 Fix*/
.alignTop.width100 input {width:auto!important;padding:0 20px!important;}

/*Table CustomInvoice*/
.customInvoice .standard-tableTOPBLUE  {font-size:11px; width:96%; margin:10px auto;}
.customInvoice .standard-tableTOPBLUE th, .customInvoice .standard-tableTOPBLUE td  {text-align:left; }
.customInvoice h3 {margin-left:10px;}

/* #Reviews*/
.featured.featured-review {padding-top:20px;}

/* #Members Structure > General*/

img 
{ display:inline-block; }

h2 span.complementaryInfo
{ float:right; }

.noPadding
{ padding:0 !important; }

.noMargin
{ margin:0 !important; }

table.noMargin
{ margin:0 auto !important; }

#reccuring_ends table.noMargin td {width:100%;}

.eventRec > label, #amount_monetary  {  display: inline;}

.table-column, .columnFile, .center-line {border-right:1px solid #ddd;}

.noBackground
{ background:none !important; }

.noBorder
{ border:none !important; }


/* Members Structure > Misc */

.content-faq {
	.search button {
		margin-bottom:10px;
	}
}

table.standard-table td span.required
{ color:#F00; }
	.baseForm
	{ clear:both; text-align:center; }
	
		.baseForm form
		{ display:inline; }
		
	a.standardLINK,
	a.standardLINK:visited
	{ line-height:50px; }

		a.standardLINK:hover
		{ text-decoration:underline; }
	
	#main-right .list-view li span.ratings
	{ background:url(../../images/img_rateMiniStarOn.png) 187px 0 no-repeat; }

	.standard-iconDESCRIPTION li.rating-icon
	{ background:url(../../images/img_rateMiniStarOn.png) no-repeat 0 50%; }
	
	.progressBar 
	{ float:inherit; padding:10px 100px 10px 220px; }
	

.browserMessage
{ background:#FBF1BB; border-bottom:1px solid #CEC48D; }

	.browserMessage .wrapper
	{ font-size:14px; font-weight:bold; padding:10px 0; text-align:center; } 

.featured-review .info .reply
{ background:url(images/structure/bg-reply.gif) no-repeat left bottom; border-left:1px solid #C8CED2; margin:15px 0 0; padding:0 0 0 20px; }

	.featured-review .info .reply p
	{ font-style:italic; }
	

#navbar-wrapper, .wrapper .holderFixes #navbar-wrapper
{ position:relative; }


/* Members Structure > Listing > Google Map */

div.googleBase
{ background:#E5E3DF; border:1px solid #BAB5A9 !important; height:400px; margin:auto; width:491px; z-index:1; }

/* Members Structure > Misc > Tip Base */

.tip-base {  
	background-color:#fcf8e3; 
	border:1px solid #fbeed5; 
	color:#c09853;
	padding:20px 20px 10px; 
	text-align:center; 
	text-align:left;
}

.tip-base p {
	color:#c09853;
}

	.tip-base h1
	{ font-size:14px; font-weight:bold; text-transform:uppercase; }

	


/* Payment Button */

p.standardButton.paymentButton, .claimButton { margin:30px auto 0; width:100%;float: left; }

/* Map Tunning Button */

p.mapTunningButton 
{ float:left; margin:0 auto 0 5px; width:32%; }

	p.mapTunningButton button
	{ font-size:12px; width:100%; }




/* Step Order */

.standardForm 
{ padding:0 !important; }

	.standardForm tr 
	{ margin-bottom:15px; }
	
	.standardForm th.wrapcaption 
	{ color:#636363; font-weight:normal; padding:15px 0 0 10px; text-align:right; width:165px; }
	
	.standardForm td 
	{ text-align:center; }
	
	.standardForm td.TaddImagetxt 
	{ color:#636363; font-size:12px; font-weight:bold; line-height:30px; text-align:left; width:510px; }
	
	.standardForm td.TaddPreviewtxt 
	{ width:190px; }
	
	.standardForm td.TimageFile 
	{ color:#636363; font-size:12px; font-weight:normal; line-height:20px; padding-right:5px; text-align:left; }
	
	.standardForm td.IimageFile 
	{ text-align:left; }
	
	input[type="hidden"] {display:none; opacity:0;}
	
	.standardForm td.IimageFile  .inputExplode  {
	background-color: #fcfcfc;padding: 0 7px 0 3px;font-size:13px;border: 1px solid #ddd;}
	
	.standardForm td.TaddImage 
	{ text-align:left; width:330px; }
	
	.standardForm td.wrapcaption
	{ padding:15px 0 0 10px; text-align:left; width:410px; }
	
		.standardForm td.wrapcaption .inputExplode
		{ border:1px solid #AAA; border-bottom:1px solid #DDD; border-right:1px solid #DDD; color:#636363; padding:2px; width:392px !important; }	
	
	.standardForm td.TaddPreview 
	{ vertical-align:top; width:345px; }
	
		.standardForm td.TaddPreview div
		{ border:3px solid #D0D5D8 !important; }

		.standardForm td .input-button-form
		{ margin:10px 0 0 0; }
		
		.standardForm td #imgThumb 
		{ float:none; margin:0 0 15px; padding:0; }



/*FAQ*/
.faq-search {
	input.span5 { 
		width:46%;
	}
	h4.span5 { 
		width:36%;
	}

}
	

/* Fix Article Editor */

table.standard-table .mceToolbar td
{ width:auto; }

/* Deal Form */

#dinamic_facebooked .facebookRedeem, #dinamic_facebooked .twitterRedeem
{ text-align:center; width:10px; }

/* Box Step 

	
.extendedContent.membersExtendedContent > img {  float: left;   margin: 0 20px 10px 0;}
.extendedContent.membersExtendedContent .content-custom {float:none; clear:right;}
.sugarFirstStep, .sugarSecondStep, .sugarThirdStep 	{float:left; height:150px; padding:10px; width:30%; }

.stepsBox textarea, .stepsBox input	{width:96%; }
.stepsBox textarea	{width:96%; height:100px}

.stepsBox .standardButton {display:block;}

/* Editor */

table.standard-table td table.mceToolbar 
{ float:none; }


/* #MEMBERS STRUCTURE > TABLE ARROW MANAGE */
	
.arrow-manage th a {margin-left:5px;}

	
/* MEMBERS Manage Account Form */
.member-form {
	float:left; 
	clear:both;
	form {
		> div {
			clear:both;
			> div {
				width:100%;
				float:left; 
				clear:both;
			}
		}
	}
	.right {
		padding:45px 1% 0 2%; 
		width: 67%; 
		min-height:75px; 
		float:right;
	}
	.left {
		padding:0 2% 5px 2%;
		width:25%; 
		border:none;
		float:left;
		a {
			vertical-align: top;
			line-height: 20px;
		}
		h2 { 
			margin-bottom: 7px; 
			border:none; 
			text-transform:capitalize;
		}
	}	
	label { 
		width:100%;
		float:left;
		white-space:pre-wrap; 
		word-break: break-all; 
		> a {
			display:none;
		}
		> em{
			margin-left:10px;
		}
	}	
    textarea {width:98%;height:100px;}
    
    .cont_50 {
    	> input { 
    		width: 90%;
    	}
    }
    .cont_100 {
    	> input { width: 95%;}
    	input[type="radio"] {width:15px;}
    }
    .cont_30 { 
    	width: 33%;
    	input {width:88%;}
    }    		
	.cont_checkbox {
		width:100%; 
		margin:5px 0; 
		clear:both;
		input{
			clear: left;
			float: left;
			margin:1px 8px 0 0;
			width:15px; 
			height:15px;
			padding:0;
		}
		label{
			width:auto;
			clear:right;
		}
	}
	.checking input {
		width:45%;vertical-align: inherit;
	}
	.alignIMGtxt {
		margin-left: 3px;
	}
}	
	.checking {
		label {
			float: right; 
			margin-top: 4px; 
		}
		img {
			margin:-4px 5px 0 0;
		}
		.positive {
			color:#27ae60;
		}
		.negative {
			color:#c0392b;
		}
	}

	#loadingEmail {width:15px; height:15px;}

	
	#personal-info div.right {min-height:280px;}
	#change-email div.right {min-height:40px;}
	#locationPrefs div.right {min-height:110px;}
	#form-action p.standardButton button{margin-left:10px;}
	
	.hiddenFile-box span.hiddenFile button {width:130px}

	a.remove { width:12px; height:12px; position:absolute; top:-5px; right:-5px;}
	
	
 .members .standard-tableTOPBLUE .review-status {padding:0!important;}

/* DASHBOARD 2014 */

.webitem {
	margin-bottom:10px;
	.title b {
		max-width:210px;
		display: inline-block;
		padding-bottom:3px;
	}
	.desc {
		padding:10px 20px 10px 10px;
		.status {			
			float:right;
			height: 35px;
			margin-right: -6px;
    		width: 50px;
    		white-space: nowrap;
		}
	}
	.action {
		padding:2px 10px;
		a {
			margin-right: 10px;
		}
	}
}	

.addcontent {
	margin:20px 0;
	> p{
		padding:20px;
	}
	> ul {
		padding:10px 20px;
		li {
			padding:0 0 5px 0;
		}
	}
}

.dashboard {
	header {
		padding:20px 20px 15px 25px;
		clear: both;
    	min-height: 45px;
		.btn {
			float:right;
			line-height:30px;
		}		
		p {
			display:inline-block;
		}
	}
	section {
		padding:15px 20px 15px 25px;
		&:last-child {
			padding-bottom:25px;
		}
		&.stats-summary {
			.row-fluid {
				margin:32px 0 20px 0;
				> div {
					padding-left:15px;
					&:first-child {
						padding-left:0;
					}
					p {
						.alert-new {							
							margin-left: 5px;
    						min-width: 11px;
							padding:4px 3px;
							position: absolute;
							text-align: center;
						}
					}
				}
			}
		}
		&.reviews-list {
			.head {
				margin:22px 0 0 0;
			}			
		}
	}
	.item-review {
		margin-bottom: 5px;
		.review-summary {
			padding:13px;
			b, span {
				display:inline-block;
				max-width: 180px;
				overflow: hidden;
				text-overflow:ellipsis;
				vertical-align: middle;
				white-space: nowrap;
				padding-right:5px;
			}
		}
		.review-detail {
			padding:13px;
			img {
				width:50px;
				height:50px;
				padding:4px;
				margin-right:13px;
				float:left;
			}
			q {
				clear:both;
				display:block;
			}
			.review-text {
				margin:15px 0 7px 0;				
			}
			.review-reply {
				margin:10px 20px 10px 40px;
				span {
					display:block;
				}
			}
			.replythis {
				textarea {
					width:98%;
					height:100px;
				}
				label p {margin-bottom:10px;}
			}
		}		
	}
	.game-completion {
		.completion-chart {
			float:left;
			width:25%;
			margin-left:40px;
			position: relative;
			span {
				position: absolute;
				right:23px;
				top:24px;
			}
		}
		.large-step {				
			float:right;
			padding: 5px 0;
			width:50%;
			span {
				display:block;
			}
		}

	}
	.stats-complete {
		h2 {
			margin-bottom:20px;
			display: inline-block;
		}
		canvas {
			margin-left:-12px;
		}
	}
}

.chart-legends {
	
	> ul {
		display:inline-block;
		li {
			display:inline-block;
			margin-right:15px;	
		}
	}
	b {
		width:10px;
		height:10px;
		display: inline-block;
		margin: 0 5px;
	}	
	i.checked {
		height: 15px;
	    left: 5px;
	    position: absolute;
	    top: 6px;
	    width: 15px;
	}
	span {
		margin:0 10px 10px;
		display:inline-block;
		&:hover {
			cursor: pointer;
		}
	}
	.hidden-legends {
		display: inline-block;
		&:hover {
			ul {
				display: block;		
				z-index: 1000;		
			}
		}
		ul {
			position: absolute;
			z-index: -1;
			li {
				padding:2px 40px 2px 20px;
				position: relative;
			}
		}
	}
}
#controlLegend i.checked {
  display:none;
}
.minor-nav	{
	ul {
		text-align: center;
		li {
			display:inline;
		}
	}
}


/* TABLE ITEM LIST*/
.table-itemlist {
	border-collapse: collapse;
	padding:0;
	margin:0 0 10px 0;
	width:100%;	
	float:left;
	clear:both;
	text-align:left;
	th {
		padding:8px;
		white-space: nowrap;	
		text-align:left;
	}
	td {
		padding:9px;
	}
}

/*Order*/

.package {
	.membersExtendedContent {
		> img {
			float:left;
			margin-right:30px;
		}
	}
	.content-custom {
		clear:right;
	}
	.standardSubTitle {
		padding-top:20px;
	}
}

.backlink {
	img {
		margin-right:30px;
	}
}

/* List General Item */
.general-item {
	strong {
		width:170px;
		padding: 6px 10px;
		display:inline-block;
		text-align: right;
	}
}

/*Payment Options*/
.payment-options {
	width:100%;
	clear:both;
	div {
		float:left;
		vertical-align: middle;
		padding:10px;
		margin-right:10px;
		min-width:200px;
	}
	input[type="radio"] {
		float:left;
		margin:2px 10px -3px 0;
	}
}

/*Content Custom*/
.members .content-custom {
	margin:30px auto;
}

.IimageFile .inputExplode{
	width: 300px;
	height: 30px;
	padding:4px;
}

/* Image Gallery*/
.panel {
	width: 100%;
	display: block;
	clear: both;
	&.panel-form-media {
		.panel-heading {
			background-color: #e8e9eb;
		    font-size: 13px;
		    font-weight: 600;
		    height: 30px;
		    line-height: 27px;
		    padding: 6px 0 3px 15px;
		    text-align: left;		    
		}
		.panel-body {
			.row {
				margin:0 0 20px 0;
			}
			border: 1px solid #efefef;
			padding: 10px;
			color: #2b2b2b;
			background-color: #f8f8f8;
			.col-sm-3 {
				width: 30%;
				display: inline-block;
				vertical-align: top;				
			}
			.col-sm-6 {
				width: 30%;
				display: inline-block;
			}
			img {
				max-width: 200px;
				max-height: 120px;
			}
			.btn-iconic {
				padding: 2px 4px 11px 7px;
				height: 27px;
				width: 27px;
			}
			.template-download .col-sm-6{
				padding-top: 10px;
				padding-bottom: 5px;
				min-height: 70px;
			}
			@media (max-width: 768px) {
				.col-sm-3, .col-sm-6 {					
						width: 100%;
						display: block;
						vertical-align: middle;
						clear: both;
						text-align: center;
						word-wrap: break-word;
						min-height: 10px;
					}
				}
		}
	}
	.center-block {
		text-align: center;
		padding: 10px 0;
		p {
			color: #aaa;
		}
	}
	.pull-right {
		float: right;
		margin-right: 10px;
	}
}

.content-pills {
	.form-group {
		display: table;
		width: 100%;
		.col-sm-6 {
		    display: table-cell;
		    padding: 20px 20px 0 10px;
		    width: 50%;
		}
		.form-control {
			width: 100%;
		}
	}
}
#cropSection {
	margin:20px 0;
	.nav-pills {
		margin:20px 0 0; 
	}
	.row {
		margin-left:auto;
		margin:20px 0;
	}
}
#cropPanel {
	padding:20px;
}
/* Responsive*/
@media (min-width: 979px) {
	.chart-legends .hidden-legends {
		float:right;
	}
}

@media (max-width: 979px) {
	.nav-collapse-members .notify { 
	    right: auto;
	    margin-left: 7px;   
	    top: auto;
	}

	input, textarea, .uneditable-input {
	    width: 157px;
	}

	.nav-collapse-members {display:none; }
	.nav-collapse-members.in {display:block;}

	.nav-collapse-members, .nav-collapse-members.collapse {
		overflow:inherit;
	}
	.nav-collapse-members.in  .nav .dropdown-menu{
		display: block !important;
	}
	.nav-collapse-members.in   .sign-up.dropdown-toggle {
		border-bottom: 1px solid white;
		height:1px;
		i {
			display: none !important;
		}
	}

	.nav-collapse-members.in {
			overflow:inherit;

		> .nav {
			&, > li {
				float:left; 
				width:100%;
			}
			.dropdown-menu a:hover {
				color:#fff;
			}
			> li > .dropdown-menu:after,  > li > .dropdown-menu:before {
				display:none;
			}
		}
		
		.dropdown-menu .divider {
			background-color:#333; 
			border:none;
		}

	}
  

	.standard-table {
		input, textarea {
			width: 98%;
		} 
		.bigger {
			input,textarea {
				width:98%;
			}
		}
		input[type="radio"], input[type="checkbox"] {
			width:auto;
		}
		input[type="file"] {
			width:auto;
			max-width:98%;
		}
		input.httpInput {
			width:70%;
		}
		.galleryImgThumb {
			img {
				width:100%;
			}
		}
	}

	.responsive {

		.responsive-scrollmenu {
			width:100%;
			overflow-x: scroll;
			overflow-y: hidden;
			border-bottom:1px solid #E8E9EB;
			padding:0 0 10px 0;
			.scroll-content {
				display:inline-block;
				white-space: nowrap;
				max-width: 100%;
			}
		}
		.responsive-menu {
			width:100%;
			
			.webitem {
				width:250px;
				display:inline-block;
				margin:0 10px 0 0;
				white-space: normal;	
				b {
					display: inline-block;
				    max-width: 200px;
				    overflow: hidden;
				    padding-bottom: 3px;
				    text-overflow: ellipsis;
				    white-space: nowrap;	
				}			
			}
			.addcontent {					

			}
		}

		.responsive-dashboard {
			width:100%;
			margin:20px 0;
		}
	}

	.dashboard {		
		header {
		}
		.game-completion {
			.completion-chart {
				width:97px;
				span {						    
					right: 38px;			
				}
			}
		}
		section.stats-summary {
					
		}
	}

	.chart-legends {
		> ul {
			display:none;
		}
		.hidden-legends {
			span {
				display:none;
			}
			ul {
				z-index:1000;
				opacity:1 !important;
				position: relative;
				margin-bottom: 20px;
				li {
					display:inline-block;
					border:none!important;
					padding: 2px 0 2px 20px;
					&:hover {
						background: transparent !important;
					}
				}
			}
		}
	}
	.member-form {

		#image_fb img {
		    float: none;
		}
		
		.left, .right {
			border: medium none !important;
		    float: left;		   
		    padding: 0 2% 20px;
		    text-align: left;
		    width: 96%;
		    span {
		    	line-height: 120% !important;
		    	font-size: 100% !important;
		    }
		    h2 {
		    	margin-left:0;
		    	font-size: 140%!important;
		    	line-height: 200%!important;
		    }
		    .checking {
		    	font-size: 100%!important;
		    }
		    p.standardButton {
			    margin: 15px 20%;
			}
			label {
				font-size: 100%;
				em {
					font-size: 100%;
				}
			}
		}
		
	}
	
	.profile-tabs {
		border:none;
		padding: 10px;
		background-color: #f3f3f3;
		li {
			> a {
				padding:5px 10px;
				background-color: transparent;
	    		border-color: transparent;				
			}
			&.active > a  {
				
			}
		}
	}

    
}

@media (min-width: 768px) and (max-width: 979px){  
		.dashboard {
			.stats-complete {
				canvas {
					margin-left:-10px;
					width:600px !important;
					height: 200px !important;
				}
			}
		}
		#personal-info {
			div.right {
				width:64%;
				margin-top: 34px;
			}
			div.left {
				width:28%;
			}
		}
  

}


@media (max-width: 767px) {   
	.responsive {
		.responsive-scrollmenu {
			padding:0 0 10px 0;
		}
	}
    
	.dashboard {		
		header {
			font-size: 105% !important;
			.btn {
				font-size: 80% !important;
			    font-weight: normal !important;
			    line-height: 1.8em;
			    padding: 5px 10px;
			}
			h1 {
				line-height:1.1em !important;
			}
		}
		section, header {
			padding:15px 10px;
		}
		.game-completion {
			.completion-chart {
				width:97px;
				margin-right: 0;
				span {						    
					right: 38px;			
				}
			}
			.span7 {
				margin-top:20px;
			}
			.large-step {
				padding:12px 5px;
			}
		}
		.stats-complete {
			canvas {
				margin-left:-10px;
				width:100% !important;
				height: 210px !important;
			}
		}
		section.stats-summary {
			font-size:120%!important;
			h1, h5 {
				margin-right:20px;
				font-size:2.6em !important;
				font-weight: 600 !important;
				line-height: 0.8em !important;
			}
			.row-fluid {
				> div {
					border:none!important;
					padding: 10px 0;
					width:50%;
					text-align: center;
					&:nth-child(2n+1) {
						clear:left;
					}
				}
			}
			.large-rating {
				margin-top:5px;
			}
		}
	}

	.minor-nav {
		ul {
			background-color: #eee;
			padding:10px;
			li {				
				 a {
				 	white-space: nowrap;
				 	padding: 7px 15px !important;
				 }
			}
		}
	}

	/* Table Choose Level*/
	.standardChooseLevel {
		select {
			width:100px;
		}
	}
	
     
}

@media (max-width: 640px) { 
   .dashboard {
			.stats-complete {
				canvas {
					margin-left:-10px;
					width:100% !important;
					height: 200px !important;
				}
			}
		}


	.responsive .responsive-scrollmenu {
	    margin: 0 0 0 2%;
	    width: 96%;
	}

	.member-form {
		.checking {
			span {
				display: block;
			}
		}
	}	

	.table-itemlist{
		th {
			widht:auto !important;
			&:last-child {
					display: none;
				}
		}
		td {
			padding:3px !important;
			word-break: break-all;
			&:last-child {
				display: none;
			}
		}
		.main-options {
			white-space: normal !important;
		}   
	}
}


@media (max-width: 480px) { 
   .dashboard {
			.stats-complete {
				canvas {
					margin-left:-10px;
					width:100% !important;
					height: 160px !important;
				}
			}
		}

}

@media (max-width: 320px) { 
   .dashboard {
			.stats-complete {
				canvas {
					margin-left:-10px;
					width:100% !important;
					height: 120px !important;
				}
			}
		}
	    body {
	    	min-width:300px;
	    }
}